In [1]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv('stroke-data.csv')

In [8]:
df

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [14]:
df = df.drop(columns = 'id')

In [16]:
df

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...
5105,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5106,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [18]:
df.isnull().sum()

gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

In [22]:
df['gender'].value_counts()

gender
Female    2994
Male      2115
Other        1
Name: count, dtype: int64

In [24]:
df = df[df['gender'] != 'Other']

In [28]:
df['gender'].value_counts()

gender
Female    2994
Male      2115
Name: count, dtype: int64

In [30]:
df['gender'] = df['gender'].apply(lambda x:0 if x == 'Male' else 1)

C:\Users\pdcha\AppData\Local\Temp\ipykernel_9752\3394911119.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['gender'] = df['gender'].apply(lambda x:0 if x == 'Male' else 1)

In [32]:
df['gender']

0       0
1       1
2       0
3       1
4       1
       ..
5105    1
5106    1
5107    1
5108    0
5109    1
Name: gender, Length: 5109, dtype: int64

In [80]:
df

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,0,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,1,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,0,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,1,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...
5105,1,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5106,1,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,1,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,0,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,1,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [82]:
df['age']

0       67.0
1       61.0
2       80.0
3       49.0
4       79.0
        ...
5105    80.0
5106    81.0
5107    35.0
5108    51.0
5109    44.0
Name: age, Length: 5109, dtype: float64

In [84]:
df['age'].value_counts()

age
78.00    102
57.00     95
52.00     90
54.00     87
51.00     86
        ...
1.40       3
0.48       3
0.16       3
0.40       2
0.08       2
Name: count, Length: 104, dtype: int64

In [86]:
df['hypertension'].value_counts()

hypertension
0    4611
1     498
Name: count, dtype: int64

In [88]:
df['work_type']

0             Private
1       Self-employed
2             Private
3             Private
4       Self-employed
            ...
5105          Private
5106    Self-employed
5107    Self-employed
5108          Private
5109         Govt_job
Name: work_type, Length: 5109, dtype: object

In [90]:
df['work_type'].value_counts()

work_type
Private          2924
Self-employed     819
children          687
Govt_job          657
Never_worked       22
Name: count, dtype: int64

In [92]:
df['Residence_type']

0       Urban
1       Rural
2       Rural
3       Urban
4       Rural
        ...
5105    Urban
5106    Urban
5107    Rural
5108    Rural
5109    Urban
Name: Residence_type, Length: 5109, dtype: object

In [94]:
df['Residence_type'] = df['Residence_type'].apply(lambda x:1 if x=='Urban' else 0)

C:\Users\pdcha\AppData\Local\Temp\ipykernel_9752\1098392076.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Residence_type'] = df['Residence_type'].apply(lambda x:1 if x=='Urban' else 0)

In [96]:
df

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,0,67.0,0,1,Yes,Private,1,228.69,36.6,formerly smoked,1
1,1,61.0,0,0,Yes,Self-employed,0,202.21,NaN,never smoked,1
2,0,80.0,0,1,Yes,Private,0,105.92,32.5,never smoked,1
3,1,49.0,0,0,Yes,Private,1,171.23,34.4,smokes,1
4,1,79.0,1,0,Yes,Self-employed,0,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...
5105,1,80.0,1,0,Yes,Private,1,83.75,NaN,never smoked,0
5106,1,81.0,0,0,Yes,Self-employed,1,125.20,40.0,never smoked,0
5107,1,35.0,0,0,Yes,Self-employed,0,82.99,30.6,never smoked,0
5108,0,51.0,0,0,Yes,Private,0,166.29,25.6,formerly smoked,0
5109,1,44.0,0,0,Yes,Govt_job,1,85.28,26.2,Unknown,0

In [100]:
df['avg_glucose_level']

0       228.69
1       202.21
2       105.92
3       171.23
4       174.12
         ...
5105     83.75
5106    125.20
5107     82.99
5108    166.29
5109     85.28
Name: avg_glucose_level, Length: 5109, dtype: float64

In [106]:
df['avg_glucose_level'].value_counts()

avg_glucose_level
93.88     6
91.68     5
91.85     5
83.16     5
73.00     5
         ..
94.07     1
111.93    1
94.40     1
95.57     1
85.28     1
Name: count, Length: 3978, dtype: int64

In [108]:
df['bmi']

0       36.6
1        NaN
2       32.5
3       34.4
4       24.0
        ...
5105     NaN
5106    40.0
5107    30.6
5108    25.6
5109    26.2
Name: bmi, Length: 5109, dtype: float64

In [110]:
df['bmi'] = df['bmi'].ffill()

C:\Users\pdcha\AppData\Local\Temp\ipykernel_9752\787259952.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['bmi'] = df['bmi'].ffill()

In [112]:
df['bmi'].isnull().sum()

0

In [114]:
df['smoking_status']

0       formerly smoked
1          never smoked
2          never smoked
3                smokes
4          never smoked
             ...
5105       never smoked
5106       never smoked
5107       never smoked
5108    formerly smoked
5109            Unknown
Name: smoking_status, Length: 5109, dtype: object

In [116]:
df['smoking_status'].value_counts()

smoking_status
never smoked       1892
Unknown            1544
formerly smoked     884
smokes              789
Name: count, dtype: int64

In [122]:
df['stroke']

0       1
1       1
2       1
3       1
4       1
       ..
5105    0
5106    0
5107    0
5108    0
5109    0
Name: stroke, Length: 5109, dtype: int64

In [124]:
df['stroke'].value_counts()

stroke
0    4860
1     249
Name: count, dtype: int64