In [1]:
import numpy as np
import pandas as  pd

In [2]:
df = pd.read_csv('Bengaluru_House_Data.csv')

In [3]:
df

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00
...,...,...,...,...,...,...,...,...,...
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.0,231.00
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,NaN,3600,5.0,NaN,400.00
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.0,60.00
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.0,488.00
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,NaN,550,1.0,1.0,17.00

In [4]:
df.isnull().sum()

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [5]:
df['area_type'] = df['area_type'].str.replace('  Area' , '')

In [6]:
df

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00
...,...,...,...,...,...,...,...,...,...
13315,Built-up,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.0,231.00
13316,Super built-up,Ready To Move,Richards Town,4 BHK,NaN,3600,5.0,NaN,400.00
13317,Built-up,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.0,60.00
13318,Super built-up,18-Jun,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.0,488.00
13319,Super built-up,Ready To Move,Doddathoguru,1 BHK,NaN,550,1.0,1.0,17.00

In [7]:
df['area_type']

0        Super built-up
1                  Plot
2              Built-up
3        Super built-up
4        Super built-up
              ...
13315          Built-up
13316    Super built-up
13317          Built-up
13318    Super built-up
13319    Super built-up
Name: area_type, Length: 13320, dtype: object

In [8]:
df['availability']

0               19-Dec
1        Ready To Move
2        Ready To Move
3        Ready To Move
4        Ready To Move
             ...
13315    Ready To Move
13316    Ready To Move
13317    Ready To Move
13318           18-Jun
13319    Ready To Move
Name: availability, Length: 13320, dtype: object

In [9]:
df['availability'].unique()

array(['19-Dec', 'Ready To Move', '18-May', '18-Feb', '18-Nov', '20-Dec',
       '17-Oct', '21-Dec', '19-Sep', '20-Sep', '18-Mar', '20-Feb',
       '18-Apr', '20-Aug', '18-Oct', '19-Mar', '17-Sep', '18-Dec',
       '17-Aug', '19-Apr', '18-Jun', '22-Dec', '22-Jan', '18-Aug',
       '19-Jan', '17-Jul', '18-Jul', '21-Jun', '20-May', '19-Aug',
       '18-Sep', '17-May', '17-Jun', '21-May', '18-Jan', '20-Mar',
       '17-Dec', '16-Mar', '19-Jun', '22-Jun', '19-Jul', '21-Feb',
       'Immediate Possession', '19-May', '17-Nov', '20-Oct', '20-Jun',
       '19-Feb', '21-Oct', '21-Jan', '17-Mar', '17-Apr', '22-May',
       '19-Oct', '21-Jul', '21-Nov', '21-Mar', '16-Dec', '22-Mar',
       '20-Jan', '21-Sep', '21-Aug', '14-Nov', '19-Nov', '15-Nov',
       '16-Jul', '15-Jun', '17-Feb', '20-Nov', '20-Jul', '16-Sep',
       '15-Oct', '15-Dec', '16-Oct', '22-Nov', '15-Aug', '17-Jan',
       '16-Nov', '20-Apr', '16-Jan', '14-Jul'], dtype=object)

In [10]:
df['location'].isnull().sum()

1

In [11]:
df= df[~df['location'].isnull()]

In [12]:
df

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00
...,...,...,...,...,...,...,...,...,...
13315,Built-up,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.0,231.00
13316,Super built-up,Ready To Move,Richards Town,4 BHK,NaN,3600,5.0,NaN,400.00
13317,Built-up,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.0,60.00
13318,Super built-up,18-Jun,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.0,488.00
13319,Super built-up,Ready To Move,Doddathoguru,1 BHK,NaN,550,1.0,1.0,17.00

In [13]:
df['location'].isnull().sum()

0

In [14]:
df['size']

0            2 BHK
1        4 Bedroom
2            3 BHK
3            3 BHK
4            2 BHK
           ...
13315    5 Bedroom
13316        4 BHK
13317        2 BHK
13318        4 BHK
13319        1 BHK
Name: size, Length: 13319, dtype: object

In [15]:
df['size'].isnull().sum()

16

In [16]:
df = df[~df['size'].isnull()]

In [17]:
df['size'].unique()

array(['2 BHK', '4 Bedroom', '3 BHK', '4 BHK', '6 Bedroom', '3 Bedroom',
       '1 BHK', '1 RK', '1 Bedroom', '8 Bedroom', '2 Bedroom',
       '7 Bedroom', '5 BHK', '7 BHK', '6 BHK', '5 Bedroom', '11 BHK',
       '9 BHK', '9 Bedroom', '27 BHK', '10 Bedroom', '11 Bedroom',
       '10 BHK', '19 BHK', '16 BHK', '43 Bedroom', '14 BHK', '8 BHK',
       '12 Bedroom', '13 BHK', '18 Bedroom'], dtype=object)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13303 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13303 non-null  object
 1   availability  13303 non-null  object
 2   location      13303 non-null  object
 3   size          13303 non-null  object
 4   society       7804 non-null   object
 5   total_sqft    13303 non-null  object
 6   bath          13246 non-null  float64
 7   balcony       12710 non-null  float64
 8   price         13303 non-null  float64
dtypes: float64(3), object(6)
memory usage: 1.0+ MB

In [19]:
# df['size'] = df['size'].str.replace(' BHK', '')
# df['size'] = df['size'].str.replace(' Bedroom', '')
# df['size'] = df['size'].str.replace(' Rk', '')

df['size'] = df['size'].str.extract('(\d+)').astype(int)

C:\Users\pdcha\AppData\Local\Temp\ipykernel_10632\4141430253.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['size'] = df['size'].str.extract('(\d+)').astype(int)

In [20]:
df

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up,19-Dec,Electronic City Phase II,2,Coomee,1056,2.0,1.0,39.07
1,Plot,Ready To Move,Chikka Tirupathi,4,Theanmp,2600,5.0,3.0,120.00
2,Built-up,Ready To Move,Uttarahalli,3,NaN,1440,2.0,3.0,62.00
3,Super built-up,Ready To Move,Lingadheeranahalli,3,Soiewre,1521,3.0,1.0,95.00
4,Super built-up,Ready To Move,Kothanur,2,NaN,1200,2.0,1.0,51.00
...,...,...,...,...,...,...,...,...,...
13315,Built-up,Ready To Move,Whitefield,5,ArsiaEx,3453,4.0,0.0,231.00
13316,Super built-up,Ready To Move,Richards Town,4,NaN,3600,5.0,NaN,400.00
13317,Built-up,Ready To Move,Raja Rajeshwari Nagar,2,Mahla T,1141,2.0,1.0,60.00
13318,Super built-up,18-Jun,Padmanabhanagar,4,SollyCl,4689,4.0,1.0,488.00
13319,Super built-up,Ready To Move,Doddathoguru,1,NaN,550,1.0,1.0,17.00

In [44]:
df['society'].unique()

array(['Coomee ', 'Theanmp', nan, ..., 'SJovest', 'ThhtsV ', 'RSntsAp'],
      dtype=object)

In [50]:
df['society'].isnull().sum()

5499

In [54]:
df.columns

Index(['area_type', 'availability', 'location', 'size', 'society',
       'total_sqft', 'bath', 'balcony', 'price'],
      dtype='object')

In [56]:
df['society']=df['society'].ffill()

C:\Users\pdcha\AppData\Local\Temp\ipykernel_10632\1994300314.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['society']=df['society'].ffill()

In [60]:
df['society'].isnull().sum()

0

In [62]:
df['size'].isnull().sum()

0

In [66]:
df['total_sqft'].isnull().sum()

0

In [72]:
df['total_sqft'].unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [70]:
df['bath']

0        2.0
1        5.0
2        2.0
3        3.0
4        2.0
        ...
13315    4.0
13316    5.0
13317    2.0
13318    4.0
13319    1.0
Name: bath, Length: 13303, dtype: float64

In [74]:
df['bath'].unique()

array([ 2.,  5.,  3.,  4.,  6.,  1.,  9., nan,  8.,  7., 11., 10., 14.,
       27., 12., 16., 40., 15., 13., 18.])

In [76]:
df['bath'].isnull().sum()

57

In [82]:
df = df[df['bath'] < df['size']+1]

In [84]:
df

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
2,Built-up,Ready To Move,Uttarahalli,3,Theanmp,1440,2.0,3.0,62.00
10,Super built-up,18-Feb,Whitefield,3,Brway G,1800,2.0,2.0,70.00
26,Super built-up,Ready To Move,Electronic City,2,Itelaa,660,1.0,1.0,23.10
29,Super built-up,Ready To Move,Electronic City,3,KBityo,1025,2.0,1.0,47.00
31,Super built-up,Ready To Move,Bisuvanahalli,3,Prityel,1075,2.0,1.0,35.00
...,...,...,...,...,...,...,...,...,...
13290,Super built-up,Ready To Move,Sarjapur Road,4,Maana E,4050,2.0,1.0,450.00
13292,Super built-up,18-Jul,Udayapur Village,3,Plowsri,1440,2.0,2.0,63.93
13294,Super built-up,Ready To Move,Sultan Palaya,4,RSntsAp,2200,3.0,3.0,80.00
13313,Super built-up,Ready To Move,Uttarahalli,3,Aklia R,1345,2.0,1.0,57.00
13315,Built-up,Ready To Move,Whitefield,5,ArsiaEx,3453,4.0,0.0,231.00

In [92]:
df['balcony'].isnull().sum()

73

In [90]:
df['price'].isnull().sum()

0