In [131]:
import pandas as pd

In [132]:
df = pd.read_csv('quikr_car.csv')

In [133]:
df.head()

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel

In [134]:
df.isnull().sum()

name           0
company        0
year           0
Price          0
kms_driven    52
fuel_type     55
dtype: int64

In [135]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        892 non-null    object
 1   company     892 non-null    object
 2   year        892 non-null    object
 3   Price       892 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: object(6)
memory usage: 41.9+ KB

In [136]:
df.shape

(892, 6)

In [137]:
df['name']

0        Hyundai Santro Xing XO eRLX Euro III
1                     Mahindra Jeep CL550 MDI
2                  Maruti Suzuki Alto 800 Vxi
3      Hyundai Grand i10 Magna 1.2 Kappa VTVT
4            Ford EcoSport Titanium 1.5L TDCi
                        ...
887                                        Ta
888                       Tata Zest XM Diesel
889                        Mahindra Quanto C8
890                  Honda Amaze 1.2 E i VTEC
891                 Chevrolet Sail 1.2 LT ABS
Name: name, Length: 892, dtype: object

In [138]:
def convert(x):
    word = x.split()
    firstthreee= word[:3]
    return " ".join(firstthreee)

In [139]:
df['model_name'] = df['name'].apply(convert)

In [140]:
df['model_name']

0         Hyundai Santro Xing
1         Mahindra Jeep CL550
2          Maruti Suzuki Alto
3           Hyundai Grand i10
4      Ford EcoSport Titanium
                ...
887                        Ta
888              Tata Zest XM
889        Mahindra Quanto C8
890           Honda Amaze 1.2
891        Chevrolet Sail 1.2
Name: model_name, Length: 892, dtype: object

In [141]:
# df.drop(columns = 'company_name' , inplace = True)

In [142]:
df['model_name'].unique()

array(['Hyundai Santro Xing', 'Mahindra Jeep CL550', 'Maruti Suzuki Alto',
       'Hyundai Grand i10', 'Ford EcoSport Titanium', 'Ford Figo',
       'Hyundai Eon', 'Ford EcoSport Ambiente', 'Skoda Fabia Classic',
       'Maruti Suzuki Stingray', 'Hyundai Elite i20',
       'Mahindra Scorpio SLE', 'Audi A8', 'Audi Q7',
       'Mahindra Scorpio S10', 'Hyundai i20 Sportz',
       'Maruti Suzuki Vitara', 'Mahindra Bolero DI',
       'Maruti Suzuki Swift', 'Maruti Suzuki Wagon', 'Toyota Innova 2.0',
       'Renault Lodgy 85', 'Skoda Yeti Ambition', 'Maruti Suzuki Baleno',
       'Renault Duster 110', 'Renault Duster 85', 'Honda City 1.5',
       'Maruti Suzuki Dzire', 'Honda Amaze', 'Honda Amaze 1.5',
       'Honda City', 'Datsun Redi GO', 'Maruti Suzuki SX4',
       'Mitsubishi Pajero Sport', 'Honda City ZX', 'Tata Indigo eCS',
       'Volkswagen Polo Highline', 'I want to', 'Chevrolet Spark LS',
       'Renault Duster 110PS', 'Mini Cooper S', 'Skoda Fabia 1.2L',
       'Renault Duster', 'Mahindra Scorpio S4', 'Mahindra Scorpio VLX',
       'Mahindra Quanto C8', 'Ford EcoSport', 'Honda Brio',
       'Volkswagen Vento Highline', 'Hyundai i20 Magna',
       'Toyota Corolla Altis', 'Hyundai Verna Transform', 'BMW 3 Series',
       'Maruti Suzuki A', 'Toyota Etios GD', 'Ford Figo Diesel',
       'Chevrolet Beat LT', 'BMW 7 Series', 'Mahindra XUV500 W8',
       'Hyundai i10 Magna', 'Hyundai Verna Fluidic',
       'Maruti Suzuki Ertiga', 'Honda Amaze 1.2', 'Hyundai i20 Asta',
       'Maruti Suzuki Eeco', 'Maruti Suzuki Esteem', 'Maruti Suzuki Ritz',
       'Toyota Etios Liva', 'Chevrolet Spark', 'Nissan Micra XV',
       'Chevrolet Beat', 'Toyota Corolla', 'Ford EcoSport Trend',
       'Tata Indica V2', 'Hindustan Motors Ambassador',
       'Toyota Innova 2.5', 'Volkswagen Jetta Highline',
       'Volkswagen Polo Comfortline', 'Volkswagen Polo',
       'Mahindra Scorpio', 'Nissan Sunny', 'Renault Kwid',
       'Chevrolet Spark LT', 'Fiat Punto Emotion', 'Hyundai i10 Sportz',
       'Chevrolet Beat LS', 'Tata Indigo CS', 'Hyundai Eon Era',
       'Mahindra XUV500', 'Ford Fiesta', 'Hyundai i20',
       'Hyundai Fluidic Verna', 'Commercial , DZire', 'Fiat Petra ELX',
       'Maruti Suzuki Ciaz', 'Maruti Suzuki Zen', 'Hyundai Creta 1.6',
       'Tata indigo ecs', 'Mahindra Scorpio SLX', 'Tata Nano Cx',
       'Tata Sumo Victa', 'MARUTI SUZUKI DESI',
       'Volkswagen Passat Diesel', 'Renault Scala RxL',
       'Hyundai i20 Active', 'Mahindra Xylo E4', 'Mahindra Jeep MM',
       'Mahindra Bolero SLE', 'Force Motors Force', 'Toyota Etios',
       'Honda City VX', 'Mahindra Thar CRDe', 'Audi A4 1.8',
       'Mercedes Benz GLA', 'Land Rover Freelander', 'Renault Kwid RXT',
       'Tata Aria Pleasure', 'Mercedes Benz B', 'Datsun GO T',
       'Honda Jazz VX', 'Chevrolet Tavera Neo', 'Hyundai Eon Sportz',
       'Tata Sumo Gold', 'Chevrolet Enjoy 1.4', 'Nissan Terrano XL',
       'Maruti Suzuki Maruti', 'Renault Kwid 1.0', 'Hyundai Accent GLX',
       'Yama', 'Mahindra TUV300 T4', 'Tata Indica eV2', 'Honda Accord',
       'Mahindra Scorpio 2.6', 'Honda Mobilio', 'Skoda Laura',
       'Tata Manza Aura', 'Chevrolet Sail UVA', 'Audi A4 2.0',
       'Hyundai Elantra SX', 'Mahindra KUV100 K8', 'Hyundai i10',
       'Hyundai Accent', 'Hyundai Verna', 'Toyota Fortuner',
       'Mahindra Bolero Power', 'selling car Ta', 'Tata Zest 90',
       'Skoda Rapid Elegance', 'Tata Vista Quadrajet',
       'Chevrolet Beat Diesel', 'Hyundai Verna 1.4',
       'Maruti Suzuki Versa', 'Tata Indigo LX', 'Volkswagen Vento Konekt',
       'Mercedes Benz C', 'URJE', 'Maruti Suzuki Omni',
       'Hyundai Sonata Transform', 'Honda Jazz S', 'Mahindra Scorpio W',
       'Swift Dzire Tour', 'Honda Brio V', 'Mahindra TUV300 T8',
       'Nissan X Trail', 'Ford Ikon 1.3', 'Toyota Fortuner 3.0',
       'Tata Manza ELAN', 'Tata zest x', 'Mahindra xyl',
       'Mercedes Benz A', 'Tata Indigo LS', 'Used Commercial Maruti',
       'Hyundai Verna 1.6', 'BMW 5 Series', 'Skoda Superb 1.8',
       'Audi Q3 2.0', 'Ford Figo Duratorq', 'Mahindra Logan Diesel',
       'Tata Nano GenX', 'Honda City SV', 'Ford Figo Petrol',
       'Toyota Corolla H2', 'Hyundai Xcent Base',
       'Hyundai Accent Executive', 'Tata Zest XE', 'Mahindra XUV500 W6',
       'Tata Tigor Revotron', 'Maruti Suzuki 800', 'Honda Mobilio S',
       'Tata Indica', 'Honda Brio VX', 'Tata Nano Lx', 'Jaguar XE XE',
       'Hyundai Xcent S', 'Hyundai Eon Magna', 'Hyundai Eon D',
       'Maruti Suzuki Estilo', 'Mahindra Scorpio Vlx',
       'Mitsubishi Lancer 1.8', 'Ford Fiesta SXi', 'Audi A6 2.0',
       'Hyundai Getz Prime', 'Hyundai Santro', 'Chevrolet Beat PS',
       'BMW X1 xDrive20d', 'Tata Nano', 'Chevrolet Cruze LTZ', 'Hyun',
       'Mahindra XUV500 W10', 'Hyundai Accent GLE', 'Force Motors One',
       'Datsun Go Plus', 'Chevrolet Spark 1.0', 'Renault Duster 85PS',
       'Chevrolet Enjoy', 'Jeep Wrangler Unlimited', 'Hyundai Verna VGT',
       'Maruti Suzuki Celerio', 'Tata Zest Quadrajet', 'Hyundai i10 Era',
       'Tata Indigo Marina', 'Commercial Chevrolet Sail',
       'Hyundai Xcent SX', 'Tata Nano LX', 'Commercial Car Ta',
       'tata Indica', 'Mahindra Xylo E8', 'Tata Manza Aqua',
       'Used bt new', 'Sale tata', 'Tata Venture EX',
       'Skoda Octavia Classic', 'Tata indigo 2017', 'Ford Ikon 1.6',
       'Tata indigo', 'Nissan Sunny XL', 'very good condition',
       'Sale Hyundai xcent', 'Volkswagen Polo Trendline',
       'Hyundai Elantra 1.8', 'Jaguar XF 2.2', 'Audi Q5 2.0',
       'BMW X1 sDrive20d', 'Maruti Suzuki S',
       'Volkswagen Vento Comfortline', 'Mahindra KUV100',
       'Volkswagen Jetta Comfortline', 'Volvo S80 Summum', 'BMW X1',
       'Renault Duster RxL', 'Honda WR V', 'Mahindra Scorpio LX',
       'Audi A3 Cabriolet', 'Hyundai Santro AE', 'i want sale',
       'Tata ZEST 6', 'Mahindra Xylo D2', 'Hyundai Getz GLE',
       'Nissan Micra XL', 'MARUTI SUZUKI ERTIGA', 'Chevrolet Tavera LS',
       'Tata Tiago Revotron', 'Tata Tiago Revotorq', 'Tata Nexon', 'Tata',
       'Ford Fusion 1.4', 'Fiat Linea Emotion', 'Tata Sumo Grande',
       'Volkswagen Polo Highline1.2L', '2012 Tata Sumo',
       'Well mentained Tata', 'all paper updated',
       'Maruti Ertiga showroom', '7 SEATER MAHINDRA', '9 SEATER MAHINDRA',
       'scratch less Tata', 'Maruti Suzuki swift',
       'Commercial Chevrolet beat', 'urgent sell my', 'sell my car',
       'Hyunda', 'Commercial Maruti Suzuki', 'urgent sale Ta', 'tata',
       'TATA INDI', 'Hyundai Creta', 'Tata Bolt XM', 'Hyundai Venue',
       'Renault Lodgy', 'Ford Endeavor 4x4', 'Any type car',
       'Mahindra Logan', 'Chevrolet Sail 1.2', 'Tata Manza',
       'Toyota Etios G', 'Toyota Qualis', 'Mahindra Quanto C4',
       'Hyundai i20 Select', 'Hyundai Getz', 'Skoda Fabia',
       'tata zest 2017', 'Ta', 'Tata Zest XM'], dtype=object)

In [143]:
df.drop(columns = 'company' , inplace=True)

In [144]:
df

,name,year,Price,kms_driven,fuel_type,model_name
0,Hyundai Santro Xing XO eRLX Euro III,2007,"80,000","45,000 kms",Petrol,Hyundai Santro Xing
1,Mahindra Jeep CL550 MDI,2006,"4,25,000",40 kms,Diesel,Mahindra Jeep CL550
2,Maruti Suzuki Alto 800 Vxi,2018,Ask For Price,"22,000 kms",Petrol,Maruti Suzuki Alto
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,2014,"3,25,000","28,000 kms",Petrol,Hyundai Grand i10
4,Ford EcoSport Titanium 1.5L TDCi,2014,"5,75,000","36,000 kms",Diesel,Ford EcoSport Titanium
...,...,...,...,...,...,...
887,Ta,zest,"3,10,000",NaN,NaN,Ta
888,Tata Zest XM Diesel,2018,"2,60,000","27,000 kms",Diesel,Tata Zest XM
889,Mahindra Quanto C8,2013,"3,90,000","40,000 kms",Diesel,Mahindra Quanto C8
890,Honda Amaze 1.2 E i VTEC,2014,"1,80,000",Petrol,NaN,Honda Amaze 1.2
891,Chevrolet Sail 1.2 LT ABS,2014,"1,60,000",Petrol,NaN,Chevrolet Sail 1.2

In [145]:
df['year'].unique()

array(['2007', '2006', '2018', '2014', '2015', '2012', '2013', '2016',
       '2010', '2017', '2008', '2011', '2019', '2009', '2005', '2000',
       '...', '150k', 'TOUR', '2003', 'r 15', '2004', 'Zest', '/-Rs',
       'sale', '1995', 'ara)', '2002', 'SELL', '2001', 'tion', 'odel',
       '2 bs', 'arry', 'Eon', 'o...', 'ture', 'emi', 'car', 'able', 'no.',
       'd...', 'SALE', 'digo', 'sell', 'd Ex', 'n...', 'e...', 'D...',
       ', Ac', 'go .', 'k...', 'o c4', 'zire', 'cent', 'Sumo', 'cab',
       't xe', 'EV2', 'r...', 'zest'], dtype=object)

In [146]:
import re
df = df[df['year'].str.isnumeric()]

In [147]:
df

,name,year,Price,kms_driven,fuel_type,model_name
0,Hyundai Santro Xing XO eRLX Euro III,2007,"80,000","45,000 kms",Petrol,Hyundai Santro Xing
1,Mahindra Jeep CL550 MDI,2006,"4,25,000",40 kms,Diesel,Mahindra Jeep CL550
2,Maruti Suzuki Alto 800 Vxi,2018,Ask For Price,"22,000 kms",Petrol,Maruti Suzuki Alto
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,2014,"3,25,000","28,000 kms",Petrol,Hyundai Grand i10
4,Ford EcoSport Titanium 1.5L TDCi,2014,"5,75,000","36,000 kms",Diesel,Ford EcoSport Titanium
...,...,...,...,...,...,...
886,Toyota Corolla Altis,2009,"3,00,000","1,32,000 kms",Petrol,Toyota Corolla Altis
888,Tata Zest XM Diesel,2018,"2,60,000","27,000 kms",Diesel,Tata Zest XM
889,Mahindra Quanto C8,2013,"3,90,000","40,000 kms",Diesel,Mahindra Quanto C8
890,Honda Amaze 1.2 E i VTEC,2014,"1,80,000",Petrol,NaN,Honda Amaze 1.2
891,Chevrolet Sail 1.2 LT ABS,2014,"1,60,000",Petrol,NaN,Chevrolet Sail 1.2

In [148]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 842 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        842 non-null    object
 1   year        842 non-null    object
 2   Price       842 non-null    object
 3   kms_driven  840 non-null    object
 4   fuel_type   837 non-null    object
 5   model_name  842 non-null    object
dtypes: object(6)
memory usage: 46.0+ KB

In [149]:
df['year'] = df['year'].astype(int)

C:\Users\pdcha\AppData\Local\Temp\ipykernel_13276\1483339248.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['year'] = df['year'].astype(int)

In [150]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 842 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        842 non-null    object
 1   year        842 non-null    int32
 2   Price       842 non-null    object
 3   kms_driven  840 non-null    object
 4   fuel_type   837 non-null    object
 5   model_name  842 non-null    object
dtypes: int32(1), object(5)
memory usage: 42.8+ KB

In [151]:
df['Price'].unique()

array(['80,000', '4,25,000', 'Ask For Price', '3,25,000', '5,75,000',
       '1,75,000', '1,90,000', '8,30,000', '2,50,000', '1,82,000',
       '3,15,000', '4,15,000', '3,20,000', '10,00,000', '5,00,000',
       '3,50,000', '1,60,000', '3,10,000', '75,000', '1,00,000',
       '2,90,000', '95,000', '1,80,000', '3,85,000', '1,05,000',
       '6,50,000', '6,89,999', '4,48,000', '5,49,000', '5,01,000',
       '4,89,999', '2,80,000', '3,49,999', '2,84,999', '3,45,000',
       '4,99,999', '2,35,000', '2,49,999', '14,75,000', '3,95,000',
       '2,20,000', '1,70,000', '85,000', '2,00,000', '5,70,000',
       '1,10,000', '4,48,999', '18,91,111', '1,59,500', '3,44,999',
       '4,49,999', '8,65,000', '6,99,000', '3,75,000', '2,24,999',
       '12,00,000', '1,95,000', '3,51,000', '2,40,000', '90,000',
       '1,55,000', '6,00,000', '1,89,500', '2,10,000', '3,90,000',
       '1,35,000', '16,00,000', '7,01,000', '2,65,000', '5,25,000',
       '3,72,000', '6,35,000', '5,50,000', '4,85,000', '3,29,500',
       '2,51,111', '5,69,999', '69,999', '2,99,999', '3,99,999',
       '4,50,000', '2,70,000', '1,58,400', '1,79,000', '1,25,000',
       '2,99,000', '1,50,000', '2,75,000', '2,85,000', '3,40,000',
       '70,000', '2,89,999', '8,49,999', '7,49,999', '2,74,999',
       '9,84,999', '5,99,999', '2,44,999', '4,74,999', '2,45,000',
       '1,69,500', '3,70,000', '1,68,000', '1,45,000', '98,500',
       '2,09,000', '1,85,000', '9,00,000', '6,99,999', '1,99,999',
       '5,44,999', '1,99,000', '5,40,000', '49,000', '7,00,000', '55,000',
       '8,95,000', '3,55,000', '5,65,000', '3,65,000', '40,000',
       '4,00,000', '3,30,000', '5,80,000', '3,79,000', '2,19,000',
       '5,19,000', '7,30,000', '20,00,000', '21,00,000', '14,00,000',
       '3,11,000', '8,55,000', '5,35,000', '1,78,000', '3,00,000',
       '2,55,000', '5,49,999', '3,80,000', '57,000', '4,10,000',
       '2,25,000', '1,20,000', '59,000', '5,99,000', '6,75,000', '72,500',
       '6,10,000', '2,30,000', '5,20,000', '5,24,999', '4,24,999',
       '6,44,999', '5,84,999', '7,99,999', '4,44,999', '6,49,999',
       '9,44,999', '5,74,999', '3,74,999', '1,30,000', '4,01,000',
       '13,50,000', '1,74,999', '2,39,999', '99,999', '3,24,999',
       '10,74,999', '11,30,000', '1,49,000', '7,70,000', '30,000',
       '3,35,000', '3,99,000', '65,000', '1,69,999', '1,65,000',
       '5,60,000', '9,50,000', '7,15,000', '45,000', '9,40,000',
       '1,55,555', '15,00,000', '4,95,000', '8,00,000', '12,99,000',
       '5,30,000', '14,99,000', '32,000', '4,05,000', '7,60,000',
       '7,50,000', '4,19,000', '1,40,000', '15,40,000', '1,23,000',
       '4,98,000', '4,80,000', '4,88,000', '15,25,000', '5,48,900',
       '7,25,000', '99,000', '52,000', '28,00,000', '4,99,000',
       '3,81,000', '2,78,000', '6,90,000', '2,60,000', '90,001',
       '1,15,000', '15,99,000', '1,59,000', '51,999', '2,15,000',
       '35,000', '11,50,000', '2,69,000', '60,000', '4,30,000',
       '85,00,003', '4,01,919', '4,90,000', '4,24,000', '2,05,000',
       '5,49,900', '4,35,000', '1,89,700', '3,89,700', '3,60,000',
       '2,95,000', '1,14,990', '10,65,000', '4,70,000', '48,000',
       '1,88,000', '4,65,000', '1,79,999', '21,90,000', '23,90,000',
       '10,75,000', '4,75,000', '10,25,000', '6,15,000', '19,00,000',
       '14,90,000', '15,10,000', '18,50,000', '7,90,000', '17,25,000',
       '12,25,000', '68,000', '9,70,000', '31,00,000', '8,99,000',
       '88,000', '53,000', '5,68,500', '71,000', '5,90,000', '7,95,000',
       '42,000', '1,89,000', '1,62,000', '35,999', '29,00,000', '39,999',
       '50,500', '5,10,000', '8,60,000', '5,00,001'], dtype=object)

In [152]:
df= df[df['Price'] != "Ask For Price"]

In [153]:
df

,name,year,Price,kms_driven,fuel_type,model_name
0,Hyundai Santro Xing XO eRLX Euro III,2007,"80,000","45,000 kms",Petrol,Hyundai Santro Xing
1,Mahindra Jeep CL550 MDI,2006,"4,25,000",40 kms,Diesel,Mahindra Jeep CL550
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,2014,"3,25,000","28,000 kms",Petrol,Hyundai Grand i10
4,Ford EcoSport Titanium 1.5L TDCi,2014,"5,75,000","36,000 kms",Diesel,Ford EcoSport Titanium
6,Ford Figo,2012,"1,75,000","41,000 kms",Diesel,Ford Figo
...,...,...,...,...,...,...
886,Toyota Corolla Altis,2009,"3,00,000","1,32,000 kms",Petrol,Toyota Corolla Altis
888,Tata Zest XM Diesel,2018,"2,60,000","27,000 kms",Diesel,Tata Zest XM
889,Mahindra Quanto C8,2013,"3,90,000","40,000 kms",Diesel,Mahindra Quanto C8
890,Honda Amaze 1.2 E i VTEC,2014,"1,80,000",Petrol,NaN,Honda Amaze 1.2
891,Chevrolet Sail 1.2 LT ABS,2014,"1,60,000",Petrol,NaN,Chevrolet Sail 1.2

In [154]:
df['Price'] = df['Price'].str.replace(',', '')

C:\Users\pdcha\AppData\Local\Temp\ipykernel_13276\3779577870.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Price'] = df['Price'].str.replace(',', '')

In [155]:
df

,name,year,Price,kms_driven,fuel_type,model_name
0,Hyundai Santro Xing XO eRLX Euro III,2007,80000,"45,000 kms",Petrol,Hyundai Santro Xing
1,Mahindra Jeep CL550 MDI,2006,425000,40 kms,Diesel,Mahindra Jeep CL550
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,2014,325000,"28,000 kms",Petrol,Hyundai Grand i10
4,Ford EcoSport Titanium 1.5L TDCi,2014,575000,"36,000 kms",Diesel,Ford EcoSport Titanium
6,Ford Figo,2012,175000,"41,000 kms",Diesel,Ford Figo
...,...,...,...,...,...,...
886,Toyota Corolla Altis,2009,300000,"1,32,000 kms",Petrol,Toyota Corolla Altis
888,Tata Zest XM Diesel,2018,260000,"27,000 kms",Diesel,Tata Zest XM
889,Mahindra Quanto C8,2013,390000,"40,000 kms",Diesel,Mahindra Quanto C8
890,Honda Amaze 1.2 E i VTEC,2014,180000,Petrol,NaN,Honda Amaze 1.2
891,Chevrolet Sail 1.2 LT ABS,2014,160000,Petrol,NaN,Chevrolet Sail 1.2

In [156]:
df['Price'] = df['Price'].astype(int)

C:\Users\pdcha\AppData\Local\Temp\ipykernel_13276\1817184942.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Price'] = df['Price'].astype(int)

In [157]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 819 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        819 non-null    object
 1   year        819 non-null    int32
 2   Price       819 non-null    int32
 3   kms_driven  819 non-null    object
 4   fuel_type   816 non-null    object
 5   model_name  819 non-null    object
dtypes: int32(2), object(4)
memory usage: 38.4+ KB

In [158]:
df['kms_driven'].unique()

array(['45,000 kms', '40 kms', '28,000 kms', '36,000 kms', '41,000 kms',
       '25,000 kms', '24,530 kms', '60,000 kms', '30,000 kms',
       '32,000 kms', '48,660 kms', '4,000 kms', '16,934 kms',
       '43,000 kms', '35,550 kms', '39,522 kms', '39,000 kms',
       '55,000 kms', '72,000 kms', '15,975 kms', '70,000 kms',
       '23,452 kms', '35,522 kms', '48,508 kms', '15,487 kms',
       '82,000 kms', '20,000 kms', '68,000 kms', '38,000 kms',
       '27,000 kms', '33,000 kms', '46,000 kms', '16,000 kms',
       '47,000 kms', '35,000 kms', '30,874 kms', '15,000 kms',
       '29,685 kms', '1,30,000 kms', '19,000 kms', '54,000 kms',
       '13,000 kms', '38,200 kms', '22,000 kms', '50,000 kms',
       '13,500 kms', '3,600 kms', '45,863 kms', '60,500 kms',
       '12,500 kms', '18,000 kms', '13,349 kms', '29,000 kms',
       '44,000 kms', '42,000 kms', '14,000 kms', '49,000 kms',
       '36,200 kms', '51,000 kms', '1,04,000 kms', '33,333 kms',
       '33,600 kms', '5,600 kms', '7,500 kms', '26,000 kms', '24,330 kms',
       '65,480 kms', '2,00,000 kms', '59,000 kms', '99,000 kms',
       '2,800 kms', '21,000 kms', '11,000 kms', '66,000 kms', '3,000 kms',
       '7,000 kms', '38,500 kms', '37,200 kms', '43,200 kms',
       '24,800 kms', '45,872 kms', '40,000 kms', '11,400 kms',
       '97,200 kms', '52,000 kms', '31,000 kms', '1,75,430 kms',
       '37,000 kms', '65,000 kms', '3,350 kms', '75,000 kms',
       '62,000 kms', '73,000 kms', '2,200 kms', '54,870 kms',
       '34,580 kms', '97,000 kms', '60 kms', '80,200 kms', '3,200 kms',
       '0,000 kms', '5,000 kms', '588 kms', '71,200 kms', '1,75,400 kms',
       '9,300 kms', '56,758 kms', '10,000 kms', '56,450 kms',
       '56,000 kms', '32,700 kms', '9,000 kms', '73 kms', '1,60,000 kms',
       '58,559 kms', '57,000 kms', '1,70,000 kms', '80,000 kms',
       '6,821 kms', '23,000 kms', '34,000 kms', '1,800 kms',
       '4,00,000 kms', '48,000 kms', '90,000 kms', '12,000 kms',
       '69,900 kms', '1,66,000 kms', '122 kms', '0 kms', '36,469 kms',
       '7,800 kms', '24,695 kms', '15,141 kms', '59,910 kms',
       '1,00,000 kms', '4,500 kms', '1,29,000 kms', '300 kms',
       '1,31,000 kms', '1,11,111 kms', '59,466 kms', '25,500 kms',
       '44,005 kms', '2,110 kms', '43,222 kms', '1,00,200 kms', '65 kms',
       '1,40,000 kms', '1,03,553 kms', '58,000 kms', '1,20,000 kms',
       '49,800 kms', '100 kms', '81,876 kms', '6,020 kms', '55,700 kms',
       '18,500 kms', '53,000 kms', '35,500 kms', '22,134 kms',
       '1,000 kms', '8,500 kms', '87,000 kms', '6,000 kms', '8,000 kms',
       '55,800 kms', '56,400 kms', '72,160 kms', '11,500 kms',
       '1,33,000 kms', '2,000 kms', '88,000 kms', '65,422 kms',
       '1,17,000 kms', '1,50,000 kms', '10,750 kms', '6,800 kms',
       '9,800 kms', '57,923 kms', '30,201 kms', '6,200 kms', '37,518 kms',
       '24,652 kms', '383 kms', '95,000 kms', '3,528 kms', '52,500 kms',
       '47,900 kms', '52,800 kms', '1,95,000 kms', '48,008 kms',
       '48,247 kms', '9,400 kms', '64,000 kms', '2,137 kms', '10,544 kms',
       '1,47,000 kms', '90,001 kms', '48,006 kms', '74,000 kms',
       '85,000 kms', '29,500 kms', '39,700 kms', '67,000 kms',
       '19,336 kms', '60,105 kms', '45,933 kms', '1,02,563 kms',
       '28,600 kms', '41,800 kms', '1,16,000 kms', '42,590 kms',
       '7,400 kms', '54,500 kms', '76,000 kms', '00 kms', '11,523 kms',
       '38,600 kms', '95,500 kms', '37,458 kms', '85,960 kms',
       '12,516 kms', '30,600 kms', '2,550 kms', '62,500 kms',
       '69,000 kms', '28,400 kms', '68,485 kms', '3,500 kms',
       '85,455 kms', '63,000 kms', '1,600 kms', '77,000 kms',
       '26,500 kms', '2,875 kms', '13,900 kms', '1,500 kms', '2,450 kms',
       '1,625 kms', '33,400 kms', '60,123 kms', '1,37,495 kms',
       '91,200 kms', '1,46,000 kms', '1,00,800 kms', '2,100 kms',
       '2,500 kms', '1,32,000 kms', 'Petrol'], dtype=object)

In [159]:
df = df[df['kms_driven'] != 'Petrol']

In [160]:
df['kms_driven'].unique()

array(['45,000 kms', '40 kms', '28,000 kms', '36,000 kms', '41,000 kms',
       '25,000 kms', '24,530 kms', '60,000 kms', '30,000 kms',
       '32,000 kms', '48,660 kms', '4,000 kms', '16,934 kms',
       '43,000 kms', '35,550 kms', '39,522 kms', '39,000 kms',
       '55,000 kms', '72,000 kms', '15,975 kms', '70,000 kms',
       '23,452 kms', '35,522 kms', '48,508 kms', '15,487 kms',
       '82,000 kms', '20,000 kms', '68,000 kms', '38,000 kms',
       '27,000 kms', '33,000 kms', '46,000 kms', '16,000 kms',
       '47,000 kms', '35,000 kms', '30,874 kms', '15,000 kms',
       '29,685 kms', '1,30,000 kms', '19,000 kms', '54,000 kms',
       '13,000 kms', '38,200 kms', '22,000 kms', '50,000 kms',
       '13,500 kms', '3,600 kms', '45,863 kms', '60,500 kms',
       '12,500 kms', '18,000 kms', '13,349 kms', '29,000 kms',
       '44,000 kms', '42,000 kms', '14,000 kms', '49,000 kms',
       '36,200 kms', '51,000 kms', '1,04,000 kms', '33,333 kms',
       '33,600 kms', '5,600 kms', '7,500 kms', '26,000 kms', '24,330 kms',
       '65,480 kms', '2,00,000 kms', '59,000 kms', '99,000 kms',
       '2,800 kms', '21,000 kms', '11,000 kms', '66,000 kms', '3,000 kms',
       '7,000 kms', '38,500 kms', '37,200 kms', '43,200 kms',
       '24,800 kms', '45,872 kms', '40,000 kms', '11,400 kms',
       '97,200 kms', '52,000 kms', '31,000 kms', '1,75,430 kms',
       '37,000 kms', '65,000 kms', '3,350 kms', '75,000 kms',
       '62,000 kms', '73,000 kms', '2,200 kms', '54,870 kms',
       '34,580 kms', '97,000 kms', '60 kms', '80,200 kms', '3,200 kms',
       '0,000 kms', '5,000 kms', '588 kms', '71,200 kms', '1,75,400 kms',
       '9,300 kms', '56,758 kms', '10,000 kms', '56,450 kms',
       '56,000 kms', '32,700 kms', '9,000 kms', '73 kms', '1,60,000 kms',
       '58,559 kms', '57,000 kms', '1,70,000 kms', '80,000 kms',
       '6,821 kms', '23,000 kms', '34,000 kms', '1,800 kms',
       '4,00,000 kms', '48,000 kms', '90,000 kms', '12,000 kms',
       '69,900 kms', '1,66,000 kms', '122 kms', '0 kms', '36,469 kms',
       '7,800 kms', '24,695 kms', '15,141 kms', '59,910 kms',
       '1,00,000 kms', '4,500 kms', '1,29,000 kms', '300 kms',
       '1,31,000 kms', '1,11,111 kms', '59,466 kms', '25,500 kms',
       '44,005 kms', '2,110 kms', '43,222 kms', '1,00,200 kms', '65 kms',
       '1,40,000 kms', '1,03,553 kms', '58,000 kms', '1,20,000 kms',
       '49,800 kms', '100 kms', '81,876 kms', '6,020 kms', '55,700 kms',
       '18,500 kms', '53,000 kms', '35,500 kms', '22,134 kms',
       '1,000 kms', '8,500 kms', '87,000 kms', '6,000 kms', '8,000 kms',
       '55,800 kms', '56,400 kms', '72,160 kms', '11,500 kms',
       '1,33,000 kms', '2,000 kms', '88,000 kms', '65,422 kms',
       '1,17,000 kms', '1,50,000 kms', '10,750 kms', '6,800 kms',
       '9,800 kms', '57,923 kms', '30,201 kms', '6,200 kms', '37,518 kms',
       '24,652 kms', '383 kms', '95,000 kms', '3,528 kms', '52,500 kms',
       '47,900 kms', '52,800 kms', '1,95,000 kms', '48,008 kms',
       '48,247 kms', '9,400 kms', '64,000 kms', '2,137 kms', '10,544 kms',
       '1,47,000 kms', '90,001 kms', '48,006 kms', '74,000 kms',
       '85,000 kms', '29,500 kms', '39,700 kms', '67,000 kms',
       '19,336 kms', '60,105 kms', '45,933 kms', '1,02,563 kms',
       '28,600 kms', '41,800 kms', '1,16,000 kms', '42,590 kms',
       '7,400 kms', '54,500 kms', '76,000 kms', '00 kms', '11,523 kms',
       '38,600 kms', '95,500 kms', '37,458 kms', '85,960 kms',
       '12,516 kms', '30,600 kms', '2,550 kms', '62,500 kms',
       '69,000 kms', '28,400 kms', '68,485 kms', '3,500 kms',
       '85,455 kms', '63,000 kms', '1,600 kms', '77,000 kms',
       '26,500 kms', '2,875 kms', '13,900 kms', '1,500 kms', '2,450 kms',
       '1,625 kms', '33,400 kms', '60,123 kms', '1,37,495 kms',
       '91,200 kms', '1,46,000 kms', '1,00,800 kms', '2,100 kms',
       '2,500 kms', '1,32,000 kms'], dtype=object)

In [161]:
df['kms_driven'] = df['kms_driven'].str.replace('kms' , '')

C:\Users\pdcha\AppData\Local\Temp\ipykernel_13276\2188467584.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['kms_driven'] = df['kms_driven'].str.replace('kms' , '')

In [162]:
df['kms_driven'].unique()

array(['45,000 ', '40 ', '28,000 ', '36,000 ', '41,000 ', '25,000 ',
       '24,530 ', '60,000 ', '30,000 ', '32,000 ', '48,660 ', '4,000 ',
       '16,934 ', '43,000 ', '35,550 ', '39,522 ', '39,000 ', '55,000 ',
       '72,000 ', '15,975 ', '70,000 ', '23,452 ', '35,522 ', '48,508 ',
       '15,487 ', '82,000 ', '20,000 ', '68,000 ', '38,000 ', '27,000 ',
       '33,000 ', '46,000 ', '16,000 ', '47,000 ', '35,000 ', '30,874 ',
       '15,000 ', '29,685 ', '1,30,000 ', '19,000 ', '54,000 ', '13,000 ',
       '38,200 ', '22,000 ', '50,000 ', '13,500 ', '3,600 ', '45,863 ',
       '60,500 ', '12,500 ', '18,000 ', '13,349 ', '29,000 ', '44,000 ',
       '42,000 ', '14,000 ', '49,000 ', '36,200 ', '51,000 ', '1,04,000 ',
       '33,333 ', '33,600 ', '5,600 ', '7,500 ', '26,000 ', '24,330 ',
       '65,480 ', '2,00,000 ', '59,000 ', '99,000 ', '2,800 ', '21,000 ',
       '11,000 ', '66,000 ', '3,000 ', '7,000 ', '38,500 ', '37,200 ',
       '43,200 ', '24,800 ', '45,872 ', '40,000 ', '11,400 ', '97,200 ',
       '52,000 ', '31,000 ', '1,75,430 ', '37,000 ', '65,000 ', '3,350 ',
       '75,000 ', '62,000 ', '73,000 ', '2,200 ', '54,870 ', '34,580 ',
       '97,000 ', '60 ', '80,200 ', '3,200 ', '0,000 ', '5,000 ', '588 ',
       '71,200 ', '1,75,400 ', '9,300 ', '56,758 ', '10,000 ', '56,450 ',
       '56,000 ', '32,700 ', '9,000 ', '73 ', '1,60,000 ', '58,559 ',
       '57,000 ', '1,70,000 ', '80,000 ', '6,821 ', '23,000 ', '34,000 ',
       '1,800 ', '4,00,000 ', '48,000 ', '90,000 ', '12,000 ', '69,900 ',
       '1,66,000 ', '122 ', '0 ', '36,469 ', '7,800 ', '24,695 ',
       '15,141 ', '59,910 ', '1,00,000 ', '4,500 ', '1,29,000 ', '300 ',
       '1,31,000 ', '1,11,111 ', '59,466 ', '25,500 ', '44,005 ',
       '2,110 ', '43,222 ', '1,00,200 ', '65 ', '1,40,000 ', '1,03,553 ',
       '58,000 ', '1,20,000 ', '49,800 ', '100 ', '81,876 ', '6,020 ',
       '55,700 ', '18,500 ', '53,000 ', '35,500 ', '22,134 ', '1,000 ',
       '8,500 ', '87,000 ', '6,000 ', '8,000 ', '55,800 ', '56,400 ',
       '72,160 ', '11,500 ', '1,33,000 ', '2,000 ', '88,000 ', '65,422 ',
       '1,17,000 ', '1,50,000 ', '10,750 ', '6,800 ', '9,800 ', '57,923 ',
       '30,201 ', '6,200 ', '37,518 ', '24,652 ', '383 ', '95,000 ',
       '3,528 ', '52,500 ', '47,900 ', '52,800 ', '1,95,000 ', '48,008 ',
       '48,247 ', '9,400 ', '64,000 ', '2,137 ', '10,544 ', '1,47,000 ',
       '90,001 ', '48,006 ', '74,000 ', '85,000 ', '29,500 ', '39,700 ',
       '67,000 ', '19,336 ', '60,105 ', '45,933 ', '1,02,563 ', '28,600 ',
       '41,800 ', '1,16,000 ', '42,590 ', '7,400 ', '54,500 ', '76,000 ',
       '00 ', '11,523 ', '38,600 ', '95,500 ', '37,458 ', '85,960 ',
       '12,516 ', '30,600 ', '2,550 ', '62,500 ', '69,000 ', '28,400 ',
       '68,485 ', '3,500 ', '85,455 ', '63,000 ', '1,600 ', '77,000 ',
       '26,500 ', '2,875 ', '13,900 ', '1,500 ', '2,450 ', '1,625 ',
       '33,400 ', '60,123 ', '1,37,495 ', '91,200 ', '1,46,000 ',
       '1,00,800 ', '2,100 ', '2,500 ', '1,32,000 '], dtype=object)

In [163]:
df.columns

Index(['name', 'year', 'Price', 'kms_driven', 'fuel_type', 'model_name'], dtype='object')

In [164]:
df['kms_driven']

0        45,000
1            40
3        28,000
4        36,000
6        41,000
         ...
883      50,000
885      30,000
886    1,32,000
888      27,000
889      40,000
Name: kms_driven, Length: 817, dtype: object

In [200]:
df['kms_driven'] = df['kms_driven'].str.strip()

C:\Users\pdcha\AppData\Local\Temp\ipykernel_13276\622427667.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['kms_driven'] = df['kms_driven'].str.strip()

In [202]:
df

,name,year,Price,kms_driven,fuel_type,model_name
0,Hyundai Santro Xing XO eRLX Euro III,2007,80000,"45,000",Petrol,Hyundai Santro Xing
1,Mahindra Jeep CL550 MDI,2006,425000,40,Diesel,Mahindra Jeep CL550
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,2014,325000,"28,000",Petrol,Hyundai Grand i10
4,Ford EcoSport Titanium 1.5L TDCi,2014,575000,"36,000",Diesel,Ford EcoSport Titanium
6,Ford Figo,2012,175000,"41,000",Diesel,Ford Figo
...,...,...,...,...,...,...
883,Maruti Suzuki Ritz VXI ABS,2011,270000,"50,000",Petrol,Maruti Suzuki Ritz
885,Tata Indica V2 DLE BS III,2009,110000,"30,000",Diesel,Tata Indica V2
886,Toyota Corolla Altis,2009,300000,"1,32,000",Petrol,Toyota Corolla Altis
888,Tata Zest XM Diesel,2018,260000,"27,000",Diesel,Tata Zest XM
889,Mahindra Quanto C8,2013,390000,"40,000",Diesel,Mahindra Quanto C8

In [204]:
df['kms_driven'] = df['kms_driven'].str.replace(',','')

C:\Users\pdcha\AppData\Local\Temp\ipykernel_13276\3754087725.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['kms_driven'] = df['kms_driven'].str.replace(',','')

In [206]:
df

,name,year,Price,kms_driven,fuel_type,model_name
0,Hyundai Santro Xing XO eRLX Euro III,2007,80000,45000,Petrol,Hyundai Santro Xing
1,Mahindra Jeep CL550 MDI,2006,425000,40,Diesel,Mahindra Jeep CL550
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,2014,325000,28000,Petrol,Hyundai Grand i10
4,Ford EcoSport Titanium 1.5L TDCi,2014,575000,36000,Diesel,Ford EcoSport Titanium
6,Ford Figo,2012,175000,41000,Diesel,Ford Figo
...,...,...,...,...,...,...
883,Maruti Suzuki Ritz VXI ABS,2011,270000,50000,Petrol,Maruti Suzuki Ritz
885,Tata Indica V2 DLE BS III,2009,110000,30000,Diesel,Tata Indica V2
886,Toyota Corolla Altis,2009,300000,132000,Petrol,Toyota Corolla Altis
888,Tata Zest XM Diesel,2018,260000,27000,Diesel,Tata Zest XM
889,Mahindra Quanto C8,2013,390000,40000,Diesel,Mahindra Quanto C8

In [208]:
df['kms_driven'] = df['kms_driven'].astype(int)

C:\Users\pdcha\AppData\Local\Temp\ipykernel_13276\822853482.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['kms_driven'] = df['kms_driven'].astype(int)

In [210]:
df

,name,year,Price,kms_driven,fuel_type,model_name
0,Hyundai Santro Xing XO eRLX Euro III,2007,80000,45000,Petrol,Hyundai Santro Xing
1,Mahindra Jeep CL550 MDI,2006,425000,40,Diesel,Mahindra Jeep CL550
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,2014,325000,28000,Petrol,Hyundai Grand i10
4,Ford EcoSport Titanium 1.5L TDCi,2014,575000,36000,Diesel,Ford EcoSport Titanium
6,Ford Figo,2012,175000,41000,Diesel,Ford Figo
...,...,...,...,...,...,...
883,Maruti Suzuki Ritz VXI ABS,2011,270000,50000,Petrol,Maruti Suzuki Ritz
885,Tata Indica V2 DLE BS III,2009,110000,30000,Diesel,Tata Indica V2
886,Toyota Corolla Altis,2009,300000,132000,Petrol,Toyota Corolla Altis
888,Tata Zest XM Diesel,2018,260000,27000,Diesel,Tata Zest XM
889,Mahindra Quanto C8,2013,390000,40000,Diesel,Mahindra Quanto C8

In [212]:
df.drop(columns = 'name' , inplace=True)

C:\Users\pdcha\AppData\Local\Temp\ipykernel_13276\2676548290.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns = 'name' , inplace=True)

In [214]:
df

     year   Price  kms_driven fuel_type              model_name
0    2007   80000       45000    Petrol     Hyundai Santro Xing
1    2006  425000          40    Diesel     Mahindra Jeep CL550
3    2014  325000       28000    Petrol       Hyundai Grand i10
4    2014  575000       36000    Diesel  Ford EcoSport Titanium
6    2012  175000       41000    Diesel               Ford Figo
..    ...     ...         ...       ...                     ...
883  2011  270000       50000    Petrol      Maruti Suzuki Ritz
885  2009  110000       30000    Diesel          Tata Indica V2
886  2009  300000      132000    Petrol    Toyota Corolla Altis
888  2018  260000       27000    Diesel            Tata Zest XM
889  2013  390000       40000    Diesel      Mahindra Quanto C8

[817 rows x 5 columns]

In [216]:
df['fuel_type'].unique()

array(['Petrol', 'Diesel', nan, 'LPG'], dtype=object)

In [220]:
df['fuel_type'].value_counts()

fuel_type
Petrol    428
Diesel    386
LPG         2
Name: count, dtype: int64

In [230]:
df = df[~df['fuel_type'].isna()]

In [234]:
df['fuel_type'].unique()

array(['Petrol', 'Diesel', 'LPG'], dtype=object)