In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("placement.csv")

In [3]:
df.head()

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,0,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,0,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,0,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,0,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN
4,5,0,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0

In [4]:
df.shape

(215, 15)

In [5]:
df.columns

Index(['sl_no', 'gender', 'ssc_p', 'ssc_b', 'hsc_p', 'hsc_b', 'hsc_s',
       'degree_p', 'degree_t', 'workex', 'etest_p', 'specialisation', 'mba_p',
       'status', 'salary'],
      dtype='object')

In [6]:
# Display all students who got placed.
df[df['status'] == 'Placed']

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,0,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,0,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,0,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
4,5,0,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0
7,8,0,82.00,Central,64.00,Central,Science,66.00,Sci&Tech,Yes,67.0,Mkt&Fin,62.14,Placed,252000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209,210,0,62.00,Central,72.00,Central,Commerce,65.00,Comm&Mgmt,No,67.0,Mkt&Fin,56.49,Placed,216000.0
210,211,0,80.60,Others,82.00,Others,Commerce,77.60,Comm&Mgmt,No,91.0,Mkt&Fin,74.49,Placed,400000.0
211,212,0,58.00,Others,60.00,Others,Science,72.00,Sci&Tech,No,74.0,Mkt&Fin,53.62,Placed,275000.0
212,213,0,67.00,Others,67.00,Others,Commerce,73.00,Comm&Mgmt,Yes,59.0,Mkt&Fin,69.72,Placed,295000.0
213,214,1,74.00,Others,66.00,Others,Commerce,58.00,Comm&Mgmt,No,70.0,Mkt&HR,60.23,Placed,204000.0

In [7]:
# 2. Show records of students who were not placed.
df[df['status'] == 'Not Placed']

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
3,4,0,56.0,Central,52.0,Central,Science,52.00,Sci&Tech,No,66.00,Mkt&HR,59.43,Not Placed,NaN
5,6,0,55.0,Others,49.8,Others,Science,67.25,Sci&Tech,Yes,55.00,Mkt&Fin,51.58,Not Placed,NaN
6,7,1,46.0,Others,49.2,Others,Commerce,79.00,Comm&Mgmt,No,74.28,Mkt&Fin,53.29,Not Placed,NaN
9,10,0,58.0,Central,70.0,Central,Commerce,61.00,Comm&Mgmt,No,54.00,Mkt&Fin,52.21,Not Placed,NaN
12,13,1,47.0,Central,55.0,Others,Science,65.00,Comm&Mgmt,No,62.00,Mkt&HR,65.04,Not Placed,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198,199,1,67.0,Central,70.0,Central,Commerce,65.00,Others,No,88.00,Mkt&HR,71.96,Not Placed,NaN
201,202,0,54.2,Central,63.0,Others,Science,58.00,Comm&Mgmt,No,79.00,Mkt&HR,58.44,Not Placed,NaN
206,207,0,41.0,Central,42.0,Central,Science,60.00,Comm&Mgmt,No,97.00,Mkt&Fin,53.39,Not Placed,NaN
208,209,1,43.0,Central,60.0,Others,Science,65.00,Comm&Mgmt,No,92.66,Mkt&HR,62.92,Not Placed,NaN
214,215,0,62.0,Central,58.0,Others,Science,53.00,Comm&Mgmt,No,89.00,Mkt&HR,60.22,Not Placed,NaN

In [8]:
# 3. Display students with ssc_p (10th percentage) greater than 80.
df[df['ssc_p'] > 80]

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
4,5,0,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.80,Mkt&Fin,55.50,Placed,425000.0
7,8,0,82.00,Central,64.00,Central,Science,66.00,Sci&Tech,Yes,67.00,Mkt&Fin,62.14,Placed,252000.0
33,34,1,87.00,Others,65.00,Others,Science,81.00,Comm&Mgmt,Yes,88.00,Mkt&Fin,72.78,Placed,260000.0
39,40,0,81.00,Others,68.00,Others,Science,64.00,Sci&Tech,No,93.00,Mkt&Fin,62.56,Placed,411000.0
43,44,0,87.00,Others,87.00,Others,Commerce,68.00,Comm&Mgmt,No,95.00,Mkt&HR,62.90,Placed,300000.0
61,62,0,84.20,Central,73.40,Central,Commerce,66.89,Comm&Mgmt,No,61.60,Mkt&Fin,62.48,Placed,300000.0
62,63,1,86.50,Others,64.20,Others,Science,67.40,Sci&Tech,No,59.00,Mkt&Fin,59.69,Placed,240000.0
66,67,0,83.00,Others,74.00,Others,Science,66.00,Comm&Mgmt,No,68.92,Mkt&HR,58.46,Placed,275000.0
67,68,0,80.92,Others,78.50,Others,Commerce,67.00,Comm&Mgmt,No,68.71,Mkt&Fin,60.99,Placed,275000.0
70,71,0,82.00,Others,61.00,Others,Science,62.00,Sci&Tech,No,89.00,Mkt&Fin,65.45,Placed,360000.0
72,73,0,84.86,Others,67.00,Others,Science,78.00,Comm&Mgmt,No,95.50,Mkt&Fin,68.53,Placed,240000.0
78,79,0,84.00,Others,90.90,Others,Science,64.50,Sci&Tech,No,86.04,Mkt&Fin,59.42,Placed,270000.0
81,82,0,81.70,Others,63.00,Others,Science,67.00,Comm&Mgmt,Yes,86.00,Mkt&Fin,70.20,Placed,300000.0
83,84,0,84.00,Others,79.00,Others,Science,68.00,Sci&Tech,Yes,84.00,Mkt&Fin,66.69,Placed,300000.0
85,86,1,83.84,Others,89.83,Others,Commerce,77.20,Comm&Mgmt,Yes,78.74,Mkt&Fin,76.18,Placed,400000.0
89,90,1,84.00,Others,75.00,Others,Science,69.00,Sci&Tech,Yes,62.00,Mkt&HR,62.36,Placed,210000.0
90,91,1,85.00,Others,90.00,Others,Commerce,82.00,Comm&Mgmt,No,92.00,Mkt&Fin,68.03,Placed,300000.0
107,108,0,82.00,Others,90.00,Others,Commerce,83.00,Comm&Mgmt,No,80.00,Mkt&HR,73.52,Placed,200000.0
125,126,1,84.00,Central,73.00,Central,Commerce,73.00,Comm&Mgmt,No,75.00,Mkt&Fin,73.33,Placed,350000.0
128,129,0,80.40,Central,73.40,Central,Science,77.72,Sci&Tech,Yes,81.20,Mkt&HR,76.26,Placed,400000.0
138,139,1,82.00,Others,64.00,Others,Science,73.00,Sci&Tech,Yes,96.00,Mkt&Fin,71.77,Placed,250000.0
142,143,0,85.00,Central,60.00,Others,Science,73.43,Sci&Tech,Yes,60.00,Mkt&Fin,61.29,Placed,260000.0
145,146,0,89.40,Others,65.66,Others,Science,71.25,Sci&Tech,No,72.00,Mkt&HR,63.23,Placed,400000.0
156,157,0,84.20,Central,69.40,Central,Science,65.00,Sci&Tech,Yes,80.00,Mkt&HR,52.72,Placed,255000.0
160,161,0,87.00,Central,74.00,Central,Science,65.00,Sci&Tech,Yes,75.00,Mkt&HR,72.29,Placed,300000.0
185,186,1,88.00,Central,72.00,Central,Science,78.00,Others,No,82.00,Mkt&HR,71.43,Placed,252000.0
197,198,1,83.96,Others,53.00,Others,Science,91.00,Sci&Tech,No,59.32,Mkt&HR,69.71,Placed,260000.0
207,208,0,83.33,Central,78.00,Others,Commerce,61.00,Comm&Mgmt,Yes,88.56,Mkt&Fin,71.55,Placed,300000.0
210,211,0,80.60,Others,82.00,Others,Commerce,77.60,Comm&Mgmt,No,91.00,Mkt&Fin,74.49,Placed,400000.0

In [9]:
# 4. Retrieve all students whose hsc_p (12th percentage) is less than 70.
df[df['hsc_p'] < 70]

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
2,3,0,65.0,Central,68.0,Central,Arts,64.00,Comm&Mgmt,No,75.00,Mkt&Fin,57.80,Placed,250000.0
3,4,0,56.0,Central,52.0,Central,Science,52.00,Sci&Tech,No,66.00,Mkt&HR,59.43,Not Placed,NaN
5,6,0,55.0,Others,49.8,Others,Science,67.25,Sci&Tech,Yes,55.00,Mkt&Fin,51.58,Not Placed,NaN
6,7,1,46.0,Others,49.2,Others,Commerce,79.00,Comm&Mgmt,No,74.28,Mkt&Fin,53.29,Not Placed,NaN
7,8,0,82.0,Central,64.0,Central,Science,66.00,Sci&Tech,Yes,67.00,Mkt&Fin,62.14,Placed,252000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
208,209,1,43.0,Central,60.0,Others,Science,65.00,Comm&Mgmt,No,92.66,Mkt&HR,62.92,Not Placed,NaN
211,212,0,58.0,Others,60.0,Others,Science,72.00,Sci&Tech,No,74.00,Mkt&Fin,53.62,Placed,275000.0
212,213,0,67.0,Others,67.0,Others,Commerce,73.00,Comm&Mgmt,Yes,59.00,Mkt&Fin,69.72,Placed,295000.0
213,214,1,74.0,Others,66.0,Others,Commerce,58.00,Comm&Mgmt,No,70.00,Mkt&HR,60.23,Placed,204000.0
214,215,0,62.0,Central,58.0,Others,Science,53.00,Comm&Mgmt,No,89.00,Mkt&HR,60.22,Not Placed,NaN

In [10]:
# 5. Select students who have degree_p greater than 75 and mba_p greater than 60.
df[(df['degree_p'] > 75) & (df['mba_p'] > 60)]

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
1,2,0,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.50,Mkt&Fin,66.28,Placed,200000.0
11,12,0,69.60,Central,68.40,Central,Commerce,78.30,Comm&Mgmt,Yes,60.00,Mkt&Fin,63.70,Placed,250000.0
21,22,1,79.00,Others,76.00,Others,Commerce,85.00,Comm&Mgmt,No,95.00,Mkt&Fin,69.06,Placed,393000.0
24,25,0,76.50,Others,97.70,Others,Science,78.86,Sci&Tech,No,97.40,Mkt&Fin,74.01,Placed,360000.0
33,34,1,87.00,Others,65.00,Others,Science,81.00,Comm&Mgmt,Yes,88.00,Mkt&Fin,72.78,Placed,260000.0
40,41,1,78.00,Central,77.00,Others,Commerce,80.00,Comm&Mgmt,No,60.00,Mkt&Fin,66.72,Placed,287000.0
44,45,1,77.00,Others,73.00,Others,Commerce,81.00,Comm&Mgmt,Yes,89.00,Mkt&Fin,69.70,Placed,200000.0
72,73,0,84.86,Others,67.00,Others,Science,78.00,Comm&Mgmt,No,95.50,Mkt&Fin,68.53,Placed,240000.0
75,76,1,59.00,Central,62.00,Others,Commerce,77.50,Comm&Mgmt,No,74.00,Mkt&HR,67.00,Not Placed,NaN
85,86,1,83.84,Others,89.83,Others,Commerce,77.20,Comm&Mgmt,Yes,78.74,Mkt&Fin,76.18,Placed,400000.0
90,91,1,85.00,Others,90.00,Others,Commerce,82.00,Comm&Mgmt,No,92.00,Mkt&Fin,68.03,Placed,300000.0
96,97,1,76.00,Central,70.00,Central,Science,76.00,Comm&Mgmt,Yes,66.00,Mkt&Fin,64.44,Placed,300000.0
107,108,0,82.00,Others,90.00,Others,Commerce,83.00,Comm&Mgmt,No,80.00,Mkt&HR,73.52,Placed,200000.0
118,119,0,76.00,Central,80.00,Central,Science,78.00,Sci&Tech,Yes,97.00,Mkt&HR,70.48,Placed,276000.0
126,127,1,79.00,Others,61.00,Others,Science,75.50,Sci&Tech,Yes,70.00,Mkt&Fin,68.20,Placed,210000.0
128,129,0,80.40,Central,73.40,Central,Science,77.72,Sci&Tech,Yes,81.20,Mkt&HR,76.26,Placed,400000.0
133,134,0,73.00,Central,64.00,Others,Commerce,77.00,Comm&Mgmt,Yes,65.00,Mkt&HR,60.98,Placed,250000.0
152,153,1,75.40,Others,60.50,Central,Science,84.00,Sci&Tech,No,98.00,Mkt&Fin,65.25,Placed,240000.0
162,163,0,74.20,Central,87.60,Others,Commerce,77.25,Comm&Mgmt,Yes,75.20,Mkt&Fin,66.06,Placed,285000.0
177,178,1,73.00,Central,97.00,Others,Commerce,79.00,Comm&Mgmt,Yes,89.00,Mkt&Fin,70.81,Placed,650000.0
185,186,1,88.00,Central,72.00,Central,Science,78.00,Others,No,82.00,Mkt&HR,71.43,Placed,252000.0
197,198,1,83.96,Others,53.00,Others,Science,91.00,Sci&Tech,No,59.32,Mkt&HR,69.71,Placed,260000.0
210,211,0,80.60,Others,82.00,Others,Commerce,77.60,Comm&Mgmt,No,91.00,Mkt&Fin,74.49,Placed,400000.0

In [11]:
# 6. Display all male students with workex equal to “Yes”.
df[(df['gender'] == 1) & (df['workex'] == 'Yes')]

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
15,16,1,65.00,Central,75.00,Central,Commerce,69.00,Comm&Mgmt,Yes,72.00,Mkt&Fin,64.66,Placed,200000.0
23,24,1,77.40,Others,60.00,Others,Science,64.74,Sci&Tech,Yes,92.00,Mkt&Fin,63.62,Placed,300000.0
25,26,1,52.58,Others,54.60,Central,Commerce,50.20,Comm&Mgmt,Yes,76.00,Mkt&Fin,65.33,Not Placed,NaN
33,34,1,87.00,Others,65.00,Others,Science,81.00,Comm&Mgmt,Yes,88.00,Mkt&Fin,72.78,Placed,260000.0
41,42,1,74.00,Others,63.16,Others,Commerce,65.00,Comm&Mgmt,Yes,65.00,Mkt&HR,69.76,Not Placed,NaN
44,45,1,77.00,Others,73.00,Others,Commerce,81.00,Comm&Mgmt,Yes,89.00,Mkt&Fin,69.70,Placed,200000.0
80,81,1,69.00,Others,62.00,Others,Commerce,69.00,Comm&Mgmt,Yes,67.00,Mkt&HR,62.35,Placed,240000.0
85,86,1,83.84,Others,89.83,Others,Commerce,77.20,Comm&Mgmt,Yes,78.74,Mkt&Fin,76.18,Placed,400000.0
89,90,1,84.00,Others,75.00,Others,Science,69.00,Sci&Tech,Yes,62.00,Mkt&HR,62.36,Placed,210000.0
96,97,1,76.00,Central,70.00,Central,Science,76.00,Comm&Mgmt,Yes,66.00,Mkt&Fin,64.44,Placed,300000.0
100,101,1,45.00,Others,57.00,Others,Commerce,58.00,Comm&Mgmt,Yes,56.39,Mkt&HR,64.95,Not Placed,NaN
102,103,1,77.00,Others,61.00,Others,Commerce,68.00,Comm&Mgmt,Yes,57.50,Mkt&Fin,61.31,Placed,300000.0
121,122,1,64.00,Central,67.00,Others,Science,69.60,Sci&Tech,Yes,55.67,Mkt&HR,71.49,Placed,250000.0
122,123,1,66.50,Central,66.80,Central,Arts,69.30,Comm&Mgmt,Yes,80.40,Mkt&Fin,71.00,Placed,236000.0
126,127,1,79.00,Others,61.00,Others,Science,75.50,Sci&Tech,Yes,70.00,Mkt&Fin,68.20,Placed,210000.0
131,132,1,74.90,Others,57.00,Others,Science,62.00,Others,Yes,80.00,Mkt&Fin,60.78,Placed,360000.0
134,135,1,77.44,Central,92.00,Others,Commerce,72.00,Comm&Mgmt,Yes,94.00,Mkt&Fin,67.13,Placed,250000.0
138,139,1,82.00,Others,64.00,Others,Science,73.00,Sci&Tech,Yes,96.00,Mkt&Fin,71.77,Placed,250000.0
168,169,1,48.00,Central,51.00,Central,Commerce,58.00,Comm&Mgmt,Yes,60.00,Mkt&HR,58.79,Not Placed,NaN
177,178,1,73.00,Central,97.00,Others,Commerce,79.00,Comm&Mgmt,Yes,89.00,Mkt&Fin,70.81,Placed,650000.0
193,194,1,60.00,Central,63.00,Central,Arts,56.00,Others,Yes,80.00,Mkt&HR,56.63,Placed,300000.0
204,205,1,74.00,Others,73.00,Others,Commerce,73.00,Comm&Mgmt,Yes,80.00,Mkt&Fin,67.69,Placed,210000.0

In [12]:
# 7. Show female students with degree_t as “Sci&amp;Tech”.
df[(df['gender'] == 0) & (df['degree_t'] =='Sci&Tech' )]

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,0,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.00,Mkt&HR,58.80,Placed,270000.0
1,2,0,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.50,Mkt&Fin,66.28,Placed,200000.0
3,4,0,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.00,Mkt&HR,59.43,Not Placed,NaN
5,6,0,55.00,Others,49.80,Others,Science,67.25,Sci&Tech,Yes,55.00,Mkt&Fin,51.58,Not Placed,NaN
7,8,0,82.00,Central,64.00,Central,Science,66.00,Sci&Tech,Yes,67.00,Mkt&Fin,62.14,Placed,252000.0
24,25,0,76.50,Others,97.70,Others,Science,78.86,Sci&Tech,No,97.40,Mkt&Fin,74.01,Placed,360000.0
39,40,0,81.00,Others,68.00,Others,Science,64.00,Sci&Tech,No,93.00,Mkt&Fin,62.56,Placed,411000.0
53,54,0,80.00,Others,70.00,Others,Science,72.00,Sci&Tech,No,87.00,Mkt&HR,71.04,Placed,450000.0
59,60,0,52.60,Central,65.58,Others,Science,72.11,Sci&Tech,No,57.60,Mkt&Fin,56.66,Placed,265000.0
69,70,0,73.00,Central,73.00,Central,Science,66.00,Sci&Tech,Yes,70.00,Mkt&Fin,68.07,Placed,275000.0
70,71,0,82.00,Others,61.00,Others,Science,62.00,Sci&Tech,No,89.00,Mkt&Fin,65.45,Placed,360000.0
77,78,0,64.00,Others,80.00,Others,Science,65.00,Sci&Tech,Yes,69.00,Mkt&Fin,57.65,Placed,500000.0
78,79,0,84.00,Others,90.90,Others,Science,64.50,Sci&Tech,No,86.04,Mkt&Fin,59.42,Placed,270000.0
83,84,0,84.00,Others,79.00,Others,Science,68.00,Sci&Tech,Yes,84.00,Mkt&Fin,66.69,Placed,300000.0
84,85,0,70.00,Central,63.00,Others,Science,70.00,Sci&Tech,Yes,55.00,Mkt&Fin,62.00,Placed,300000.0
99,100,0,54.00,Central,82.00,Others,Commerce,63.00,Sci&Tech,No,50.00,Mkt&Fin,59.47,Not Placed,NaN
103,104,0,73.00,Central,78.00,Central,Science,73.00,Sci&Tech,Yes,85.00,Mkt&HR,65.83,Placed,240000.0
105,106,0,59.00,Central,64.00,Others,Science,58.00,Sci&Tech,No,85.00,Mkt&HR,55.30,Not Placed,NaN
106,107,0,61.08,Others,50.00,Others,Science,54.00,Sci&Tech,No,71.00,Mkt&Fin,65.69,Not Placed,NaN
109,110,0,52.00,Central,63.00,Others,Science,65.00,Sci&Tech,Yes,86.00,Mkt&HR,56.09,Not Placed,NaN
111,112,0,51.00,Others,54.00,Others,Science,61.00,Sci&Tech,No,60.00,Mkt&HR,60.64,Not Placed,NaN
117,118,0,77.00,Others,75.00,Others,Science,73.00,Sci&Tech,No,80.00,Mkt&Fin,67.05,Placed,240000.0
118,119,0,76.00,Central,80.00,Central,Science,78.00,Sci&Tech,Yes,97.00,Mkt&HR,70.48,Placed,276000.0
128,129,0,80.40,Central,73.40,Central,Science,77.72,Sci&Tech,Yes,81.20,Mkt&HR,76.26,Placed,400000.0
142,143,0,85.00,Central,60.00,Others,Science,73.43,Sci&Tech,Yes,60.00,Mkt&Fin,61.29,Placed,260000.0
145,146,0,89.40,Others,65.66,Others,Science,71.25,Sci&Tech,No,72.00,Mkt&HR,63.23,Placed,400000.0
150,151,0,71.00,Central,58.66,Central,Science,58.00,Sci&Tech,Yes,56.00,Mkt&Fin,61.30,Placed,690000.0
153,154,0,49.00,Others,59.00,Others,Science,65.00,Sci&Tech,Yes,86.00,Mkt&Fin,62.48,Placed,340000.0
156,157,0,84.20,Central,69.40,Central,Science,65.00,Sci&Tech,Yes,80.00,Mkt&HR,52.72,Placed,255000.0
158,159,0,67.00,Others,63.00,Others,Science,64.00,Sci&Tech,No,60.00,Mkt&Fin,61.87,Not Placed,NaN
160,161,0,87.00,Central,74.00,Central,Science,65.00,Sci&Tech,Yes,75.00,Mkt&HR,72.29,Placed,300000.0
163,164,0,63.00,Others,67.00,Others,Science,64.00,Sci&Tech,No,75.00,Mkt&Fin,66.46,Placed,500000.0
167,168,0,67.90,Others,62.00,Others,Science,67.00,Sci&Tech,Yes,58.10,Mkt&Fin,75.71,Not Placed,NaN
169,170,0,59.96,Others,42.16,Others,Science,61.26,Sci&Tech,No,54.48,Mkt&HR,65.48,Not Placed,NaN
174,175,0,73.24,Others,50.83,Others,Science,64.27,Sci&Tech,Yes,64.00,Mkt&Fin,66.23,Placed,500000.0
175,176,0,63.00,Others,62.00,Others,Science,65.00,Sci&Tech,No,87.50,Mkt&HR,60.69,Not Placed,NaN
178,179,0,68.00,Others,56.00,Others,Science,68.00,Sci&Tech,No,73.00,Mkt&HR,68.07,Placed,350000.0
181,182,0,62.00,Central,60.33,Others,Science,64.21,Sci&Tech,No,63.00,Mkt&HR,60.02,Not Placed,NaN
187,188,0,78.50,Central,65.50,Central,Science,67.00,Sci&Tech,Yes,95.00,Mkt&Fin,64.86,Placed,280000.0
196,197,0,72.00,Others,63.00,Others,Science,77.50,Sci&Tech,Yes,78.00,Mkt&Fin,54.48,Placed,250000.0
202,203,0,70.00,Central,63.00,Central,Science,66.00,Sci&Tech,No,61.28,Mkt&HR,60.11,Placed,240000.0
211,212,0,58.00,Others,60.00,Others,Science,72.00,Sci&Tech,No,74.00,Mkt&Fin,53.62,Placed,275000.0

In [13]:
# 8. Get students whose etest_p is between 70 and 90.
df[(df['etest_p'] >= 70) & (df['etest_p'] <= 90)]

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
1,2,0,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.50,Mkt&Fin,66.28,Placed,200000.0
2,3,0,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.00,Mkt&Fin,57.80,Placed,250000.0
6,7,1,46.00,Others,49.20,Others,Commerce,79.00,Comm&Mgmt,No,74.28,Mkt&Fin,53.29,Not Placed,NaN
14,15,0,62.00,Central,47.00,Central,Commerce,50.00,Comm&Mgmt,No,76.00,Mkt&HR,54.96,Not Placed,NaN
15,16,1,65.00,Central,75.00,Central,Commerce,69.00,Comm&Mgmt,Yes,72.00,Mkt&Fin,64.66,Placed,200000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
204,205,1,74.00,Others,73.00,Others,Commerce,73.00,Comm&Mgmt,Yes,80.00,Mkt&Fin,67.69,Placed,210000.0
207,208,0,83.33,Central,78.00,Others,Commerce,61.00,Comm&Mgmt,Yes,88.56,Mkt&Fin,71.55,Placed,300000.0
211,212,0,58.00,Others,60.00,Others,Science,72.00,Sci&Tech,No,74.00,Mkt&Fin,53.62,Placed,275000.0
213,214,1,74.00,Others,66.00,Others,Commerce,58.00,Comm&Mgmt,No,70.00,Mkt&HR,60.23,Placed,204000.0
214,215,0,62.00,Central,58.00,Others,Science,53.00,Comm&Mgmt,No,89.00,Mkt&HR,60.22,Not Placed,NaN

In [14]:
# 9. Display students who have hsc_b (HSC board) as “Central” and ssc_b as “Central”.
df[(df['hsc_b'] == 'Central') & (df['ssc_b'] == 'Central')]

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
2,3,0,65.0,Central,68.0,Central,Arts,64.0,Comm&Mgmt,No,75.00,Mkt&Fin,57.80,Placed,250000.0
3,4,0,56.0,Central,52.0,Central,Science,52.0,Sci&Tech,No,66.00,Mkt&HR,59.43,Not Placed,NaN
4,5,0,85.8,Central,73.6,Central,Commerce,73.3,Comm&Mgmt,No,96.80,Mkt&Fin,55.50,Placed,425000.0
7,8,0,82.0,Central,64.0,Central,Science,66.0,Sci&Tech,Yes,67.00,Mkt&Fin,62.14,Placed,252000.0
8,9,0,73.0,Central,79.0,Central,Commerce,72.0,Comm&Mgmt,No,91.34,Mkt&Fin,61.29,Placed,231000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,196,0,66.0,Central,76.0,Central,Commerce,72.0,Comm&Mgmt,Yes,84.00,Mkt&HR,58.95,Placed,275000.0
198,199,1,67.0,Central,70.0,Central,Commerce,65.0,Others,No,88.00,Mkt&HR,71.96,Not Placed,NaN
202,203,0,70.0,Central,63.0,Central,Science,66.0,Sci&Tech,No,61.28,Mkt&HR,60.11,Placed,240000.0
206,207,0,41.0,Central,42.0,Central,Science,60.0,Comm&Mgmt,No,97.00,Mkt&Fin,53.39,Not Placed,NaN
209,210,0,62.0,Central,72.0,Central,Commerce,65.0,Comm&Mgmt,No,67.00,Mkt&Fin,56.49,Placed,216000.0

In [15]:
# 10. Show students with mba_p less than 60 or degree_p less than 60.
df[(df['mba_p'] < 60) & (df['degree_p'] < 60)]

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,0,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.00,Mkt&HR,58.80,Placed,270000.0
3,4,0,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.00,Mkt&HR,59.43,Not Placed,NaN
14,15,0,62.00,Central,47.00,Central,Commerce,50.00,Comm&Mgmt,No,76.00,Mkt&HR,54.96,Not Placed,NaN
29,30,0,62.00,Central,67.00,Central,Commerce,58.00,Comm&Mgmt,No,77.00,Mkt&Fin,51.29,Not Placed,NaN
36,37,0,51.00,Central,44.00,Central,Commerce,57.00,Comm&Mgmt,No,64.00,Mkt&Fin,51.45,Not Placed,NaN
47,48,0,63.00,Central,60.00,Central,Commerce,57.00,Comm&Mgmt,Yes,78.00,Mkt&Fin,54.55,Placed,204000.0
49,50,1,50.00,Others,37.00,Others,Arts,52.00,Others,No,65.00,Mkt&HR,56.11,Not Placed,NaN
65,66,0,54.00,Others,47.00,Others,Science,57.00,Comm&Mgmt,No,89.69,Mkt&HR,57.10,Not Placed,NaN
93,94,0,52.00,Central,62.00,Central,Commerce,54.00,Comm&Mgmt,No,72.00,Mkt&HR,55.41,Not Placed,NaN
105,106,0,59.00,Central,64.00,Others,Science,58.00,Sci&Tech,No,85.00,Mkt&HR,55.30,Not Placed,NaN
120,121,0,58.00,Others,40.00,Others,Science,59.00,Comm&Mgmt,No,73.00,Mkt&HR,58.81,Not Placed,NaN
139,140,0,77.00,Central,70.00,Central,Commerce,59.00,Comm&Mgmt,Yes,58.00,Mkt&Fin,54.43,Placed,220000.0
149,150,0,44.00,Central,58.00,Central,Arts,55.00,Comm&Mgmt,Yes,64.25,Mkt&HR,58.54,Not Placed,NaN
168,169,1,48.00,Central,51.00,Central,Commerce,58.00,Comm&Mgmt,Yes,60.00,Mkt&HR,58.79,Not Placed,NaN
172,173,0,73.00,Others,58.00,Others,Commerce,56.00,Comm&Mgmt,No,84.00,Mkt&HR,52.64,Placed,300000.0
173,174,1,52.00,Others,52.00,Others,Science,55.00,Sci&Tech,No,67.00,Mkt&HR,59.32,Not Placed,NaN
176,177,1,59.00,Central,60.00,Others,Commerce,56.00,Comm&Mgmt,No,55.00,Mkt&HR,57.90,Placed,220000.0
182,183,0,52.00,Others,65.00,Others,Arts,57.00,Others,Yes,75.00,Mkt&Fin,59.81,Not Placed,NaN
184,185,1,56.28,Others,62.83,Others,Commerce,59.79,Comm&Mgmt,No,60.00,Mkt&HR,57.29,Not Placed,NaN
188,189,0,61.80,Others,47.00,Others,Commerce,54.38,Comm&Mgmt,No,57.00,Mkt&Fin,56.13,Not Placed,NaN
193,194,1,60.00,Central,63.00,Central,Arts,56.00,Others,Yes,80.00,Mkt&HR,56.63,Placed,300000.0
199,200,0,69.00,Others,65.00,Others,Commerce,57.00,Comm&Mgmt,No,73.00,Mkt&HR,55.80,Placed,265000.0
201,202,0,54.20,Central,63.00,Others,Science,58.00,Comm&Mgmt,No,79.00,Mkt&HR,58.44,Not Placed,NaN
203,204,0,55.68,Others,61.33,Others,Commerce,56.87,Comm&Mgmt,No,66.00,Mkt&HR,58.30,Placed,260000.0

In [16]:
df.columns

Index(['sl_no', 'gender', 'ssc_p', 'ssc_b', 'hsc_p', 'hsc_b', 'hsc_s',
       'degree_p', 'degree_t', 'workex', 'etest_p', 'specialisation', 'mba_p',
       'status', 'salary'],
      dtype='object')

In [17]:
# 11. Retrieve all students with status equal to “Placed” and salary greater than 400000.
df[(df['status'] == 'Placed') & (df['salary'] > 400000)]

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
4,5,0,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.80,Mkt&Fin,55.50,Placed,425000.0
39,40,0,81.00,Others,68.00,Others,Science,64.00,Sci&Tech,No,93.00,Mkt&Fin,62.56,Placed,411000.0
53,54,0,80.00,Others,70.00,Others,Science,72.00,Sci&Tech,No,87.00,Mkt&HR,71.04,Placed,450000.0
77,78,0,64.00,Others,80.00,Others,Science,65.00,Sci&Tech,Yes,69.00,Mkt&Fin,57.65,Placed,500000.0
95,96,0,73.00,Central,78.00,Others,Commerce,65.00,Comm&Mgmt,Yes,95.46,Mkt&Fin,62.16,Placed,420000.0
119,120,0,60.80,Central,68.40,Central,Commerce,64.60,Comm&Mgmt,Yes,82.66,Mkt&Fin,64.34,Placed,940000.0
150,151,0,71.00,Central,58.66,Central,Science,58.00,Sci&Tech,Yes,56.00,Mkt&Fin,61.30,Placed,690000.0
163,164,0,63.00,Others,67.00,Others,Science,64.00,Sci&Tech,No,75.00,Mkt&Fin,66.46,Placed,500000.0
174,175,0,73.24,Others,50.83,Others,Science,64.27,Sci&Tech,Yes,64.00,Mkt&Fin,66.23,Placed,500000.0
177,178,1,73.00,Central,97.00,Others,Commerce,79.00,Comm&Mgmt,Yes,89.00,Mkt&Fin,70.81,Placed,650000.0

In [18]:
# 12. Display records where degree_t is “Comm&amp;Mgmt”.
df[df['degree_t'] == 'Comm&Mgmt']

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
2,3,0,65.0,Central,68.0,Central,Arts,64.0,Comm&Mgmt,No,75.00,Mkt&Fin,57.80,Placed,250000.0
4,5,0,85.8,Central,73.6,Central,Commerce,73.3,Comm&Mgmt,No,96.80,Mkt&Fin,55.50,Placed,425000.0
6,7,1,46.0,Others,49.2,Others,Commerce,79.0,Comm&Mgmt,No,74.28,Mkt&Fin,53.29,Not Placed,NaN
8,9,0,73.0,Central,79.0,Central,Commerce,72.0,Comm&Mgmt,No,91.34,Mkt&Fin,61.29,Placed,231000.0
9,10,0,58.0,Central,70.0,Central,Commerce,61.0,Comm&Mgmt,No,54.00,Mkt&Fin,52.21,Not Placed,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209,210,0,62.0,Central,72.0,Central,Commerce,65.0,Comm&Mgmt,No,67.00,Mkt&Fin,56.49,Placed,216000.0
210,211,0,80.6,Others,82.0,Others,Commerce,77.6,Comm&Mgmt,No,91.00,Mkt&Fin,74.49,Placed,400000.0
212,213,0,67.0,Others,67.0,Others,Commerce,73.0,Comm&Mgmt,Yes,59.00,Mkt&Fin,69.72,Placed,295000.0
213,214,1,74.0,Others,66.0,Others,Commerce,58.0,Comm&Mgmt,No,70.00,Mkt&HR,60.23,Placed,204000.0
214,215,0,62.0,Central,58.0,Others,Science,53.0,Comm&Mgmt,No,89.00,Mkt&HR,60.22,Not Placed,NaN

In [19]:
# 13. Select students whose hsc_p ≥ 85 and workex = “Yes”.
df[(df['hsc_p'] > 85) & (df['workex']  == "Yes")]

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
85,86,1,83.84,Others,89.83,Others,Commerce,77.20,Comm&Mgmt,Yes,78.74,Mkt&Fin,76.18,Placed,400000.0
129,130,0,76.70,Central,89.70,Others,Commerce,66.00,Comm&Mgmt,Yes,90.00,Mkt&Fin,68.55,Placed,250000.0
134,135,1,77.44,Central,92.00,Others,Commerce,72.00,Comm&Mgmt,Yes,94.00,Mkt&Fin,67.13,Placed,250000.0
162,163,0,74.20,Central,87.60,Others,Commerce,77.25,Comm&Mgmt,Yes,75.20,Mkt&Fin,66.06,Placed,285000.0
177,178,1,73.00,Central,97.00,Others,Commerce,79.00,Comm&Mgmt,Yes,89.00,Mkt&Fin,70.81,Placed,650000.0

In [20]:
# 14. Show all students whose gender is “F” and ssc_p &lt; 70.
df[(df['gender'] == 0) & (df['ssc_p'] < 70)]

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,0,67.0,Others,91.0,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
2,3,0,65.0,Central,68.0,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,0,56.0,Central,52.0,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN
5,6,0,55.0,Others,49.8,Others,Science,67.25,Sci&Tech,Yes,55.0,Mkt&Fin,51.58,Not Placed,NaN
9,10,0,58.0,Central,70.0,Central,Commerce,61.00,Comm&Mgmt,No,54.0,Mkt&Fin,52.21,Not Placed,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
206,207,0,41.0,Central,42.0,Central,Science,60.00,Comm&Mgmt,No,97.0,Mkt&Fin,53.39,Not Placed,NaN
209,210,0,62.0,Central,72.0,Central,Commerce,65.00,Comm&Mgmt,No,67.0,Mkt&Fin,56.49,Placed,216000.0
211,212,0,58.0,Others,60.0,Others,Science,72.00,Sci&Tech,No,74.0,Mkt&Fin,53.62,Placed,275000.0
212,213,0,67.0,Others,67.0,Others,Commerce,73.00,Comm&Mgmt,Yes,59.0,Mkt&Fin,69.72,Placed,295000.0
214,215,0,62.0,Central,58.0,Others,Science,53.00,Comm&Mgmt,No,89.0,Mkt&HR,60.22,Not Placed,NaN

In [21]:
# 15. Find students whose salary is missing (NaN).
df['salary'].isnull()

0      False
1      False
2      False
3       True
4      False
       ...
210    False
211    False
212    False
213    False
214     True
Name: salary, Length: 215, dtype: bool

In [22]:
# 16. Display top 10 rows where etest_p is highest.
df.nlargest(10 , 'etest_p')

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
152,153,1,75.40,Others,60.5,Central,Science,84.00,Sci&Tech,No,98.00,Mkt&Fin,65.25,Placed,240000.0
24,25,0,76.50,Others,97.7,Others,Science,78.86,Sci&Tech,No,97.40,Mkt&Fin,74.01,Placed,360000.0
118,119,0,76.00,Central,80.0,Central,Science,78.00,Sci&Tech,Yes,97.00,Mkt&HR,70.48,Placed,276000.0
206,207,0,41.00,Central,42.0,Central,Science,60.00,Comm&Mgmt,No,97.00,Mkt&Fin,53.39,Not Placed,NaN
4,5,0,85.80,Central,73.6,Central,Commerce,73.30,Comm&Mgmt,No,96.80,Mkt&Fin,55.50,Placed,425000.0
116,117,0,68.20,Central,72.8,Central,Commerce,66.60,Comm&Mgmt,Yes,96.00,Mkt&Fin,70.85,Placed,300000.0
138,139,1,82.00,Others,64.0,Others,Science,73.00,Sci&Tech,Yes,96.00,Mkt&Fin,71.77,Placed,250000.0
189,190,1,54.00,Central,77.6,Others,Commerce,69.20,Comm&Mgmt,No,95.65,Mkt&Fin,66.94,Not Placed,NaN
72,73,0,84.86,Others,67.0,Others,Science,78.00,Comm&Mgmt,No,95.50,Mkt&Fin,68.53,Placed,240000.0
95,96,0,73.00,Central,78.0,Others,Commerce,65.00,Comm&Mgmt,Yes,95.46,Mkt&Fin,62.16,Placed,420000.0

In [23]:
# 17. Show all students who have degree_p between 60 and 80.
df[(df['degree_p'] >= 60) & (df['degree_p'] <= 80)]

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
1,2,0,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.50,Mkt&Fin,66.28,Placed,200000.0
2,3,0,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.00,Mkt&Fin,57.80,Placed,250000.0
4,5,0,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.80,Mkt&Fin,55.50,Placed,425000.0
5,6,0,55.00,Others,49.80,Others,Science,67.25,Sci&Tech,Yes,55.00,Mkt&Fin,51.58,Not Placed,NaN
6,7,1,46.00,Others,49.20,Others,Commerce,79.00,Comm&Mgmt,No,74.28,Mkt&Fin,53.29,Not Placed,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
208,209,1,43.00,Central,60.00,Others,Science,65.00,Comm&Mgmt,No,92.66,Mkt&HR,62.92,Not Placed,NaN
209,210,0,62.00,Central,72.00,Central,Commerce,65.00,Comm&Mgmt,No,67.00,Mkt&Fin,56.49,Placed,216000.0
210,211,0,80.60,Others,82.00,Others,Commerce,77.60,Comm&Mgmt,No,91.00,Mkt&Fin,74.49,Placed,400000.0
211,212,0,58.00,Others,60.00,Others,Science,72.00,Sci&Tech,No,74.00,Mkt&Fin,53.62,Placed,275000.0
212,213,0,67.00,Others,67.00,Others,Commerce,73.00,Comm&Mgmt,Yes,59.00,Mkt&Fin,69.72,Placed,295000.0

In [24]:
# 18. Select students whose specialisation is “Mkt&amp;Fin”.
df[df['specialisation'] == 'Mkt&Fin']

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
1,2,0,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.50,Mkt&Fin,66.28,Placed,200000.0
2,3,0,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.00,Mkt&Fin,57.80,Placed,250000.0
4,5,0,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.80,Mkt&Fin,55.50,Placed,425000.0
5,6,0,55.00,Others,49.80,Others,Science,67.25,Sci&Tech,Yes,55.00,Mkt&Fin,51.58,Not Placed,NaN
6,7,1,46.00,Others,49.20,Others,Commerce,79.00,Comm&Mgmt,No,74.28,Mkt&Fin,53.29,Not Placed,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
207,208,0,83.33,Central,78.00,Others,Commerce,61.00,Comm&Mgmt,Yes,88.56,Mkt&Fin,71.55,Placed,300000.0
209,210,0,62.00,Central,72.00,Central,Commerce,65.00,Comm&Mgmt,No,67.00,Mkt&Fin,56.49,Placed,216000.0
210,211,0,80.60,Others,82.00,Others,Commerce,77.60,Comm&Mgmt,No,91.00,Mkt&Fin,74.49,Placed,400000.0
211,212,0,58.00,Others,60.00,Others,Science,72.00,Sci&Tech,No,74.00,Mkt&Fin,53.62,Placed,275000.0
212,213,0,67.00,Others,67.00,Others,Commerce,73.00,Comm&Mgmt,Yes,59.00,Mkt&Fin,69.72,Placed,295000.0

In [25]:
# 19. Retrieve all students with workex = “No” and placed = “No”.
df[(df['workex'] == 'No') & (df['status'] == 'Not Placed')]

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
3,4,0,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.00,Mkt&HR,59.43,Not Placed,NaN
6,7,1,46.00,Others,49.20,Others,Commerce,79.00,Comm&Mgmt,No,74.28,Mkt&Fin,53.29,Not Placed,NaN
9,10,0,58.00,Central,70.00,Central,Commerce,61.00,Comm&Mgmt,No,54.00,Mkt&Fin,52.21,Not Placed,NaN
12,13,1,47.00,Central,55.00,Others,Science,65.00,Comm&Mgmt,No,62.00,Mkt&HR,65.04,Not Placed,NaN
14,15,0,62.00,Central,47.00,Central,Commerce,50.00,Comm&Mgmt,No,76.00,Mkt&HR,54.96,Not Placed,NaN
17,18,1,55.00,Central,67.00,Central,Commerce,64.00,Comm&Mgmt,No,60.00,Mkt&Fin,67.28,Not Placed,NaN
18,19,1,63.00,Central,66.00,Central,Commerce,64.00,Comm&Mgmt,No,68.00,Mkt&HR,64.08,Not Placed,NaN
29,30,0,62.00,Central,67.00,Central,Commerce,58.00,Comm&Mgmt,No,77.00,Mkt&Fin,51.29,Not Placed,NaN
31,32,1,67.00,Central,53.00,Central,Science,65.00,Sci&Tech,No,64.00,Mkt&HR,58.32,Not Placed,NaN
34,35,0,62.00,Others,51.00,Others,Science,52.00,Others,No,68.44,Mkt&HR,62.77,Not Placed,NaN
36,37,0,51.00,Central,44.00,Central,Commerce,57.00,Comm&Mgmt,No,64.00,Mkt&Fin,51.45,Not Placed,NaN
42,43,0,49.00,Others,39.00,Central,Science,65.00,Others,No,63.00,Mkt&Fin,51.21,Not Placed,NaN
45,46,1,76.00,Central,64.00,Central,Science,72.00,Sci&Tech,No,58.00,Mkt&HR,66.53,Not Placed,NaN
46,47,1,70.89,Others,71.98,Others,Science,65.60,Comm&Mgmt,No,68.00,Mkt&HR,71.63,Not Placed,NaN
49,50,1,50.00,Others,37.00,Others,Arts,52.00,Others,No,65.00,Mkt&HR,56.11,Not Placed,NaN
51,52,0,54.40,Central,61.12,Central,Commerce,56.20,Comm&Mgmt,No,67.00,Mkt&HR,62.65,Not Placed,NaN
52,53,1,40.89,Others,45.83,Others,Commerce,53.00,Comm&Mgmt,No,71.20,Mkt&HR,65.49,Not Placed,NaN
63,64,0,61.00,Others,70.00,Others,Commerce,64.00,Comm&Mgmt,No,68.50,Mkt&HR,59.50,Not Placed,NaN
65,66,0,54.00,Others,47.00,Others,Science,57.00,Comm&Mgmt,No,89.69,Mkt&HR,57.10,Not Placed,NaN
68,69,1,69.70,Central,47.00,Central,Commerce,72.70,Sci&Tech,No,79.00,Mkt&HR,59.24,Not Placed,NaN
75,76,1,59.00,Central,62.00,Others,Commerce,77.50,Comm&Mgmt,No,74.00,Mkt&HR,67.00,Not Placed,NaN
79,80,1,69.00,Central,62.00,Central,Science,66.00,Sci&Tech,No,75.00,Mkt&HR,67.99,Not Placed,NaN
82,83,0,63.00,Central,67.00,Central,Commerce,74.00,Comm&Mgmt,No,82.00,Mkt&Fin,60.44,Not Placed,NaN
87,88,0,59.60,Central,51.00,Central,Science,60.00,Others,No,75.00,Mkt&HR,59.08,Not Placed,NaN
91,92,0,52.00,Central,57.00,Central,Commerce,50.80,Comm&Mgmt,No,67.00,Mkt&HR,62.79,Not Placed,NaN
93,94,0,52.00,Central,62.00,Central,Commerce,54.00,Comm&Mgmt,No,72.00,Mkt&HR,55.41,Not Placed,NaN
97,98,1,70.50,Central,62.50,Others,Commerce,61.00,Comm&Mgmt,No,93.91,Mkt&Fin,69.03,Not Placed,NaN
99,100,0,54.00,Central,82.00,Others,Commerce,63.00,Sci&Tech,No,50.00,Mkt&Fin,59.47,Not Placed,NaN
105,106,0,59.00,Central,64.00,Others,Science,58.00,Sci&Tech,No,85.00,Mkt&HR,55.30,Not Placed,NaN
106,107,0,61.08,Others,50.00,Others,Science,54.00,Sci&Tech,No,71.00,Mkt&Fin,65.69,Not Placed,NaN
111,112,0,51.00,Others,54.00,Others,Science,61.00,Sci&Tech,No,60.00,Mkt&HR,60.64,Not Placed,NaN
120,121,0,58.00,Others,40.00,Others,Science,59.00,Comm&Mgmt,No,73.00,Mkt&HR,58.81,Not Placed,NaN
130,131,0,62.00,Central,65.00,Others,Commerce,60.00,Comm&Mgmt,No,84.00,Mkt&Fin,64.15,Not Placed,NaN
136,137,1,47.00,Central,59.00,Central,Arts,64.00,Comm&Mgmt,No,78.00,Mkt&Fin,61.58,Not Placed,NaN
141,142,0,66.00,Central,64.00,Central,Science,60.00,Comm&Mgmt,No,60.00,Mkt&HR,61.90,Not Placed,NaN
144,145,0,52.00,Others,50.00,Others,Arts,61.00,Comm&Mgmt,No,60.00,Mkt&Fin,58.52,Not Placed,NaN
158,159,0,67.00,Others,63.00,Others,Science,64.00,Sci&Tech,No,60.00,Mkt&Fin,61.87,Not Placed,NaN
159,160,0,52.00,Central,49.00,Others,Commerce,58.00,Comm&Mgmt,No,62.00,Mkt&HR,60.59,Not Placed,NaN
161,162,0,55.60,Others,51.00,Others,Commerce,57.50,Comm&Mgmt,No,57.63,Mkt&HR,62.72,Not Placed,NaN
165,166,1,63.30,Central,78.33,Others,Commerce,74.00,Comm&Mgmt,No,80.00,Mkt&Fin,74.56,Not Placed,NaN
169,170,0,59.96,Others,42.16,Others,Science,61.26,Sci&Tech,No,54.48,Mkt&HR,65.48,Not Placed,NaN
170,171,1,63.40,Others,67.20,Others,Commerce,60.00,Comm&Mgmt,No,58.06,Mkt&HR,69.28,Not Placed,NaN
173,174,1,52.00,Others,52.00,Others,Science,55.00,Sci&Tech,No,67.00,Mkt&HR,59.32,Not Placed,NaN
175,176,0,63.00,Others,62.00,Others,Science,65.00,Sci&Tech,No,87.50,Mkt&HR,60.69,Not Placed,NaN
179,180,1,77.80,Central,64.00,Central,Science,64.20,Sci&Tech,No,75.50,Mkt&HR,72.14,Not Placed,NaN
181,182,0,62.00,Central,60.33,Others,Science,64.21,Sci&Tech,No,63.00,Mkt&HR,60.02,Not Placed,NaN
184,185,1,56.28,Others,62.83,Others,Commerce,59.79,Comm&Mgmt,No,60.00,Mkt&HR,57.29,Not Placed,NaN
186,187,1,52.00,Central,64.00,Central,Commerce,61.00,Comm&Mgmt,No,55.00,Mkt&Fin,62.93,Not Placed,NaN
188,189,0,61.80,Others,47.00,Others,Commerce,54.38,Comm&Mgmt,No,57.00,Mkt&Fin,56.13,Not Placed,NaN
189,190,1,54.00,Central,77.60,Others,Commerce,69.20,Comm&Mgmt,No,95.65,Mkt&Fin,66.94,Not Placed,NaN
190,191,1,64.00,Others,70.20,Central,Commerce,61.00,Comm&Mgmt,No,50.00,Mkt&Fin,62.50,Not Placed,NaN
194,195,0,52.00,Others,55.00,Others,Commerce,56.30,Comm&Mgmt,No,59.00,Mkt&Fin,64.74,Not Placed,NaN
198,199,1,67.00,Central,70.00,Central,Commerce,65.00,Others,No,88.00,Mkt&HR,71.96,Not Placed,NaN
201,202,0,54.20,Central,63.00,Others,Science,58.00,Comm&Mgmt,No,79.00,Mkt&HR,58.44,Not Placed,NaN
206,207,0,41.00,Central,42.00,Central,Science,60.00,Comm&Mgmt,No,97.00,Mkt&Fin,53.39,Not Placed,NaN
208,209,1,43.00,Central,60.00,Others,Science,65.00,Comm&Mgmt,No,92.66,Mkt&HR,62.92,Not Placed,NaN
214,215,0,62.00,Central,58.00,Others,Science,53.00,Comm&Mgmt,No,89.00,Mkt&HR,60.22,Not Placed,NaN

In [26]:
# 20. Show students who studied in “Others” board in ssc_b.
df[df['ssc_b'] == 'Others']

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,0,67.0,Others,91.0,Others,Commerce,58.00,Sci&Tech,No,55.00,Mkt&HR,58.80,Placed,270000.0
5,6,0,55.0,Others,49.8,Others,Science,67.25,Sci&Tech,Yes,55.00,Mkt&Fin,51.58,Not Placed,NaN
6,7,1,46.0,Others,49.2,Others,Commerce,79.00,Comm&Mgmt,No,74.28,Mkt&Fin,53.29,Not Placed,NaN
19,20,0,60.0,Others,67.0,Others,Arts,70.00,Comm&Mgmt,Yes,50.48,Mkt&Fin,77.89,Placed,236000.0
20,21,0,62.0,Others,65.0,Others,Commerce,66.00,Comm&Mgmt,No,50.00,Mkt&HR,56.70,Placed,265000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205,206,0,61.0,Others,62.0,Others,Commerce,65.00,Comm&Mgmt,No,62.00,Mkt&Fin,56.81,Placed,250000.0
210,211,0,80.6,Others,82.0,Others,Commerce,77.60,Comm&Mgmt,No,91.00,Mkt&Fin,74.49,Placed,400000.0
211,212,0,58.0,Others,60.0,Others,Science,72.00,Sci&Tech,No,74.00,Mkt&Fin,53.62,Placed,275000.0
212,213,0,67.0,Others,67.0,Others,Commerce,73.00,Comm&Mgmt,Yes,59.00,Mkt&Fin,69.72,Placed,295000.0
213,214,1,74.0,Others,66.0,Others,Commerce,58.00,Comm&Mgmt,No,70.00,Mkt&HR,60.23,Placed,204000.0

In [27]:
# 21. Display students who have exactly 50 in hsc_p.
df[df['hsc_p'] == 50]

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
106,107,0,61.08,Others,50.0,Others,Science,54.0,Sci&Tech,No,71.0,Mkt&Fin,65.69,Not Placed,NaN
144,145,0,52.00,Others,50.0,Others,Arts,61.0,Comm&Mgmt,No,60.0,Mkt&Fin,58.52,Not Placed,NaN

In [28]:
# 22. Retrieve students whose salary is above average salary.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215 entries, 0 to 214
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   sl_no           215 non-null    int64
 1   gender          215 non-null    int64
 2   ssc_p           215 non-null    float64
 3   ssc_b           215 non-null    object
 4   hsc_p           215 non-null    float64
 5   hsc_b           215 non-null    object
 6   hsc_s           215 non-null    object
 7   degree_p        215 non-null    float64
 8   degree_t        215 non-null    object
 9   workex          215 non-null    object
 10  etest_p         215 non-null    float64
 11  specialisation  215 non-null    object
 12  mba_p           215 non-null    float64
 13  status          215 non-null    object
 14  salary          148 non-null    float64
dtypes: float64(6), int64(2), object(7)
memory usage: 25.3+ KB

In [29]:
df[df['salary'] > df['salary'].mean()]

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
4,5,0,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.80,Mkt&Fin,55.50,Placed,425000.0
16,17,0,63.00,Central,66.20,Central,Commerce,65.60,Comm&Mgmt,Yes,60.00,Mkt&Fin,62.54,Placed,300000.0
21,22,1,79.00,Others,76.00,Others,Commerce,85.00,Comm&Mgmt,No,95.00,Mkt&Fin,69.06,Placed,393000.0
22,23,1,69.80,Others,60.80,Others,Science,72.23,Sci&Tech,No,55.53,Mkt&HR,68.81,Placed,360000.0
23,24,1,77.40,Others,60.00,Others,Science,64.74,Sci&Tech,Yes,92.00,Mkt&Fin,63.62,Placed,300000.0
24,25,0,76.50,Others,97.70,Others,Science,78.86,Sci&Tech,No,97.40,Mkt&Fin,74.01,Placed,360000.0
28,29,0,76.76,Others,76.50,Others,Commerce,67.50,Comm&Mgmt,Yes,73.35,Mkt&Fin,64.15,Placed,350000.0
35,36,1,69.00,Central,78.00,Central,Commerce,72.00,Comm&Mgmt,No,71.00,Mkt&HR,62.74,Placed,300000.0
37,38,1,79.00,Central,76.00,Central,Science,65.60,Sci&Tech,No,58.00,Mkt&HR,55.47,Placed,320000.0
39,40,0,81.00,Others,68.00,Others,Science,64.00,Sci&Tech,No,93.00,Mkt&Fin,62.56,Placed,411000.0
43,44,0,87.00,Others,87.00,Others,Commerce,68.00,Comm&Mgmt,No,95.00,Mkt&HR,62.90,Placed,300000.0
53,54,0,80.00,Others,70.00,Others,Science,72.00,Sci&Tech,No,87.00,Mkt&HR,71.04,Placed,450000.0
57,58,0,68.00,Central,76.00,Central,Commerce,74.00,Comm&Mgmt,No,80.00,Mkt&Fin,63.59,Placed,360000.0
61,62,0,84.20,Central,73.40,Central,Commerce,66.89,Comm&Mgmt,No,61.60,Mkt&Fin,62.48,Placed,300000.0
70,71,0,82.00,Others,61.00,Others,Science,62.00,Sci&Tech,No,89.00,Mkt&Fin,65.45,Placed,360000.0
74,75,0,56.60,Central,64.80,Central,Commerce,70.20,Comm&Mgmt,No,84.27,Mkt&Fin,67.20,Placed,336000.0
77,78,0,64.00,Others,80.00,Others,Science,65.00,Sci&Tech,Yes,69.00,Mkt&Fin,57.65,Placed,500000.0
81,82,0,81.70,Others,63.00,Others,Science,67.00,Comm&Mgmt,Yes,86.00,Mkt&Fin,70.20,Placed,300000.0
83,84,0,84.00,Others,79.00,Others,Science,68.00,Sci&Tech,Yes,84.00,Mkt&Fin,66.69,Placed,300000.0
84,85,0,70.00,Central,63.00,Others,Science,70.00,Sci&Tech,Yes,55.00,Mkt&Fin,62.00,Placed,300000.0
85,86,1,83.84,Others,89.83,Others,Commerce,77.20,Comm&Mgmt,Yes,78.74,Mkt&Fin,76.18,Placed,400000.0
90,91,1,85.00,Others,90.00,Others,Commerce,82.00,Comm&Mgmt,No,92.00,Mkt&Fin,68.03,Placed,300000.0
95,96,0,73.00,Central,78.00,Others,Commerce,65.00,Comm&Mgmt,Yes,95.46,Mkt&Fin,62.16,Placed,420000.0
96,97,1,76.00,Central,70.00,Central,Science,76.00,Comm&Mgmt,Yes,66.00,Mkt&Fin,64.44,Placed,300000.0
101,102,0,63.00,Central,72.00,Central,Commerce,68.00,Comm&Mgmt,No,78.00,Mkt&HR,60.44,Placed,380000.0
102,103,1,77.00,Others,61.00,Others,Commerce,68.00,Comm&Mgmt,Yes,57.50,Mkt&Fin,61.31,Placed,300000.0
104,105,0,69.00,Central,63.00,Others,Science,65.00,Comm&Mgmt,Yes,55.00,Mkt&HR,58.23,Placed,360000.0
108,109,0,61.00,Central,82.00,Central,Commerce,69.00,Comm&Mgmt,No,84.00,Mkt&Fin,58.31,Placed,300000.0
116,117,0,68.20,Central,72.80,Central,Commerce,66.60,Comm&Mgmt,Yes,96.00,Mkt&Fin,70.85,Placed,300000.0
119,120,0,60.80,Central,68.40,Central,Commerce,64.60,Comm&Mgmt,Yes,82.66,Mkt&Fin,64.34,Placed,940000.0
125,126,1,84.00,Central,73.00,Central,Commerce,73.00,Comm&Mgmt,No,75.00,Mkt&Fin,73.33,Placed,350000.0
128,129,0,80.40,Central,73.40,Central,Science,77.72,Sci&Tech,Yes,81.20,Mkt&HR,76.26,Placed,400000.0
131,132,1,74.90,Others,57.00,Others,Science,62.00,Others,Yes,80.00,Mkt&Fin,60.78,Placed,360000.0
132,133,0,67.00,Others,68.00,Others,Commerce,64.00,Comm&Mgmt,Yes,74.40,Mkt&HR,53.49,Placed,300000.0
143,144,0,77.67,Others,64.89,Others,Commerce,70.67,Comm&Mgmt,No,89.00,Mkt&Fin,60.39,Placed,300000.0
145,146,0,89.40,Others,65.66,Others,Science,71.25,Sci&Tech,No,72.00,Mkt&HR,63.23,Placed,400000.0
147,148,0,70.00,Central,74.00,Central,Commerce,65.00,Comm&Mgmt,No,83.00,Mkt&Fin,62.28,Placed,300000.0
150,151,0,71.00,Central,58.66,Central,Science,58.00,Sci&Tech,Yes,56.00,Mkt&Fin,61.30,Placed,690000.0
153,154,0,49.00,Others,59.00,Others,Science,65.00,Sci&Tech,Yes,86.00,Mkt&Fin,62.48,Placed,340000.0
157,158,0,66.50,Central,62.50,Central,Commerce,60.90,Comm&Mgmt,No,93.40,Mkt&Fin,55.03,Placed,300000.0
160,161,0,87.00,Central,74.00,Central,Science,65.00,Sci&Tech,Yes,75.00,Mkt&HR,72.29,Placed,300000.0
163,164,0,63.00,Others,67.00,Others,Science,64.00,Sci&Tech,No,75.00,Mkt&Fin,66.46,Placed,500000.0
171,172,0,80.00,Others,80.00,Others,Commerce,72.00,Comm&Mgmt,Yes,63.79,Mkt&Fin,66.04,Placed,290000.0
172,173,0,73.00,Others,58.00,Others,Commerce,56.00,Comm&Mgmt,No,84.00,Mkt&HR,52.64,Placed,300000.0
174,175,0,73.24,Others,50.83,Others,Science,64.27,Sci&Tech,Yes,64.00,Mkt&Fin,66.23,Placed,500000.0
177,178,1,73.00,Central,97.00,Others,Commerce,79.00,Comm&Mgmt,Yes,89.00,Mkt&Fin,70.81,Placed,650000.0
178,179,0,68.00,Others,56.00,Others,Science,68.00,Sci&Tech,No,73.00,Mkt&HR,68.07,Placed,350000.0
193,194,1,60.00,Central,63.00,Central,Arts,56.00,Others,Yes,80.00,Mkt&HR,56.63,Placed,300000.0
200,201,0,69.00,Others,60.00,Others,Commerce,65.00,Comm&Mgmt,No,87.55,Mkt&Fin,52.81,Placed,300000.0
207,208,0,83.33,Central,78.00,Others,Commerce,61.00,Comm&Mgmt,Yes,88.56,Mkt&Fin,71.55,Placed,300000.0
210,211,0,80.60,Others,82.00,Others,Commerce,77.60,Comm&Mgmt,No,91.00,Mkt&Fin,74.49,Placed,400000.0
212,213,0,67.00,Others,67.00,Others,Commerce,73.00,Comm&Mgmt,Yes,59.00,Mkt&Fin,69.72,Placed,295000.0

In [30]:
# 23. Show records where both hsc_p and ssc_p are above 80.
df[(df['hsc_p'] > 80) & (df['ssc_p'] > 80)]

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
43,44,0,87.00,Others,87.00,Others,Commerce,68.0,Comm&Mgmt,No,95.00,Mkt&HR,62.90,Placed,300000.0
78,79,0,84.00,Others,90.90,Others,Science,64.5,Sci&Tech,No,86.04,Mkt&Fin,59.42,Placed,270000.0
85,86,1,83.84,Others,89.83,Others,Commerce,77.2,Comm&Mgmt,Yes,78.74,Mkt&Fin,76.18,Placed,400000.0
90,91,1,85.00,Others,90.00,Others,Commerce,82.0,Comm&Mgmt,No,92.00,Mkt&Fin,68.03,Placed,300000.0
107,108,0,82.00,Others,90.00,Others,Commerce,83.0,Comm&Mgmt,No,80.00,Mkt&HR,73.52,Placed,200000.0
210,211,0,80.60,Others,82.00,Others,Commerce,77.6,Comm&Mgmt,No,91.00,Mkt&Fin,74.49,Placed,400000.0

In [31]:
# 24. Find students with etest_p exactly equal to 100.
df[df['etest_p'] == 100]

Empty DataFrame
Columns: [sl_no, gender, ssc_p, ssc_b, hsc_p, hsc_b, hsc_s, degree_p, degree_t, workex, etest_p, specialisation, mba_p, status, salary]
Index: []

In [32]:
# 25. Display students with either hsc_b = “Central” or ssc_b = “Others”.
df[(df['hsc_b'] == 'Central') | (df['ssc_b'] == 'Others')]

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,0,67.0,Others,91.0,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
2,3,0,65.0,Central,68.0,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,0,56.0,Central,52.0,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN
4,5,0,85.8,Central,73.6,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0
5,6,0,55.0,Others,49.8,Others,Science,67.25,Sci&Tech,Yes,55.0,Mkt&Fin,51.58,Not Placed,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209,210,0,62.0,Central,72.0,Central,Commerce,65.00,Comm&Mgmt,No,67.0,Mkt&Fin,56.49,Placed,216000.0
210,211,0,80.6,Others,82.0,Others,Commerce,77.60,Comm&Mgmt,No,91.0,Mkt&Fin,74.49,Placed,400000.0
211,212,0,58.0,Others,60.0,Others,Science,72.00,Sci&Tech,No,74.0,Mkt&Fin,53.62,Placed,275000.0
212,213,0,67.0,Others,67.0,Others,Commerce,73.00,Comm&Mgmt,Yes,59.0,Mkt&Fin,69.72,Placed,295000.0
213,214,1,74.0,Others,66.0,Others,Commerce,58.00,Comm&Mgmt,No,70.0,Mkt&HR,60.23,Placed,204000.0

# 2. Column Operations &amp; Transformations (25 Questions).`

In [34]:
# 26. Add a new column overall_avg = (ssc_p + hsc_p + degree_p + mba_p) / 4.
df['overall_avg'] = df['ssc_p'] + df['hsc_p'] + df['degree_p'] + df['mba_p'] / 4

In [35]:
df['overall_avg']

0      230.7000
1      251.7100
2      211.4500
3      174.8575
4      246.5750
         ...
210    258.8225
211    203.4050
212    224.4300
213    213.0575
214    188.0550
Name: overall_avg, Length: 215, dtype: float64

In [36]:
# 27. Rename the column degree_p to degree_percentage.
df.rename(columns = {'degree_p' :'degree_percentage'})

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_percentage,degree_t,workex,etest_p,specialisation,mba_p,status,salary,overall_avg
0,1,0,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0,230.7000
1,2,0,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0,251.7100
2,3,0,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0,211.4500
3,4,0,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN,174.8575
4,5,0,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0,246.5750
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,211,0,80.60,Others,82.00,Others,Commerce,77.60,Comm&Mgmt,No,91.0,Mkt&Fin,74.49,Placed,400000.0,258.8225
211,212,0,58.00,Others,60.00,Others,Science,72.00,Sci&Tech,No,74.0,Mkt&Fin,53.62,Placed,275000.0,203.4050
212,213,0,67.00,Others,67.00,Others,Commerce,73.00,Comm&Mgmt,Yes,59.0,Mkt&Fin,69.72,Placed,295000.0,224.4300
213,214,1,74.00,Others,66.00,Others,Commerce,58.00,Comm&Mgmt,No,70.0,Mkt&HR,60.23,Placed,204000.0,213.0575
214,215,0,62.00,Central,58.00,Others,Science,53.00,Comm&Mgmt,No,89.0,Mkt&HR,60.22,Not Placed,NaN,188.0550

In [37]:
# 28. Create a new column placement_status = “Hired” if status = “Placed” else “Not Hired”.
def f(x):
    if x == 'Placed':
        return 'Hired'
    else:
        return 'Not hired'
df['placement_status'] = df['status'].apply(f)

In [38]:
df['placement_status']

0          Hired
1          Hired
2          Hired
3      Not hired
4          Hired
         ...
210        Hired
211        Hired
212        Hired
213        Hired
214    Not hired
Name: placement_status, Length: 215, dtype: object

In [39]:
# 29. Drop the column sl_no.
df.drop(columns = 'sl_no')

,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary,overall_avg,placement_status
0,0,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0,230.7000,Hired
1,0,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0,251.7100,Hired
2,0,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0,211.4500,Hired
3,0,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN,174.8575,Not hired
4,0,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0,246.5750,Hired
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,0,80.60,Others,82.00,Others,Commerce,77.60,Comm&Mgmt,No,91.0,Mkt&Fin,74.49,Placed,400000.0,258.8225,Hired
211,0,58.00,Others,60.00,Others,Science,72.00,Sci&Tech,No,74.0,Mkt&Fin,53.62,Placed,275000.0,203.4050,Hired
212,0,67.00,Others,67.00,Others,Commerce,73.00,Comm&Mgmt,Yes,59.0,Mkt&Fin,69.72,Placed,295000.0,224.4300,Hired
213,1,74.00,Others,66.00,Others,Commerce,58.00,Comm&Mgmt,No,70.0,Mkt&HR,60.23,Placed,204000.0,213.0575,Hired
214,0,62.00,Central,58.00,Others,Science,53.00,Comm&Mgmt,No,89.0,Mkt&HR,60.22,Not Placed,NaN,188.0550,Not hired

In [40]:
# 30. Replace all “Comm&amp;Mgmt” in degree_t with “Commerce”.
df['degree_t'].replace('Comm&Mgmt' , 'Commerce' ,  inplace=True )

C:\Users\pdcha\AppData\Local\Temp\ipykernel_10952\1751902516.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['degree_t'].replace('Comm&Mgmt' , 'Commerce' ,  inplace=True )

In [41]:
df['degree_t']

0      Sci&Tech
1      Sci&Tech
2      Commerce
3      Sci&Tech
4      Commerce
         ...
210    Commerce
211    Sci&Tech
212    Commerce
213    Commerce
214    Commerce
Name: degree_t, Length: 215, dtype: object

In [42]:
# 31. Convert gender column values “M” → “Male”, “F” → “Female”.
def convert(x):
    if x == 1:
        return "Male"
    else:
        return "Female"
df['gender'] = df['gender'].apply(convert)

In [43]:
df

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary,overall_avg,placement_status
0,1,Female,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0,230.7000,Hired
1,2,Female,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0,251.7100,Hired
2,3,Female,65.00,Central,68.00,Central,Arts,64.00,Commerce,No,75.0,Mkt&Fin,57.80,Placed,250000.0,211.4500,Hired
3,4,Female,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN,174.8575,Not hired
4,5,Female,85.80,Central,73.60,Central,Commerce,73.30,Commerce,No,96.8,Mkt&Fin,55.50,Placed,425000.0,246.5750,Hired
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,211,Female,80.60,Others,82.00,Others,Commerce,77.60,Commerce,No,91.0,Mkt&Fin,74.49,Placed,400000.0,258.8225,Hired
211,212,Female,58.00,Others,60.00,Others,Science,72.00,Sci&Tech,No,74.0,Mkt&Fin,53.62,Placed,275000.0,203.4050,Hired
212,213,Female,67.00,Others,67.00,Others,Commerce,73.00,Commerce,Yes,59.0,Mkt&Fin,69.72,Placed,295000.0,224.4300,Hired
213,214,Male,74.00,Others,66.00,Others,Commerce,58.00,Commerce,No,70.0,Mkt&HR,60.23,Placed,204000.0,213.0575,Hired
214,215,Female,62.00,Central,58.00,Others,Science,53.00,Commerce,No,89.0,Mkt&HR,60.22,Not Placed,NaN,188.0550,Not hired

In [44]:
# 32. Create a new column above_80_ssc = True if ssc_p &gt; 80 else False.
df['above_80_ssc'] = df['ssc_p'].apply(lambda x:True if x>80 else False)

In [45]:
df['above_80_ssc']

0      False
1      False
2      False
3      False
4       True
       ...
210     True
211    False
212    False
213    False
214    False
Name: above_80_ssc, Length: 215, dtype: bool

In [46]:
df.head()

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary,overall_avg,placement_status,above_80_ssc
0,1,Female,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0,230.7000,Hired,False
1,2,Female,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0,251.7100,Hired,False
2,3,Female,65.00,Central,68.00,Central,Arts,64.00,Commerce,No,75.0,Mkt&Fin,57.80,Placed,250000.0,211.4500,Hired,False
3,4,Female,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN,174.8575,Not hired,False
4,5,Female,85.80,Central,73.60,Central,Commerce,73.30,Commerce,No,96.8,Mkt&Fin,55.50,Placed,425000.0,246.5750,Hired,True

In [47]:
# 33. Round all percentage columns to 1 decimal place.
cols = ['ssc_p', 'hsc_p', 'degree_p' , 'etest_p', 'mba_p']
df[cols] = df[cols].round(1)

In [48]:
df.head()

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary,overall_avg,placement_status,above_80_ssc
0,1,Female,67.0,Others,91.0,Others,Commerce,58.0,Sci&Tech,No,55.0,Mkt&HR,58.8,Placed,270000.0,230.7000,Hired,False
1,2,Female,79.3,Central,78.3,Others,Science,77.5,Sci&Tech,Yes,86.5,Mkt&Fin,66.3,Placed,200000.0,251.7100,Hired,False
2,3,Female,65.0,Central,68.0,Central,Arts,64.0,Commerce,No,75.0,Mkt&Fin,57.8,Placed,250000.0,211.4500,Hired,False
3,4,Female,56.0,Central,52.0,Central,Science,52.0,Sci&Tech,No,66.0,Mkt&HR,59.4,Not Placed,NaN,174.8575,Not hired,False
4,5,Female,85.8,Central,73.6,Central,Commerce,73.3,Commerce,No,96.8,Mkt&Fin,55.5,Placed,425000.0,246.5750,Hired,True

In [49]:
# 34. Convert all column names to lowercase.
df.columns = df.columns.str.lower()

In [50]:
df.columns

Index(['sl_no', 'gender', 'ssc_p', 'ssc_b', 'hsc_p', 'hsc_b', 'hsc_s',
       'degree_p', 'degree_t', 'workex', 'etest_p', 'specialisation', 'mba_p',
       'status', 'salary', 'overall_avg', 'placement_status', 'above_80_ssc'],
      dtype='object')

In [51]:
# 35. Add a new column salary_in_lpa = salary / 100000.
df['salary_in_lpa'] = df['salary'] / 100000

In [52]:
df['salary_in_lpa']

0      2.70
1      2.00
2      2.50
3       NaN
4      4.25
       ...
210    4.00
211    2.75
212    2.95
213    2.04
214     NaN
Name: salary_in_lpa, Length: 215, dtype: float64

In [53]:
# 36. Replace NaN values in salary with 0.
df['salary'].fillna(0 , inplace=True)

C:\Users\pdcha\AppData\Local\Temp\ipykernel_10952\2997113520.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['salary'].fillna(0 , inplace=True)

In [54]:
df['salary']

0      270000.0
1      200000.0
2      250000.0
3           0.0
4      425000.0
         ...
210    400000.0
211    275000.0
212    295000.0
213    204000.0
214         0.0
Name: salary, Length: 215, dtype: float64

In [55]:
# 37. Drop all duplicate rows from the dataset.
df.drop_duplicates()

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary,overall_avg,placement_status,above_80_ssc,salary_in_lpa
0,1,Female,67.0,Others,91.0,Others,Commerce,58.0,Sci&Tech,No,55.0,Mkt&HR,58.8,Placed,270000.0,230.7000,Hired,False,2.70
1,2,Female,79.3,Central,78.3,Others,Science,77.5,Sci&Tech,Yes,86.5,Mkt&Fin,66.3,Placed,200000.0,251.7100,Hired,False,2.00
2,3,Female,65.0,Central,68.0,Central,Arts,64.0,Commerce,No,75.0,Mkt&Fin,57.8,Placed,250000.0,211.4500,Hired,False,2.50
3,4,Female,56.0,Central,52.0,Central,Science,52.0,Sci&Tech,No,66.0,Mkt&HR,59.4,Not Placed,0.0,174.8575,Not hired,False,NaN
4,5,Female,85.8,Central,73.6,Central,Commerce,73.3,Commerce,No,96.8,Mkt&Fin,55.5,Placed,425000.0,246.5750,Hired,True,4.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,211,Female,80.6,Others,82.0,Others,Commerce,77.6,Commerce,No,91.0,Mkt&Fin,74.5,Placed,400000.0,258.8225,Hired,True,4.00
211,212,Female,58.0,Others,60.0,Others,Science,72.0,Sci&Tech,No,74.0,Mkt&Fin,53.6,Placed,275000.0,203.4050,Hired,False,2.75
212,213,Female,67.0,Others,67.0,Others,Commerce,73.0,Commerce,Yes,59.0,Mkt&Fin,69.7,Placed,295000.0,224.4300,Hired,False,2.95
213,214,Male,74.0,Others,66.0,Others,Commerce,58.0,Commerce,No,70.0,Mkt&HR,60.2,Placed,204000.0,213.0575,Hired,False,2.04
214,215,Female,62.0,Central,58.0,Others,Science,53.0,Commerce,No,89.0,Mkt&HR,60.2,Not Placed,0.0,188.0550,Not hired,False,NaN

In [56]:
# 38. Increase all mba_p scores by 5 points.
df['mba_p'] = df['mba_p'] + 5

In [57]:
df['mba_p']

0      63.8
1      71.3
2      62.8
3      64.4
4      60.5
       ...
210    79.5
211    58.6
212    74.7
213    65.2
214    65.2
Name: mba_p, Length: 215, dtype: float64

In [58]:
# 39. Convert salary column to integer type.
df['salary'] = df['salary'].astype(int)

In [59]:
df.columns

Index(['sl_no', 'gender', 'ssc_p', 'ssc_b', 'hsc_p', 'hsc_b', 'hsc_s',
       'degree_p', 'degree_t', 'workex', 'etest_p', 'specialisation', 'mba_p',
       'status', 'salary', 'overall_avg', 'placement_status', 'above_80_ssc',
       'salary_in_lpa'],
      dtype='object')

In [60]:
# 40. Reorder columns to make status the first column.
reorder = df.loc[:, ['sl_no', 'status', 'gender', 'ssc_p', 'ssc_b', 'hsc_p', 'hsc_b', 'hsc_s',
       'degree_p', 'degree_t', 'workex', 'etest_p', 'specialisation', 'mba_p',
       'salary', 'overall_avg', 'placement_status', 'above_80_ssc',
       'salary_in_lpa']]
reorder

,sl_no,status,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,salary,overall_avg,placement_status,above_80_ssc,salary_in_lpa
0,1,Placed,Female,67.0,Others,91.0,Others,Commerce,58.0,Sci&Tech,No,55.0,Mkt&HR,63.8,270000,230.7000,Hired,False,2.70
1,2,Placed,Female,79.3,Central,78.3,Others,Science,77.5,Sci&Tech,Yes,86.5,Mkt&Fin,71.3,200000,251.7100,Hired,False,2.00
2,3,Placed,Female,65.0,Central,68.0,Central,Arts,64.0,Commerce,No,75.0,Mkt&Fin,62.8,250000,211.4500,Hired,False,2.50
3,4,Not Placed,Female,56.0,Central,52.0,Central,Science,52.0,Sci&Tech,No,66.0,Mkt&HR,64.4,0,174.8575,Not hired,False,NaN
4,5,Placed,Female,85.8,Central,73.6,Central,Commerce,73.3,Commerce,No,96.8,Mkt&Fin,60.5,425000,246.5750,Hired,True,4.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,211,Placed,Female,80.6,Others,82.0,Others,Commerce,77.6,Commerce,No,91.0,Mkt&Fin,79.5,400000,258.8225,Hired,True,4.00
211,212,Placed,Female,58.0,Others,60.0,Others,Science,72.0,Sci&Tech,No,74.0,Mkt&Fin,58.6,275000,203.4050,Hired,False,2.75
212,213,Placed,Female,67.0,Others,67.0,Others,Commerce,73.0,Commerce,Yes,59.0,Mkt&Fin,74.7,295000,224.4300,Hired,False,2.95
213,214,Placed,Male,74.0,Others,66.0,Others,Commerce,58.0,Commerce,No,70.0,Mkt&HR,65.2,204000,213.0575,Hired,False,2.04
214,215,Not Placed,Female,62.0,Central,58.0,Others,Science,53.0,Commerce,No,89.0,Mkt&HR,65.2,0,188.0550,Not hired,False,NaN

In [61]:
df

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary,overall_avg,placement_status,above_80_ssc,salary_in_lpa
0,1,Female,67.0,Others,91.0,Others,Commerce,58.0,Sci&Tech,No,55.0,Mkt&HR,63.8,Placed,270000,230.7000,Hired,False,2.70
1,2,Female,79.3,Central,78.3,Others,Science,77.5,Sci&Tech,Yes,86.5,Mkt&Fin,71.3,Placed,200000,251.7100,Hired,False,2.00
2,3,Female,65.0,Central,68.0,Central,Arts,64.0,Commerce,No,75.0,Mkt&Fin,62.8,Placed,250000,211.4500,Hired,False,2.50
3,4,Female,56.0,Central,52.0,Central,Science,52.0,Sci&Tech,No,66.0,Mkt&HR,64.4,Not Placed,0,174.8575,Not hired,False,NaN
4,5,Female,85.8,Central,73.6,Central,Commerce,73.3,Commerce,No,96.8,Mkt&Fin,60.5,Placed,425000,246.5750,Hired,True,4.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,211,Female,80.6,Others,82.0,Others,Commerce,77.6,Commerce,No,91.0,Mkt&Fin,79.5,Placed,400000,258.8225,Hired,True,4.00
211,212,Female,58.0,Others,60.0,Others,Science,72.0,Sci&Tech,No,74.0,Mkt&Fin,58.6,Placed,275000,203.4050,Hired,False,2.75
212,213,Female,67.0,Others,67.0,Others,Commerce,73.0,Commerce,Yes,59.0,Mkt&Fin,74.7,Placed,295000,224.4300,Hired,False,2.95
213,214,Male,74.0,Others,66.0,Others,Commerce,58.0,Commerce,No,70.0,Mkt&HR,65.2,Placed,204000,213.0575,Hired,False,2.04
214,215,Female,62.0,Central,58.0,Others,Science,53.0,Commerce,No,89.0,Mkt&HR,65.2,Not Placed,0,188.0550,Not hired,False,NaN

In [62]:
# 41. Replace all “Yes”/“No” in workex with 1/0.
df['workex'] = df['workex'].apply(lambda x:1 if 'Yes' in x else 0)

In [63]:
df['workex']

0      0
1      1
2      0
3      0
4      0
      ..
210    0
211    0
212    1
213    0
214    0
Name: workex, Length: 215, dtype: int64

In [64]:
# 42. Create a new column performance_tag: “Excellent” if degree_p &gt; 80 else “Average”.
def fx(x):
    if x > 80:
        return "Exellent"
    else:
        return 'Average'
df['performance_tag'] = df['degree_p'].apply(fx)

In [65]:
# 43. Standardize all column names to snake_case (e.g., ssc_p → ssc_percentage).
df.columns = [
    col.replace('_p' , '_percentage') if col.endswith('_p') else col
    for  col in df.columns
]

In [66]:
df

,sl_no,gender,ssc_percentage,ssc_b,hsc_percentage,hsc_b,hsc_s,degree_percentage,degree_t,workex,etest_percentage,specialisation,mba_percentage,status,salary,overall_avg,placement_status,above_80_ssc,salary_in_lpa,performance_tag
0,1,Female,67.0,Others,91.0,Others,Commerce,58.0,Sci&Tech,0,55.0,Mkt&HR,63.8,Placed,270000,230.7000,Hired,False,2.70,Average
1,2,Female,79.3,Central,78.3,Others,Science,77.5,Sci&Tech,1,86.5,Mkt&Fin,71.3,Placed,200000,251.7100,Hired,False,2.00,Average
2,3,Female,65.0,Central,68.0,Central,Arts,64.0,Commerce,0,75.0,Mkt&Fin,62.8,Placed,250000,211.4500,Hired,False,2.50,Average
3,4,Female,56.0,Central,52.0,Central,Science,52.0,Sci&Tech,0,66.0,Mkt&HR,64.4,Not Placed,0,174.8575,Not hired,False,NaN,Average
4,5,Female,85.8,Central,73.6,Central,Commerce,73.3,Commerce,0,96.8,Mkt&Fin,60.5,Placed,425000,246.5750,Hired,True,4.25,Average
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,211,Female,80.6,Others,82.0,Others,Commerce,77.6,Commerce,0,91.0,Mkt&Fin,79.5,Placed,400000,258.8225,Hired,True,4.00,Average
211,212,Female,58.0,Others,60.0,Others,Science,72.0,Sci&Tech,0,74.0,Mkt&Fin,58.6,Placed,275000,203.4050,Hired,False,2.75,Average
212,213,Female,67.0,Others,67.0,Others,Commerce,73.0,Commerce,1,59.0,Mkt&Fin,74.7,Placed,295000,224.4300,Hired,False,2.95,Average
213,214,Male,74.0,Others,66.0,Others,Commerce,58.0,Commerce,0,70.0,Mkt&HR,65.2,Placed,204000,213.0575,Hired,False,2.04,Average
214,215,Female,62.0,Central,58.0,Others,Science,53.0,Commerce,0,89.0,Mkt&HR,65.2,Not Placed,0,188.0550,Not hired,False,NaN,Average

In [67]:
# 44. Create a new column combining degree_t and specialisation (e.g., “Sci&amp;Tech_Mkt&amp;HR”).
df['combine_degreeandspel'] = df['degree_t'] + df['specialisation']

In [68]:
df

,sl_no,gender,ssc_percentage,ssc_b,hsc_percentage,hsc_b,hsc_s,degree_percentage,degree_t,workex,...,specialisation,mba_percentage,status,salary,overall_avg,placement_status,above_80_ssc,salary_in_lpa,performance_tag,combine_degreeandspel
0,1,Female,67.0,Others,91.0,Others,Commerce,58.0,Sci&Tech,0,...,Mkt&HR,63.8,Placed,270000,230.7000,Hired,False,2.70,Average,Sci&TechMkt&HR
1,2,Female,79.3,Central,78.3,Others,Science,77.5,Sci&Tech,1,...,Mkt&Fin,71.3,Placed,200000,251.7100,Hired,False,2.00,Average,Sci&TechMkt&Fin
2,3,Female,65.0,Central,68.0,Central,Arts,64.0,Commerce,0,...,Mkt&Fin,62.8,Placed,250000,211.4500,Hired,False,2.50,Average,CommerceMkt&Fin
3,4,Female,56.0,Central,52.0,Central,Science,52.0,Sci&Tech,0,...,Mkt&HR,64.4,Not Placed,0,174.8575,Not hired,False,NaN,Average,Sci&TechMkt&HR
4,5,Female,85.8,Central,73.6,Central,Commerce,73.3,Commerce,0,...,Mkt&Fin,60.5,Placed,425000,246.5750,Hired,True,4.25,Average,CommerceMkt&Fin
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,211,Female,80.6,Others,82.0,Others,Commerce,77.6,Commerce,0,...,Mkt&Fin,79.5,Placed,400000,258.8225,Hired,True,4.00,Average,CommerceMkt&Fin
211,212,Female,58.0,Others,60.0,Others,Science,72.0,Sci&Tech,0,...,Mkt&Fin,58.6,Placed,275000,203.4050,Hired,False,2.75,Average,Sci&TechMkt&Fin
212,213,Female,67.0,Others,67.0,Others,Commerce,73.0,Commerce,1,...,Mkt&Fin,74.7,Placed,295000,224.4300,Hired,False,2.95,Average,CommerceMkt&Fin
213,214,Male,74.0,Others,66.0,Others,Commerce,58.0,Commerce,0,...,Mkt&HR,65.2,Placed,204000,213.0575,Hired,False,2.04,Average,CommerceMkt&HR
214,215,Female,62.0,Central,58.0,Others,Science,53.0,Commerce,0,...,Mkt&HR,65.2,Not Placed,0,188.0550,Not hired,False,NaN,Average,CommerceMkt&HR

In [69]:
# 45. Fill missing etest_p values with mean of that column.
df['etest_percentage'].fillna(df['etest_percentage'].mean() , inplace=True)

C:\Users\pdcha\AppData\Local\Temp\ipykernel_10952\801935305.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['etest_percentage'].fillna(df['etest_percentage'].mean() , inplace=True)

In [70]:
df['etest_percentage']

0      55.0
1      86.5
2      75.0
3      66.0
4      96.8
       ...
210    91.0
211    74.0
212    59.0
213    70.0
214    89.0
Name: etest_percentage, Length: 215, dtype: float64

In [71]:
# 46. Create a new column total_score = ssc_p + hsc_p + degree_p + mba_p.
df['total_score'] = df['ssc_percentage'] + df['hsc_percentage'] + df['degree_percentage'] + df['mba_percentage']

In [72]:
df['total_score']

0      279.8
1      306.4
2      259.8
3      224.4
4      293.2
       ...
210    319.7
211    248.6
212    281.7
213    263.2
214    238.2
Name: total_score, Length: 215, dtype: float64

In [73]:
# 47. Drop students whose hsc_p &lt; 40.
df = df[df['hsc_percentage'] > 40]

In [74]:
df

,sl_no,gender,ssc_percentage,ssc_b,hsc_percentage,hsc_b,hsc_s,degree_percentage,degree_t,workex,...,mba_percentage,status,salary,overall_avg,placement_status,above_80_ssc,salary_in_lpa,performance_tag,combine_degreeandspel,total_score
0,1,Female,67.0,Others,91.0,Others,Commerce,58.0,Sci&Tech,0,...,63.8,Placed,270000,230.7000,Hired,False,2.70,Average,Sci&TechMkt&HR,279.8
1,2,Female,79.3,Central,78.3,Others,Science,77.5,Sci&Tech,1,...,71.3,Placed,200000,251.7100,Hired,False,2.00,Average,Sci&TechMkt&Fin,306.4
2,3,Female,65.0,Central,68.0,Central,Arts,64.0,Commerce,0,...,62.8,Placed,250000,211.4500,Hired,False,2.50,Average,CommerceMkt&Fin,259.8
3,4,Female,56.0,Central,52.0,Central,Science,52.0,Sci&Tech,0,...,64.4,Not Placed,0,174.8575,Not hired,False,NaN,Average,Sci&TechMkt&HR,224.4
4,5,Female,85.8,Central,73.6,Central,Commerce,73.3,Commerce,0,...,60.5,Placed,425000,246.5750,Hired,True,4.25,Average,CommerceMkt&Fin,293.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,211,Female,80.6,Others,82.0,Others,Commerce,77.6,Commerce,0,...,79.5,Placed,400000,258.8225,Hired,True,4.00,Average,CommerceMkt&Fin,319.7
211,212,Female,58.0,Others,60.0,Others,Science,72.0,Sci&Tech,0,...,58.6,Placed,275000,203.4050,Hired,False,2.75,Average,Sci&TechMkt&Fin,248.6
212,213,Female,67.0,Others,67.0,Others,Commerce,73.0,Commerce,1,...,74.7,Placed,295000,224.4300,Hired,False,2.95,Average,CommerceMkt&Fin,281.7
213,214,Male,74.0,Others,66.0,Others,Commerce,58.0,Commerce,0,...,65.2,Placed,204000,213.0575,Hired,False,2.04,Average,CommerceMkt&HR,263.2
214,215,Female,62.0,Central,58.0,Others,Science,53.0,Commerce,0,...,65.2,Not Placed,0,188.0550,Not hired,False,NaN,Average,CommerceMkt&HR,238.2

In [75]:
# 48. Create a boolean column is_placed = True if status = “Placed”.
df['is_placed'] = df['status'].apply(lambda x:True if x == "Placed" in x else False)

C:\Users\pdcha\AppData\Local\Temp\ipykernel_10952\1198843288.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['is_placed'] = df['status'].apply(lambda x:True if x == "Placed" in x else False)

In [76]:
df

,sl_no,gender,ssc_percentage,ssc_b,hsc_percentage,hsc_b,hsc_s,degree_percentage,degree_t,workex,...,status,salary,overall_avg,placement_status,above_80_ssc,salary_in_lpa,performance_tag,combine_degreeandspel,total_score,is_placed
0,1,Female,67.0,Others,91.0,Others,Commerce,58.0,Sci&Tech,0,...,Placed,270000,230.7000,Hired,False,2.70,Average,Sci&TechMkt&HR,279.8,True
1,2,Female,79.3,Central,78.3,Others,Science,77.5,Sci&Tech,1,...,Placed,200000,251.7100,Hired,False,2.00,Average,Sci&TechMkt&Fin,306.4,True
2,3,Female,65.0,Central,68.0,Central,Arts,64.0,Commerce,0,...,Placed,250000,211.4500,Hired,False,2.50,Average,CommerceMkt&Fin,259.8,True
3,4,Female,56.0,Central,52.0,Central,Science,52.0,Sci&Tech,0,...,Not Placed,0,174.8575,Not hired,False,NaN,Average,Sci&TechMkt&HR,224.4,False
4,5,Female,85.8,Central,73.6,Central,Commerce,73.3,Commerce,0,...,Placed,425000,246.5750,Hired,True,4.25,Average,CommerceMkt&Fin,293.2,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,211,Female,80.6,Others,82.0,Others,Commerce,77.6,Commerce,0,...,Placed,400000,258.8225,Hired,True,4.00,Average,CommerceMkt&Fin,319.7,True
211,212,Female,58.0,Others,60.0,Others,Science,72.0,Sci&Tech,0,...,Placed,275000,203.4050,Hired,False,2.75,Average,Sci&TechMkt&Fin,248.6,True
212,213,Female,67.0,Others,67.0,Others,Commerce,73.0,Commerce,1,...,Placed,295000,224.4300,Hired,False,2.95,Average,CommerceMkt&Fin,281.7,True
213,214,Male,74.0,Others,66.0,Others,Commerce,58.0,Commerce,0,...,Placed,204000,213.0575,Hired,False,2.04,Average,CommerceMkt&HR,263.2,True
214,215,Female,62.0,Central,58.0,Others,Science,53.0,Commerce,0,...,Not Placed,0,188.0550,Not hired,False,NaN,Average,CommerceMkt&HR,238.2,False

In [77]:
# 49. Add a column mba_grade = “A” if mba_p ≥ 75 else “B”.
df['mba_grade'] = df['mba_percentage'].apply(lambda x:'A' if x>= 70 else 'B')

C:\Users\pdcha\AppData\Local\Temp\ipykernel_10952\3645208762.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['mba_grade'] = df['mba_percentage'].apply(lambda x:'A' if x>= 70 else 'B')

In [78]:
df['mba_grade']

0      B
1      A
2      B
3      B
4      B
      ..
210    A
211    B
212    A
213    B
214    B
Name: mba_grade, Length: 212, dtype: object

In [79]:
# 50. Replace NaN salaries for non-placed students with 0.
df['salary'].fillna(0)

0      270000
1      200000
2      250000
3           0
4      425000
        ...
210    400000
211    275000
212    295000
213    204000
214         0
Name: salary, Length: 212, dtype: int32

# 3. Grouping, Aggregation &amp; Counting (25 Questions)

In [81]:
df.columns

Index(['sl_no', 'gender', 'ssc_percentage', 'ssc_b', 'hsc_percentage', 'hsc_b',
       'hsc_s', 'degree_percentage', 'degree_t', 'workex', 'etest_percentage',
       'specialisation', 'mba_percentage', 'status', 'salary', 'overall_avg',
       'placement_status', 'above_80_ssc', 'salary_in_lpa', 'performance_tag',
       'combine_degreeandspel', 'total_score', 'is_placed', 'mba_grade'],
      dtype='object')

In [82]:
# 51. Count how many students are in each gender.
df.groupby('gender').count()

,sl_no,ssc_percentage,ssc_b,hsc_percentage,hsc_b,hsc_s,degree_percentage,degree_t,workex,etest_percentage,...,salary,overall_avg,placement_status,above_80_ssc,salary_in_lpa,performance_tag,combine_degreeandspel,total_score,is_placed,mba_grade
gender,,,,,,,,,,,,,,,,,,,,,
Female,137,137,137,137,137,137,137,137,137,137,...,137,137,137,137,100,137,137,137,137,137
Male,75,75,75,75,75,75,75,75,75,75,...,75,75,75,75,48,75,75,75,75,75

In [83]:
# 52. Find the average mba_p for each specialisation.
df.groupby('specialisation')['mba_percentage'].mean()

specialisation
Mkt&Fin    67.923529
Mkt&HR     66.673118
Name: mba_percentage, dtype: float64

In [84]:
# 53. Get the mean degree_p for placed vs non-placed students.
df.groupby('status')['degree_percentage'].mean()

status
Not Placed    61.250000
Placed        68.739865
Name: degree_percentage, dtype: float64

In [85]:
df['salary']

0      270000
1      200000
2      250000
3           0
4      425000
        ...
210    400000
211    275000
212    295000
213    204000
214         0
Name: salary, Length: 212, dtype: int32

In [86]:
# 54. Find the maximum salary for each specialisation.
df.groupby('specialisation')['salary'].max()

specialisation
Mkt&Fin    940000
Mkt&HR     450000
Name: salary, dtype: int32

In [87]:
# 55. Count the number of students with and without workex.
df.groupby('workex')['workex'].count()

workex
0    138
1     74
Name: workex, dtype: int64

In [88]:
# 56. Calculate the average etest_p for each degree_t.
df.groupby('degree_t')['etest_percentage'].mean()

degree_t
Commerce    71.979861
Others      74.377778
Sci&Tech    72.310169
Name: etest_percentage, dtype: float64

In [89]:
# 57. Find the total number of placed students per degree_t.
df.groupby('degree_t')['status'].count()

degree_t
Commerce    144
Others        9
Sci&Tech     59
Name: status, dtype: int64

In [90]:
# 58. Get the minimum hsc_p for each hsc_b.
df.groupby('hsc_b')['hsc_percentage'].min()

hsc_b
Central    42.0
Others     42.2
Name: hsc_percentage, dtype: float64

In [91]:
# 59. Count of students in each specialisation grouped by gender.
df.groupby('gender')['specialisation'].count()

gender
Female    137
Male       75
Name: specialisation, dtype: int64

In [92]:
# 60. Find the highest mba_p among placed students.
# dff = df[df['status'] == 'Placed']
df[df['status'] == 'Placed']['mba_percentage'].min()

57.4

In [93]:
# 61. Calculate mean, min, and max ssc_p for each gender.
df.groupby('gender')['ssc_percentage'].agg(['mean','min','max'])

             mean   min   max
gender
Female  66.946715  41.0  89.4
Male    68.556000  40.9  88.0

In [94]:
# 62. Count how many students have each unique combination of degree_t and workex.

In [95]:
# 63. Find the number of placed students per hsc_b.
df[df['status'] == 'Placed'].groupby('hsc_b')['status'].count()

hsc_b
Central    57
Others     91
Name: status, dtype: int64

In [96]:
# 64. Get average salary for each specialisation grouped by workex.
df.groupby(['workex','specialisation'])[['salary']].mean()

                              salary
workex specialisation
0      Mkt&Fin         200411.764706
       Mkt&HR          138342.857143
1      Mkt&Fin         289470.588235
       Mkt&HR          202000.000000

In [97]:
# 65. Calculate the average of all numeric columns for each degree_t.
df.groupby('degree_t').mean(numeric_only = True)

,sl_no,ssc_percentage,hsc_percentage,degree_percentage,workex,etest_percentage,mba_percentage,salary,overall_avg,above_80_ssc,salary_in_lpa,total_score,is_placed
degree_t,,,,,,,,,,,,,
Commerce,106.173611,66.011806,67.373611,66.253472,0.312500,71.979861,66.885417,197361.111111,215.109774,0.097222,2.786275,266.524306,0.708333
Others,143.444444,67.500000,65.111111,61.144444,0.444444,74.377778,68.100000,155777.777778,209.531111,0.111111,2.804000,261.855556,0.555556
Sci&Tech,108.915254,71.189831,65.386441,67.842373,0.423729,72.310169,68.459322,218627.118644,220.284449,0.237288,3.146098,272.877966,0.694915

In [98]:
# 66. Find the number of students with etest_p &gt; 80 grouped by workex.
df[df['etest_percentage'] > 80].groupby('workex')['etest_percentage'].count()

workex
0    37
1    24
Name: etest_percentage, dtype: int64

In [99]:
# 67. Display count of placed and not placed students per degree_t.
df.groupby(['degree_t', 'status']).size()

degree_t  status
Commerce  Not Placed     42
          Placed        102
Others    Not Placed      4
          Placed          5
Sci&Tech  Not Placed     18
          Placed         41
dtype: int64

In [100]:
# 68. Show mean mba_p for each specialisation and gender.
df.groupby(['specialisation', 'gender'])['mba_percentage'].mean()

specialisation  gender
Mkt&Fin         Female    66.579268
                Male      70.902703
Mkt&HR          Female    65.312727
                Male      68.642105
Name: mba_percentage, dtype: float64

In [101]:
# 69. Find how many students from each hsc_b got placed.
df[df['status'] == "Placed"].groupby('hsc_b')['status'].count()

hsc_b
Central    57
Others     91
Name: status, dtype: int64

In [102]:
# 70. Get both min and max salary for each specialisation.
df.groupby('specialisation')['salary'].agg(['min','max'])

                min     max
specialisation
Mkt&Fin           0  940000
Mkt&HR            0  450000

In [103]:
# 71. Display number of unique degree_t values for each workex group.
df.groupby('workex')['degree_t'].nunique()

workex
0    3
1    3
Name: degree_t, dtype: int64

In [104]:
# 72. Find average degree_p per hsc_b and ssc_b.
df.groupby(['hsc_b', 'ssc_b'])[['degree_percentage']].mean()

                 degree_percentage
hsc_b   ssc_b
Central Central          65.548052
        Others           68.516667
Others  Central          67.223077
        Others           66.816667

In [105]:
# 73. Calculate total number of students grouped by specialisation and status.
df.groupby(['specialisation', 'status']).size()

specialisation  status
Mkt&Fin         Not Placed    24
                Placed        95
Mkt&HR          Not Placed    40
                Placed        53
dtype: int64

In [106]:
# 74. Find which degree_t has the highest average placement rate.
# df['degree_t'].unique()
ss = df.groupby('degree_t')
x = ss['status'].apply(lambda x: (x == "Placed").mean())

print(x.idxmax(), x.max())

Commerce 0.7083333333333334

In [107]:
# 75. Display how many students scored more than 70 in mba_p for each specialisation.
df[df['mba_percentage'] > 70].groupby('specialisation').size()

specialisation
Mkt&Fin    44
Mkt&HR     24
dtype: int64

# 4. Sorting, Indexing &amp; Merging (25 Questions)

In [109]:
# 76. Sort dataset by salary in descending order.
df.columns.sort_values(ascending = False)

Index(['workex', 'total_score', 'status', 'ssc_percentage', 'ssc_b',
       'specialisation', 'sl_no', 'salary_in_lpa', 'salary',
       'placement_status', 'performance_tag', 'overall_avg', 'mba_percentage',
       'mba_grade', 'is_placed', 'hsc_s', 'hsc_percentage', 'hsc_b', 'gender',
       'etest_percentage', 'degree_t', 'degree_percentage',
       'combine_degreeandspel', 'above_80_ssc'],
      dtype='object')

In [110]:
# 77. Sort by degree_p and then by mba_p.
df.sort_values(['degree_percentage','mba_percentage'])

,sl_no,gender,ssc_percentage,ssc_b,hsc_percentage,hsc_b,hsc_s,degree_percentage,degree_t,workex,...,salary,overall_avg,placement_status,above_80_ssc,salary_in_lpa,performance_tag,combine_degreeandspel,total_score,is_placed,mba_grade
14,15,Female,62.0,Central,47.0,Central,Commerce,50.0,Commerce,0,...,0,172.7400,Not hired,False,NaN,Average,CommerceMkt&HR,219.0,False,B
25,26,Male,52.6,Others,54.6,Central,Commerce,50.2,Commerce,1,...,0,173.7125,Not hired,False,NaN,Average,CommerceMkt&Fin,227.7,False,A
91,92,Female,52.0,Central,57.0,Central,Commerce,50.8,Commerce,0,...,0,175.4975,Not hired,False,NaN,Average,CommerceMkt&HR,227.6,False,B
3,4,Female,56.0,Central,52.0,Central,Science,52.0,Sci&Tech,0,...,0,174.8575,Not hired,False,NaN,Average,Sci&TechMkt&HR,224.4,False,B
34,35,Female,62.0,Others,51.0,Others,Science,52.0,Others,0,...,0,180.6925,Not hired,False,NaN,Average,OthersMkt&HR,232.8,False,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90,91,Male,85.0,Others,90.0,Others,Commerce,82.0,Commerce,0,...,300000,274.0075,Hired,True,3.00,Exellent,CommerceMkt&Fin,330.0,True,A
107,108,Female,82.0,Others,90.0,Others,Commerce,83.0,Commerce,0,...,200000,273.3800,Hired,True,2.00,Exellent,CommerceMkt&HR,333.5,True,A
152,153,Male,75.4,Others,60.5,Central,Science,84.0,Sci&Tech,0,...,240000,236.2125,Hired,False,2.40,Exellent,Sci&TechMkt&Fin,290.1,True,A
21,22,Male,79.0,Others,76.0,Others,Commerce,85.0,Commerce,0,...,393000,257.2650,Hired,False,3.93,Exellent,CommerceMkt&Fin,314.1,True,A
197,198,Male,84.0,Others,53.0,Others,Science,91.0,Sci&Tech,0,...,260000,245.3875,Hired,True,2.60,Exellent,Sci&TechMkt&HR,302.7,True,A

In [111]:
# 78. Sort all placed students by salary.
dd = df.copy()
df[df['status'] == "Placed"].sort_values(by='salary')

,sl_no,gender,ssc_percentage,ssc_b,hsc_percentage,hsc_b,hsc_s,degree_percentage,degree_t,workex,...,salary,overall_avg,placement_status,above_80_ssc,salary_in_lpa,performance_tag,combine_degreeandspel,total_score,is_placed,mba_grade
107,108,Female,82.0,Others,90.0,Others,Commerce,83.0,Commerce,0,...,200000,273.3800,Hired,True,2.0,Exellent,CommerceMkt&HR,333.5,True,A
1,2,Female,79.3,Central,78.3,Others,Science,77.5,Sci&Tech,1,...,200000,251.7100,Hired,False,2.0,Average,Sci&TechMkt&Fin,306.4,True,A
135,136,Male,72.0,Central,56.0,Others,Science,69.0,Commerce,0,...,200000,213.4075,Hired,False,2.0,Average,CommerceMkt&HR,267.6,True,A
50,51,Male,75.2,Central,73.2,Central,Science,68.4,Commerce,0,...,200000,232.5450,Hired,False,2.0,Average,CommerceMkt&HR,284.8,True,B
44,45,Male,77.0,Others,73.0,Others,Commerce,81.0,Commerce,1,...,200000,248.4250,Hired,False,2.0,Exellent,CommerceMkt&Fin,305.7,True,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163,164,Female,63.0,Others,67.0,Others,Science,64.0,Sci&Tech,0,...,500000,210.6150,Hired,False,5.0,Average,Sci&TechMkt&Fin,265.5,True,A
77,78,Female,64.0,Others,80.0,Others,Science,65.0,Sci&Tech,1,...,500000,223.4125,Hired,False,5.0,Average,Sci&TechMkt&Fin,271.6,True,B
177,178,Male,73.0,Central,97.0,Others,Commerce,79.0,Commerce,1,...,650000,266.7025,Hired,False,6.5,Average,CommerceMkt&Fin,324.8,True,A
150,151,Female,71.0,Central,58.7,Central,Science,58.0,Sci&Tech,1,...,690000,202.9850,Hired,False,6.9,Average,Sci&TechMkt&Fin,254.0,True,B
119,120,Female,60.8,Central,68.4,Central,Commerce,64.6,Commerce,1,...,940000,209.8850,Hired,False,9.4,Average,CommerceMkt&Fin,263.1,True,B

In [112]:
# 79. Sort the entire dataset by ssc_p ascending.
df.sort_values(by='ssc_percentage')

,sl_no,gender,ssc_percentage,ssc_b,hsc_percentage,hsc_b,hsc_s,degree_percentage,degree_t,workex,...,salary,overall_avg,placement_status,above_80_ssc,salary_in_lpa,performance_tag,combine_degreeandspel,total_score,is_placed,mba_grade
52,53,Male,40.9,Others,45.8,Others,Commerce,53.0,Commerce,0,...,0,156.0925,Not hired,False,NaN,Average,CommerceMkt&HR,210.2,False,A
206,207,Female,41.0,Central,42.0,Central,Science,60.0,Commerce,0,...,0,156.3475,Not hired,False,NaN,Average,CommerceMkt&Fin,201.4,False,B
208,209,Male,43.0,Central,60.0,Others,Science,65.0,Commerce,0,...,0,183.7300,Not hired,False,NaN,Average,CommerceMkt&HR,235.9,False,B
149,150,Female,44.0,Central,58.0,Central,Arts,55.0,Commerce,1,...,0,171.6350,Not hired,False,NaN,Average,CommerceMkt&HR,220.5,False,B
100,101,Male,45.0,Others,57.0,Others,Commerce,58.0,Commerce,1,...,0,176.2375,Not hired,False,NaN,Average,CommerceMkt&HR,230.0,False,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43,44,Female,87.0,Others,87.0,Others,Commerce,68.0,Commerce,0,...,300000,257.7250,Hired,True,3.00,Average,CommerceMkt&HR,309.9,True,B
160,161,Female,87.0,Central,74.0,Central,Science,65.0,Sci&Tech,1,...,300000,244.0725,Hired,True,3.00,Average,Sci&TechMkt&HR,303.3,True,A
33,34,Male,87.0,Others,65.0,Others,Science,81.0,Commerce,1,...,260000,251.1950,Hired,True,2.60,Exellent,CommerceMkt&Fin,310.8,True,A
185,186,Male,88.0,Central,72.0,Central,Science,78.0,Others,0,...,252000,255.8575,Hired,True,2.52,Average,OthersMkt&HR,314.4,True,A
145,146,Female,89.4,Others,65.7,Others,Science,71.2,Sci&Tech,0,...,400000,242.1175,Hired,True,4.00,Average,Sci&TechMkt&HR,294.5,True,B

In [113]:
# 80. Set sl_no as the index.
df.rename(columns = {'sl_no' : 'index'})

,index,gender,ssc_percentage,ssc_b,hsc_percentage,hsc_b,hsc_s,degree_percentage,degree_t,workex,...,salary,overall_avg,placement_status,above_80_ssc,salary_in_lpa,performance_tag,combine_degreeandspel,total_score,is_placed,mba_grade
0,1,Female,67.0,Others,91.0,Others,Commerce,58.0,Sci&Tech,0,...,270000,230.7000,Hired,False,2.70,Average,Sci&TechMkt&HR,279.8,True,B
1,2,Female,79.3,Central,78.3,Others,Science,77.5,Sci&Tech,1,...,200000,251.7100,Hired,False,2.00,Average,Sci&TechMkt&Fin,306.4,True,A
2,3,Female,65.0,Central,68.0,Central,Arts,64.0,Commerce,0,...,250000,211.4500,Hired,False,2.50,Average,CommerceMkt&Fin,259.8,True,B
3,4,Female,56.0,Central,52.0,Central,Science,52.0,Sci&Tech,0,...,0,174.8575,Not hired,False,NaN,Average,Sci&TechMkt&HR,224.4,False,B
4,5,Female,85.8,Central,73.6,Central,Commerce,73.3,Commerce,0,...,425000,246.5750,Hired,True,4.25,Average,CommerceMkt&Fin,293.2,True,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,211,Female,80.6,Others,82.0,Others,Commerce,77.6,Commerce,0,...,400000,258.8225,Hired,True,4.00,Average,CommerceMkt&Fin,319.7,True,A
211,212,Female,58.0,Others,60.0,Others,Science,72.0,Sci&Tech,0,...,275000,203.4050,Hired,False,2.75,Average,Sci&TechMkt&Fin,248.6,True,B
212,213,Female,67.0,Others,67.0,Others,Commerce,73.0,Commerce,1,...,295000,224.4300,Hired,False,2.95,Average,CommerceMkt&Fin,281.7,True,A
213,214,Male,74.0,Others,66.0,Others,Commerce,58.0,Commerce,0,...,204000,213.0575,Hired,False,2.04,Average,CommerceMkt&HR,263.2,True,B
214,215,Female,62.0,Central,58.0,Others,Science,53.0,Commerce,0,...,0,188.0550,Not hired,False,NaN,Average,CommerceMkt&HR,238.2,False,B

In [114]:
# 81. Reset index to default.
df.reset_index(drop=True , inplace=True)

In [115]:
df

,sl_no,gender,ssc_percentage,ssc_b,hsc_percentage,hsc_b,hsc_s,degree_percentage,degree_t,workex,...,salary,overall_avg,placement_status,above_80_ssc,salary_in_lpa,performance_tag,combine_degreeandspel,total_score,is_placed,mba_grade
0,1,Female,67.0,Others,91.0,Others,Commerce,58.0,Sci&Tech,0,...,270000,230.7000,Hired,False,2.70,Average,Sci&TechMkt&HR,279.8,True,B
1,2,Female,79.3,Central,78.3,Others,Science,77.5,Sci&Tech,1,...,200000,251.7100,Hired,False,2.00,Average,Sci&TechMkt&Fin,306.4,True,A
2,3,Female,65.0,Central,68.0,Central,Arts,64.0,Commerce,0,...,250000,211.4500,Hired,False,2.50,Average,CommerceMkt&Fin,259.8,True,B
3,4,Female,56.0,Central,52.0,Central,Science,52.0,Sci&Tech,0,...,0,174.8575,Not hired,False,NaN,Average,Sci&TechMkt&HR,224.4,False,B
4,5,Female,85.8,Central,73.6,Central,Commerce,73.3,Commerce,0,...,425000,246.5750,Hired,True,4.25,Average,CommerceMkt&Fin,293.2,True,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
207,211,Female,80.6,Others,82.0,Others,Commerce,77.6,Commerce,0,...,400000,258.8225,Hired,True,4.00,Average,CommerceMkt&Fin,319.7,True,A
208,212,Female,58.0,Others,60.0,Others,Science,72.0,Sci&Tech,0,...,275000,203.4050,Hired,False,2.75,Average,Sci&TechMkt&Fin,248.6,True,B
209,213,Female,67.0,Others,67.0,Others,Commerce,73.0,Commerce,1,...,295000,224.4300,Hired,False,2.95,Average,CommerceMkt&Fin,281.7,True,A
210,214,Male,74.0,Others,66.0,Others,Commerce,58.0,Commerce,0,...,204000,213.0575,Hired,False,2.04,Average,CommerceMkt&HR,263.2,True,B
211,215,Female,62.0,Central,58.0,Others,Science,53.0,Commerce,0,...,0,188.0550,Not hired,False,NaN,Average,CommerceMkt&HR,238.2,False,B

In [116]:
# 82. Sort students first by status, then by salary (descending).
dd = df.sort_values(by=['status','salary'] , ascending =False)
dd

,sl_no,gender,ssc_percentage,ssc_b,hsc_percentage,hsc_b,hsc_s,degree_percentage,degree_t,workex,...,salary,overall_avg,placement_status,above_80_ssc,salary_in_lpa,performance_tag,combine_degreeandspel,total_score,is_placed,mba_grade
117,120,Female,60.8,Central,68.4,Central,Commerce,64.6,Commerce,1,...,940000,209.8850,Hired,False,9.4,Average,CommerceMkt&Fin,263.1,True,B
147,151,Female,71.0,Central,58.7,Central,Science,58.0,Sci&Tech,1,...,690000,202.9850,Hired,False,6.9,Average,Sci&TechMkt&Fin,254.0,True,B
174,178,Male,73.0,Central,97.0,Others,Commerce,79.0,Commerce,1,...,650000,266.7025,Hired,False,6.5,Average,CommerceMkt&Fin,324.8,True,A
75,78,Female,64.0,Others,80.0,Others,Science,65.0,Sci&Tech,1,...,500000,223.4125,Hired,False,5.0,Average,Sci&TechMkt&Fin,271.6,True,B
160,164,Female,63.0,Others,67.0,Others,Science,64.0,Sci&Tech,0,...,500000,210.6150,Hired,False,5.0,Average,Sci&TechMkt&Fin,265.5,True,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,199,Male,67.0,Central,70.0,Central,Commerce,65.0,Others,0,...,0,219.9900,Not hired,False,NaN,Average,OthersMkt&HR,279.0,False,A
198,202,Female,54.2,Central,63.0,Others,Science,58.0,Commerce,0,...,0,189.8100,Not hired,False,NaN,Average,CommerceMkt&HR,238.6,False,B
203,207,Female,41.0,Central,42.0,Central,Science,60.0,Commerce,0,...,0,156.3475,Not hired,False,NaN,Average,CommerceMkt&Fin,201.4,False,B
205,209,Male,43.0,Central,60.0,Others,Science,65.0,Commerce,0,...,0,183.7300,Not hired,False,NaN,Average,CommerceMkt&HR,235.9,False,B
211,215,Female,62.0,Central,58.0,Others,Science,53.0,Commerce,0,...,0,188.0550,Not hired,False,NaN,Average,CommerceMkt&HR,238.2,False,B

In [117]:
# 83. Retrieve top 5 students with highest mba_p..
df.nlargest(5 , 'mba_percentage')

,sl_no,gender,ssc_percentage,ssc_b,hsc_percentage,hsc_b,hsc_s,degree_percentage,degree_t,workex,...,salary,overall_avg,placement_status,above_80_ssc,salary_in_lpa,performance_tag,combine_degreeandspel,total_score,is_placed,mba_grade
19,20,Female,60.0,Others,67.0,Others,Arts,70.0,Commerce,1,...,236000,216.4725,Hired,False,2.36,Average,CommerceMkt&Fin,279.9,True,A
125,129,Female,80.4,Central,73.4,Central,Science,77.7,Sci&Tech,1,...,400000,250.5850,Hired,True,4.00,Average,Sci&TechMkt&HR,312.8,True,A
83,86,Male,83.8,Others,89.8,Others,Commerce,77.2,Commerce,1,...,400000,269.9150,Hired,True,4.00,Average,CommerceMkt&Fin,332.0,True,A
164,168,Female,67.9,Others,62.0,Others,Science,67.0,Sci&Tech,1,...,0,215.8275,Not hired,False,NaN,Average,Sci&TechMkt&Fin,277.6,False,A
162,166,Male,63.3,Central,78.3,Others,Commerce,74.0,Commerce,0,...,0,234.2700,Not hired,False,NaN,Average,CommerceMkt&Fin,295.2,False,A

In [118]:
# 84. Retrieve bottom 10 students with lowest degree_p
dd = df.sort_values(by='degree_percentage' , ascending = False)
dd.tail(10)

,sl_no,gender,ssc_percentage,ssc_b,hsc_percentage,hsc_b,hsc_s,degree_percentage,degree_t,workex,...,salary,overall_avg,placement_status,above_80_ssc,salary_in_lpa,performance_tag,combine_degreeandspel,total_score,is_placed,mba_grade
185,189,Female,61.8,Others,47.0,Others,Commerce,54.4,Commerce,0,...,0,177.2125,Not hired,False,NaN,Average,CommerceMkt&Fin,224.3,False,B
91,94,Female,52.0,Central,62.0,Central,Commerce,54.0,Commerce,0,...,0,181.8525,Not hired,False,NaN,Average,CommerceMkt&HR,228.4,False,B
104,107,Female,61.1,Others,50.0,Others,Science,54.0,Sci&Tech,0,...,0,181.5025,Not hired,False,NaN,Average,Sci&TechMkt&Fin,235.8,False,A
50,53,Male,40.9,Others,45.8,Others,Commerce,53.0,Commerce,0,...,0,156.0925,Not hired,False,NaN,Average,CommerceMkt&HR,210.2,False,A
211,215,Female,62.0,Central,58.0,Others,Science,53.0,Commerce,0,...,0,188.0550,Not hired,False,NaN,Average,CommerceMkt&HR,238.2,False,B
34,35,Female,62.0,Others,51.0,Others,Science,52.0,Others,0,...,0,180.6925,Not hired,False,NaN,Average,OthersMkt&HR,232.8,False,B
3,4,Female,56.0,Central,52.0,Central,Science,52.0,Sci&Tech,0,...,0,174.8575,Not hired,False,NaN,Average,Sci&TechMkt&HR,224.4,False,B
89,92,Female,52.0,Central,57.0,Central,Commerce,50.8,Commerce,0,...,0,175.4975,Not hired,False,NaN,Average,CommerceMkt&HR,227.6,False,B
25,26,Male,52.6,Others,54.6,Central,Commerce,50.2,Commerce,1,...,0,173.7125,Not hired,False,NaN,Average,CommerceMkt&Fin,227.7,False,A
14,15,Female,62.0,Central,47.0,Central,Commerce,50.0,Commerce,0,...,0,172.7400,Not hired,False,NaN,Average,CommerceMkt&HR,219.0,False,B

In [119]:
# 85. Use .nlargest() to get top 5 salaries
df.nlargest(5 , 'salary')

,sl_no,gender,ssc_percentage,ssc_b,hsc_percentage,hsc_b,hsc_s,degree_percentage,degree_t,workex,...,salary,overall_avg,placement_status,above_80_ssc,salary_in_lpa,performance_tag,combine_degreeandspel,total_score,is_placed,mba_grade
117,120,Female,60.8,Central,68.4,Central,Commerce,64.6,Commerce,1,...,940000,209.8850,Hired,False,9.4,Average,CommerceMkt&Fin,263.1,True,B
147,151,Female,71.0,Central,58.7,Central,Science,58.0,Sci&Tech,1,...,690000,202.9850,Hired,False,6.9,Average,Sci&TechMkt&Fin,254.0,True,B
174,178,Male,73.0,Central,97.0,Others,Commerce,79.0,Commerce,1,...,650000,266.7025,Hired,False,6.5,Average,CommerceMkt&Fin,324.8,True,A
75,78,Female,64.0,Others,80.0,Others,Science,65.0,Sci&Tech,1,...,500000,223.4125,Hired,False,5.0,Average,Sci&TechMkt&Fin,271.6,True,B
160,164,Female,63.0,Others,67.0,Others,Science,64.0,Sci&Tech,0,...,500000,210.6150,Hired,False,5.0,Average,Sci&TechMkt&Fin,265.5,True,A

In [120]:
# 86. Use .nsmallest() to get 3 lowest etest_p values.
df.nsmallest(3 , 'etest_percentage')

,sl_no,gender,ssc_percentage,ssc_b,hsc_percentage,hsc_b,hsc_s,degree_percentage,degree_t,workex,...,salary,overall_avg,placement_status,above_80_ssc,salary_in_lpa,performance_tag,combine_degreeandspel,total_score,is_placed,mba_grade
20,21,Female,62.0,Others,65.0,Others,Commerce,66.0,Commerce,0,...,265000,207.1750,Hired,False,2.65,Average,CommerceMkt&HR,254.7,True,B
97,100,Female,54.0,Central,82.0,Others,Commerce,63.0,Sci&Tech,0,...,0,213.8675,Not hired,False,NaN,Average,Sci&TechMkt&Fin,263.5,False,B
187,191,Male,64.0,Others,70.2,Central,Commerce,61.0,Commerce,0,...,0,210.8250,Not hired,False,NaN,Average,CommerceMkt&Fin,262.7,False,B

In [121]:
# 87. Select rows using .loc[] for index 10 to 20.
df.loc[10:20]

,sl_no,gender,ssc_percentage,ssc_b,hsc_percentage,hsc_b,hsc_s,degree_percentage,degree_t,workex,...,salary,overall_avg,placement_status,above_80_ssc,salary_in_lpa,performance_tag,combine_degreeandspel,total_score,is_placed,mba_grade
10,11,Female,58.0,Central,61.0,Central,Commerce,60.0,Commerce,1,...,260000,194.2125,Hired,False,2.60,Average,CommerceMkt&HR,244.8,True,B
11,12,Female,69.6,Central,68.4,Central,Commerce,78.3,Commerce,1,...,250000,232.2250,Hired,False,2.50,Average,CommerceMkt&Fin,285.0,True,B
12,13,Male,47.0,Central,55.0,Others,Science,65.0,Commerce,0,...,0,183.2600,Not hired,False,NaN,Average,CommerceMkt&HR,237.0,False,A
13,14,Male,77.0,Central,87.0,Central,Commerce,59.0,Commerce,0,...,218000,240.1575,Hired,False,2.18,Average,CommerceMkt&Fin,296.6,True,A
14,15,Female,62.0,Central,47.0,Central,Commerce,50.0,Commerce,0,...,0,172.7400,Not hired,False,NaN,Average,CommerceMkt&HR,219.0,False,B
15,16,Male,65.0,Central,75.0,Central,Commerce,69.0,Commerce,1,...,200000,225.1650,Hired,False,2.00,Average,CommerceMkt&Fin,278.7,True,B
16,17,Female,63.0,Central,66.2,Central,Commerce,65.6,Commerce,1,...,300000,210.4350,Hired,False,3.00,Average,CommerceMkt&Fin,262.3,True,B
17,18,Male,55.0,Central,67.0,Central,Commerce,64.0,Commerce,0,...,0,202.8200,Not hired,False,NaN,Average,CommerceMkt&Fin,258.3,False,A
18,19,Male,63.0,Central,66.0,Central,Commerce,64.0,Commerce,0,...,0,209.0200,Not hired,False,NaN,Average,CommerceMkt&HR,262.1,False,B
19,20,Female,60.0,Others,67.0,Others,Arts,70.0,Commerce,1,...,236000,216.4725,Hired,False,2.36,Average,CommerceMkt&Fin,279.9,True,A
20,21,Female,62.0,Others,65.0,Others,Commerce,66.0,Commerce,0,...,265000,207.1750,Hired,False,2.65,Average,CommerceMkt&HR,254.7,True,B

In [122]:
# 88. Use .iloc[] to get first 3 columns and first 10 rows.
df.iloc[:10 , :3]

   sl_no  gender  ssc_percentage
0      1  Female            67.0
1      2  Female            79.3
2      3  Female            65.0
3      4  Female            56.0
4      5  Female            85.8
5      6  Female            55.0
6      7    Male            46.0
7      8  Female            82.0
8      9  Female            73.0
9     10  Female            58.0

In [123]:
# 89. Sort dataset alphabetically by degree_t.
dd = df.sort_values(by='degree_t')
dd

,sl_no,gender,ssc_percentage,ssc_b,hsc_percentage,hsc_b,hsc_s,degree_percentage,degree_t,workex,...,salary,overall_avg,placement_status,above_80_ssc,salary_in_lpa,performance_tag,combine_degreeandspel,total_score,is_placed,mba_grade
105,108,Female,82.0,Others,90.0,Others,Commerce,83.0,Commerce,0,...,200000,273.3800,Hired,True,2.00,Exellent,CommerceMkt&HR,333.5,True,A
119,123,Male,66.5,Central,66.8,Central,Arts,69.3,Commerce,1,...,236000,220.3500,Hired,False,2.36,Average,CommerceMkt&Fin,278.6,True,A
120,124,Female,74.0,Others,59.0,Others,Commerce,73.0,Commerce,1,...,240000,220.1750,Hired,False,2.40,Average,CommerceMkt&HR,267.7,True,B
122,126,Male,84.0,Central,73.0,Central,Commerce,73.0,Commerce,0,...,350000,248.3325,Hired,True,3.50,Average,CommerceMkt&Fin,308.3,True,A
124,128,Male,72.0,Others,60.0,Others,Science,69.0,Commerce,0,...,250000,215.6000,Hired,False,2.50,Average,CommerceMkt&HR,264.4,True,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51,54,Female,80.0,Others,70.0,Others,Science,72.0,Sci&Tech,0,...,450000,239.7600,Hired,False,4.50,Average,Sci&TechMkt&HR,298.0,True,A
125,129,Female,80.4,Central,73.4,Central,Science,77.7,Sci&Tech,1,...,400000,250.5850,Hired,True,4.00,Average,Sci&TechMkt&HR,312.8,True,A
123,127,Male,79.0,Others,61.0,Others,Science,75.5,Sci&Tech,1,...,210000,232.5500,Hired,False,2.10,Average,Sci&TechMkt&Fin,288.7,True,A
170,174,Male,52.0,Others,52.0,Others,Science,55.0,Sci&Tech,0,...,0,173.8300,Not hired,False,NaN,Average,Sci&TechMkt&HR,223.3,False,B
0,1,Female,67.0,Others,91.0,Others,Commerce,58.0,Sci&Tech,0,...,270000,230.7000,Hired,False,2.70,Average,Sci&TechMkt&HR,279.8,True,B

In [124]:
# 90. Display all columns except sl_no and salary.
dd = df.drop(columns = ['sl_no', 'salary'])
dd

,gender,ssc_percentage,ssc_b,hsc_percentage,hsc_b,hsc_s,degree_percentage,degree_t,workex,etest_percentage,...,status,overall_avg,placement_status,above_80_ssc,salary_in_lpa,performance_tag,combine_degreeandspel,total_score,is_placed,mba_grade
0,Female,67.0,Others,91.0,Others,Commerce,58.0,Sci&Tech,0,55.0,...,Placed,230.7000,Hired,False,2.70,Average,Sci&TechMkt&HR,279.8,True,B
1,Female,79.3,Central,78.3,Others,Science,77.5,Sci&Tech,1,86.5,...,Placed,251.7100,Hired,False,2.00,Average,Sci&TechMkt&Fin,306.4,True,A
2,Female,65.0,Central,68.0,Central,Arts,64.0,Commerce,0,75.0,...,Placed,211.4500,Hired,False,2.50,Average,CommerceMkt&Fin,259.8,True,B
3,Female,56.0,Central,52.0,Central,Science,52.0,Sci&Tech,0,66.0,...,Not Placed,174.8575,Not hired,False,NaN,Average,Sci&TechMkt&HR,224.4,False,B
4,Female,85.8,Central,73.6,Central,Commerce,73.3,Commerce,0,96.8,...,Placed,246.5750,Hired,True,4.25,Average,CommerceMkt&Fin,293.2,True,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
207,Female,80.6,Others,82.0,Others,Commerce,77.6,Commerce,0,91.0,...,Placed,258.8225,Hired,True,4.00,Average,CommerceMkt&Fin,319.7,True,A
208,Female,58.0,Others,60.0,Others,Science,72.0,Sci&Tech,0,74.0,...,Placed,203.4050,Hired,False,2.75,Average,Sci&TechMkt&Fin,248.6,True,B
209,Female,67.0,Others,67.0,Others,Commerce,73.0,Commerce,1,59.0,...,Placed,224.4300,Hired,False,2.95,Average,CommerceMkt&Fin,281.7,True,A
210,Male,74.0,Others,66.0,Others,Commerce,58.0,Commerce,0,70.0,...,Placed,213.0575,Hired,False,2.04,Average,CommerceMkt&HR,263.2,True,B
211,Female,62.0,Central,58.0,Others,Science,53.0,Commerce,0,89.0,...,Not Placed,188.0550,Not hired,False,NaN,Average,CommerceMkt&HR,238.2,False,B

In [125]:
# 91. Select only gender, status, salary, and specialisation columns.
dd = df[['gender', 'status', 'salary', 'specialisation']]
dd

     gender      status  salary specialisation
0    Female      Placed  270000         Mkt&HR
1    Female      Placed  200000        Mkt&Fin
2    Female      Placed  250000        Mkt&Fin
3    Female  Not Placed       0         Mkt&HR
4    Female      Placed  425000        Mkt&Fin
..      ...         ...     ...            ...
207  Female      Placed  400000        Mkt&Fin
208  Female      Placed  275000        Mkt&Fin
209  Female      Placed  295000        Mkt&Fin
210    Male      Placed  204000         Mkt&HR
211  Female  Not Placed       0         Mkt&HR

[212 rows x 4 columns]

In [427]:
# 92. Filter dataset for first and last 5 rows together.
dd = df.copy()
rs = pd.concat([df.head(), df.tail()]).reset_index(drop=True)
rs

,sl_no,gender,ssc_percentage,ssc_b,hsc_percentage,hsc_b,hsc_s,degree_percentage,degree_t,workex,...,salary,overall_avg,placement_status,above_80_ssc,salary_in_lpa,performance_tag,combine_degreeandspel,total_score,is_placed,mba_grade
0,1,Female,67.0,Others,91.0,Others,Commerce,58.0,Sci&Tech,0,...,270000,230.7000,Hired,False,2.70,Average,Sci&TechMkt&HR,279.8,True,B
1,2,Female,79.3,Central,78.3,Others,Science,77.5,Sci&Tech,1,...,200000,251.7100,Hired,False,2.00,Average,Sci&TechMkt&Fin,306.4,True,A
2,3,Female,65.0,Central,68.0,Central,Arts,64.0,Commerce,0,...,250000,211.4500,Hired,False,2.50,Average,CommerceMkt&Fin,259.8,True,B
3,4,Female,56.0,Central,52.0,Central,Science,52.0,Sci&Tech,0,...,0,174.8575,Not hired,False,NaN,Average,Sci&TechMkt&HR,224.4,False,B
4,5,Female,85.8,Central,73.6,Central,Commerce,73.3,Commerce,0,...,425000,246.5750,Hired,True,4.25,Average,CommerceMkt&Fin,293.2,True,B
5,211,Female,80.6,Others,82.0,Others,Commerce,77.6,Commerce,0,...,400000,258.8225,Hired,True,4.00,Average,CommerceMkt&Fin,319.7,True,A
6,212,Female,58.0,Others,60.0,Others,Science,72.0,Sci&Tech,0,...,275000,203.4050,Hired,False,2.75,Average,Sci&TechMkt&Fin,248.6,True,B
7,213,Female,67.0,Others,67.0,Others,Commerce,73.0,Commerce,1,...,295000,224.4300,Hired,False,2.95,Average,CommerceMkt&Fin,281.7,True,A
8,214,Male,74.0,Others,66.0,Others,Commerce,58.0,Commerce,0,...,204000,213.0575,Hired,False,2.04,Average,CommerceMkt&HR,263.2,True,B
9,215,Female,62.0,Central,58.0,Others,Science,53.0,Commerce,0,...,0,188.0550,Not hired,False,NaN,Average,CommerceMkt&HR,238.2,False,B

In [127]:
# 93. Reorder columns alphabetically.
dd = df.columns.sort_values()
dd

Index(['above_80_ssc', 'combine_degreeandspel', 'degree_percentage',
       'degree_t', 'etest_percentage', 'gender', 'hsc_b', 'hsc_percentage',
       'hsc_s', 'is_placed', 'mba_grade', 'mba_percentage', 'overall_avg',
       'performance_tag', 'placement_status', 'salary', 'salary_in_lpa',
       'sl_no', 'specialisation', 'ssc_b', 'ssc_percentage', 'status',
       'total_score', 'workex'],
      dtype='object')

In [419]:
# 94. Sort dataset based on the rounded value of etest_p.
dd = df.copy()
dd['rounded_etest'] = dd['etest_percentage'].round(1)
dd = dd.sort_values(by='etest_percentage').reset_index(drop=True)

In [421]:
dd

,sl_no,gender,ssc_percentage,ssc_b,hsc_percentage,hsc_b,hsc_s,degree_percentage,degree_t,workex,...,overall_avg,placement_status,above_80_ssc,salary_in_lpa,performance_tag,combine_degreeandspel,total_score,is_placed,mba_grade,rounded_etest
0,100,Female,54.0,Central,82.0,Others,Commerce,63.0,Sci&Tech,0,...,213.8675,Not hired,False,NaN,Average,Sci&TechMkt&Fin,263.5,False,B,50.0
1,21,Female,62.0,Others,65.0,Others,Commerce,66.0,Commerce,0,...,207.1750,Hired,False,2.65,Average,CommerceMkt&HR,254.7,True,B,50.0
2,191,Male,64.0,Others,70.2,Central,Commerce,61.0,Commerce,0,...,210.8250,Not hired,False,NaN,Average,CommerceMkt&Fin,262.7,False,B,50.0
3,20,Female,60.0,Others,67.0,Others,Arts,70.0,Commerce,1,...,216.4725,Hired,False,2.36,Average,CommerceMkt&Fin,279.9,True,A,50.5
4,33,Male,61.0,Central,81.0,Central,Commerce,66.4,Commerce,0,...,223.9525,Hired,False,2.78,Average,CommerceMkt&HR,275.6,True,B,50.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
207,5,Female,85.8,Central,73.6,Central,Commerce,73.3,Commerce,0,...,246.5750,Hired,True,4.25,Average,CommerceMkt&Fin,293.2,True,B,96.8
208,119,Female,76.0,Central,80.0,Central,Science,78.0,Sci&Tech,1,...,251.6200,Hired,False,2.76,Average,Sci&TechMkt&HR,309.5,True,A,97.0
209,207,Female,41.0,Central,42.0,Central,Science,60.0,Commerce,0,...,156.3475,Not hired,False,NaN,Average,CommerceMkt&Fin,201.4,False,B,97.0
210,25,Female,76.5,Others,97.7,Others,Science,78.9,Sci&Tech,0,...,271.5625,Hired,False,3.60,Average,Sci&TechMkt&Fin,332.1,True,A,97.4
211,153,Male,75.4,Others,60.5,Central,Science,84.0,Sci&Tech,0,...,236.2125,Hired,False,2.40,Exellent,Sci&TechMkt&Fin,290.1,True,A,98.0

In [309]:
# 95. Extract all rows with even index numbers only.
dd = df.copy()
dd.iloc[2::2]

,sl_no,gender,ssc_percentage,ssc_b,hsc_percentage,hsc_b,hsc_s,degree_percentage,degree_t,workex,...,salary,overall_avg,placement_status,above_80_ssc,salary_in_lpa,performance_tag,combine_degreeandspel,total_score,is_placed,mba_grade
2,3,Female,65.0,Central,68.0,Central,Arts,64.0,Commerce,0,...,250000,211.4500,Hired,False,2.50,Average,CommerceMkt&Fin,259.8,True,B
4,5,Female,85.8,Central,73.6,Central,Commerce,73.3,Commerce,0,...,425000,246.5750,Hired,True,4.25,Average,CommerceMkt&Fin,293.2,True,B
6,7,Male,46.0,Others,49.2,Others,Commerce,79.0,Commerce,0,...,0,187.5225,Not hired,False,NaN,Average,CommerceMkt&Fin,232.5,False,B
8,9,Female,73.0,Central,79.0,Central,Commerce,72.0,Commerce,0,...,231000,239.3225,Hired,False,2.31,Average,CommerceMkt&Fin,290.3,True,B
10,11,Female,58.0,Central,61.0,Central,Commerce,60.0,Commerce,1,...,260000,194.2125,Hired,False,2.60,Average,CommerceMkt&HR,244.8,True,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202,206,Female,61.0,Others,62.0,Others,Commerce,65.0,Commerce,0,...,250000,202.2025,Hired,False,2.50,Average,CommerceMkt&Fin,249.8,True,B
204,208,Female,83.3,Central,78.0,Others,Commerce,61.0,Commerce,1,...,300000,240.2175,Hired,True,3.00,Average,CommerceMkt&Fin,298.9,True,A
206,210,Female,62.0,Central,72.0,Central,Commerce,65.0,Commerce,0,...,216000,213.1225,Hired,False,2.16,Average,CommerceMkt&Fin,260.5,True,B
208,212,Female,58.0,Others,60.0,Others,Science,72.0,Sci&Tech,0,...,275000,203.4050,Hired,False,2.75,Average,Sci&TechMkt&Fin,248.6,True,B
210,214,Male,74.0,Others,66.0,Others,Commerce,58.0,Commerce,0,...,204000,213.0575,Hired,False,2.04,Average,CommerceMkt&HR,263.2,True,B

In [405]:
# 96. Concatenate two subsets: one for Placed and one for Not Placed.
df1 = df[df['status'] == "Placed"]
df2 = df[df['status'] == 'Not Placed']
concat_res = pd.concat([df1,df2])
concat_res

,sl_no,gender,ssc_percentage,ssc_b,hsc_percentage,hsc_b,hsc_s,degree_percentage,degree_t,workex,...,salary,overall_avg,placement_status,above_80_ssc,salary_in_lpa,performance_tag,combine_degreeandspel,total_score,is_placed,mba_grade
0,1,Female,67.0,Others,91.0,Others,Commerce,58.0,Sci&Tech,0,...,270000,230.7000,Hired,False,2.70,Average,Sci&TechMkt&HR,279.8,True,B
1,2,Female,79.3,Central,78.3,Others,Science,77.5,Sci&Tech,1,...,200000,251.7100,Hired,False,2.00,Average,Sci&TechMkt&Fin,306.4,True,A
2,3,Female,65.0,Central,68.0,Central,Arts,64.0,Commerce,0,...,250000,211.4500,Hired,False,2.50,Average,CommerceMkt&Fin,259.8,True,B
4,5,Female,85.8,Central,73.6,Central,Commerce,73.3,Commerce,0,...,425000,246.5750,Hired,True,4.25,Average,CommerceMkt&Fin,293.2,True,B
7,8,Female,82.0,Central,64.0,Central,Science,66.0,Sci&Tech,1,...,252000,227.5350,Hired,True,2.52,Average,Sci&TechMkt&Fin,279.1,True,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,199,Male,67.0,Central,70.0,Central,Commerce,65.0,Others,0,...,0,219.9900,Not hired,False,NaN,Average,OthersMkt&HR,279.0,False,A
198,202,Female,54.2,Central,63.0,Others,Science,58.0,Commerce,0,...,0,189.8100,Not hired,False,NaN,Average,CommerceMkt&HR,238.6,False,B
203,207,Female,41.0,Central,42.0,Central,Science,60.0,Commerce,0,...,0,156.3475,Not hired,False,NaN,Average,CommerceMkt&Fin,201.4,False,B
205,209,Male,43.0,Central,60.0,Others,Science,65.0,Commerce,0,...,0,183.7300,Not hired,False,NaN,Average,CommerceMkt&HR,235.9,False,B
211,215,Female,62.0,Central,58.0,Others,Science,53.0,Commerce,0,...,0,188.0550,Not hired,False,NaN,Average,CommerceMkt&HR,238.2,False,B

In [393]:
# 97. Merge two DataFrames — one containing gender, salary; another with gender,mba_p.
df1 = df[['gender','salary']]
df2 = df[['gender','mba_percentage']]
res = df1.merge(df2)
res

       gender  salary  mba_percentage
0      Female  270000            63.8
1      Female  270000            71.3
2      Female  270000            62.8
3      Female  270000            64.4
4      Female  270000            60.5
...       ...     ...             ...
24389  Female       0            61.5
24390  Female       0            79.5
24391  Female       0            58.6
24392  Female       0            74.7
24393  Female       0            65.2

[24394 rows x 3 columns]

In [389]:
# 98. Join two small DataFrames on specialisation.
df1 = df[['specialisation','salary']].head()
df2 = df[['specialisation','degree_percentage']].head()
result = df1.merge(df2, on='specialisation')

In [391]:
result

   specialisation  salary  degree_percentage
0          Mkt&HR  270000               58.0
1          Mkt&HR  270000               52.0
2         Mkt&Fin  200000               77.5
3         Mkt&Fin  200000               64.0
4         Mkt&Fin  200000               73.3
5         Mkt&Fin  250000               77.5
6         Mkt&Fin  250000               64.0
7         Mkt&Fin  250000               73.3
8          Mkt&HR       0               58.0
9          Mkt&HR       0               52.0
10        Mkt&Fin  425000               77.5
11        Mkt&Fin  425000               64.0
12        Mkt&Fin  425000               73.3

In [346]:
# 99. Sort records by specialisation and then by descending degree_p.
dd = df.copy()
dd.sort_values(by=['specialisation','degree_percentage'],ascending=[True,False])

,sl_no,gender,ssc_percentage,ssc_b,hsc_percentage,hsc_b,hsc_s,degree_percentage,degree_t,workex,...,salary,overall_avg,placement_status,above_80_ssc,salary_in_lpa,performance_tag,combine_degreeandspel,total_score,is_placed,mba_grade
21,22,Male,79.0,Others,76.0,Others,Commerce,85.0,Commerce,0,...,393000,257.2650,Hired,False,3.93,Exellent,CommerceMkt&Fin,314.1,True,A
149,153,Male,75.4,Others,60.5,Central,Science,84.0,Sci&Tech,0,...,240000,236.2125,Hired,False,2.40,Exellent,Sci&TechMkt&Fin,290.1,True,A
88,91,Male,85.0,Others,90.0,Others,Commerce,82.0,Commerce,0,...,300000,274.0075,Hired,True,3.00,Exellent,CommerceMkt&Fin,330.0,True,A
33,34,Male,87.0,Others,65.0,Others,Science,81.0,Commerce,1,...,260000,251.1950,Hired,True,2.60,Exellent,CommerceMkt&Fin,310.8,True,A
43,45,Male,77.0,Others,73.0,Others,Commerce,81.0,Commerce,1,...,200000,248.4250,Hired,False,2.00,Exellent,CommerceMkt&Fin,305.7,True,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
211,215,Female,62.0,Central,58.0,Others,Science,53.0,Commerce,0,...,0,188.0550,Not hired,False,NaN,Average,CommerceMkt&HR,238.2,False,B
3,4,Female,56.0,Central,52.0,Central,Science,52.0,Sci&Tech,0,...,0,174.8575,Not hired,False,NaN,Average,Sci&TechMkt&HR,224.4,False,B
34,35,Female,62.0,Others,51.0,Others,Science,52.0,Others,0,...,0,180.6925,Not hired,False,NaN,Average,OthersMkt&HR,232.8,False,B
89,92,Female,52.0,Central,57.0,Central,Commerce,50.8,Commerce,0,...,0,175.4975,Not hired,False,NaN,Average,CommerceMkt&HR,227.6,False,B
14,15,Female,62.0,Central,47.0,Central,Commerce,50.0,Commerce,0,...,0,172.7400,Not hired,False,NaN,Average,CommerceMkt&HR,219.0,False,B

In [377]:
# 100.Retrieve top 10 highest salaries and display only gender, degree_t,
# specialisation, and salary.
dd = df.copy()
top10 = dd.nlargest(10,'salary')[['gender', 'degree_t',"specialisation", 'salary']]
top10

     gender  degree_t specialisation  salary
117  Female  Commerce        Mkt&Fin  940000
147  Female  Sci&Tech        Mkt&Fin  690000
174    Male  Commerce        Mkt&Fin  650000
75   Female  Sci&Tech        Mkt&Fin  500000
160  Female  Sci&Tech        Mkt&Fin  500000
171  Female  Sci&Tech        Mkt&Fin  500000
51   Female  Sci&Tech         Mkt&HR  450000
4    Female  Commerce        Mkt&Fin  425000
93   Female  Commerce        Mkt&Fin  420000
39   Female  Sci&Tech        Mkt&Fin  411000