# 100 Questions on Admission_predict dataset

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('Admission_Predict.csv')

In [4]:
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [5]:
df.columns

Index(['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR ', 'CGPA', 'Research', 'Chance of Admit '],
      dtype='object')

In [6]:
# Display all rows where GRE Score is greater than 320.
df[df['GRE Score'] > 320]

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
3,4,322,110,3,3.5,2.5,8.67,1,0.80
5,6,330,115,5,4.5,3.0,9.34,1,0.90
6,7,321,109,3,3.0,4.0,8.20,1,0.75
...,...,...,...,...,...,...,...,...,...
394,395,329,111,4,4.5,4.0,9.23,1,0.89
395,396,324,110,3,3.5,3.5,9.04,1,0.82
396,397,325,107,3,3.0,3.5,9.11,1,0.84
397,398,330,116,4,5.0,4.5,9.45,1,0.91
399,400,333,117,4,5.0,4.0,9.66,1,0.95

In [7]:
# Show applicants whose TOEFL Score is less than 100.
df[df['TOEFL Score'] < 100]

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
27,28,298,98,2,1.5,2.5,7.50,1,0.44
28,29,295,93,1,2.0,2.0,7.20,0,0.46
29,30,310,99,2,1.5,2.0,7.30,0,0.54
30,31,300,97,2,3.0,3.0,8.10,1,0.65
50,51,313,98,3,2.5,4.5,8.30,1,0.76
57,58,298,99,2,4.0,2.0,7.60,0,0.46
58,59,300,99,1,3.0,2.0,6.80,1,0.36
77,78,301,99,2,3.0,2.0,8.22,0,0.64
78,79,296,95,2,3.0,2.0,7.54,1,0.44
79,80,294,93,1,1.5,2.0,7.36,0,0.46
91,92,299,97,3,5.0,3.5,7.66,0,0.38
92,93,298,98,2,4.0,3.0,8.03,0,0.34
93,94,301,97,2,3.0,3.0,7.88,1,0.44
94,95,303,99,3,2.0,2.5,7.66,0,0.36
118,119,296,99,2,3.0,3.5,7.28,0,0.47
161,162,298,99,1,1.5,3.0,7.46,0,0.53
168,169,293,97,2,2.0,4.0,7.80,1,0.64
169,170,311,99,2,2.5,3.0,7.98,0,0.65
205,206,295,99,2,2.5,3.0,7.65,0,0.57
206,207,315,99,2,3.5,3.0,7.89,0,0.63
225,226,296,99,2,2.5,2.5,8.03,0,0.61
251,252,316,99,2,2.5,3.0,9.00,0,0.70
256,257,309,99,3,4.0,4.0,8.56,0,0.76
271,272,299,96,2,1.5,2.0,7.86,0,0.54
272,273,294,95,1,1.5,1.5,7.64,0,0.49
273,274,312,99,1,1.0,1.5,8.01,1,0.52
292,293,302,99,2,1.0,2.0,7.97,0,0.56
293,294,312,98,1,3.5,3.0,8.18,1,0.64
317,318,300,99,1,1.0,2.5,8.01,0,0.58
329,330,297,96,2,2.5,1.5,7.89,0,0.43
344,345,295,96,2,1.5,2.0,7.34,0,0.47
345,346,316,98,1,1.5,2.0,7.43,0,0.49
346,347,304,97,2,1.5,2.0,7.64,0,0.47
347,348,299,94,1,1.0,1.0,7.34,0,0.42
348,349,302,99,1,2.0,2.0,7.25,0,0.57
354,355,297,98,2,2.5,3.0,7.67,0,0.59
367,368,311,98,1,1.0,2.5,7.46,0,0.57
368,369,298,92,1,2.0,2.0,7.88,0,0.51
369,370,301,98,1,2.0,3.0,8.03,1,0.67
376,377,297,96,2,2.5,2.0,7.43,0,0.34
378,379,303,98,1,2.0,2.5,7.65,0,0.56
379,380,311,99,1,2.5,3.0,8.43,1,0.71
388,389,296,97,2,1.5,2.0,7.80,0,0.49

In [8]:
# Get records where University Rating equals 5.
df[df['University Rating'] ==  5]

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
5,6,330,115,5,4.5,3.0,9.34,1,0.90
22,23,328,116,5,5.0,5.0,9.50,1,0.94
23,24,334,119,5,5.0,4.5,9.70,1,0.95
24,25,336,119,5,4.0,3.5,9.80,1,0.97
25,26,340,120,5,4.5,4.5,9.60,1,0.94
26,27,322,109,5,4.5,3.5,8.80,0,0.76
33,34,340,114,5,4.0,4.0,9.60,1,0.90
34,35,331,112,5,4.0,5.0,9.80,1,0.94
35,36,320,110,5,5.0,5.0,9.20,1,0.88
44,45,326,113,5,4.5,4.0,9.40,1,0.91
45,46,322,110,5,5.0,4.0,9.10,1,0.88
46,47,329,114,5,4.0,5.0,9.30,1,0.86
47,48,339,119,5,4.5,4.0,9.70,0,0.89
70,71,332,118,5,5.0,5.0,9.64,1,0.94
71,72,336,112,5,5.0,5.0,9.76,1,0.96
72,73,321,111,5,5.0,5.0,9.45,1,0.93
82,83,320,110,5,5.0,4.5,9.22,1,0.92
83,84,322,115,5,4.0,4.5,9.36,1,0.92
84,85,340,115,5,4.5,4.5,9.45,1,0.94
108,109,331,116,5,5.0,5.0,9.38,1,0.93
109,110,304,103,5,5.0,4.0,8.64,0,0.68
110,111,305,108,5,3.0,3.0,8.48,0,0.61
119,120,327,104,5,3.0,3.5,8.84,1,0.71
120,121,335,117,5,5.0,5.0,9.56,1,0.94
121,122,334,119,5,4.5,4.5,9.48,1,0.94
129,130,333,118,5,5.0,5.0,9.35,1,0.92
130,131,339,114,5,4.0,4.5,9.76,1,0.96
131,132,303,105,5,5.0,4.5,8.65,0,0.77
132,133,309,105,5,3.5,3.5,8.56,0,0.71
133,134,323,112,5,4.0,4.5,8.78,0,0.79
134,135,333,113,5,4.0,4.0,9.28,1,0.89
142,143,331,115,5,4.0,3.5,9.44,1,0.92
151,152,332,116,5,5.0,5.0,9.28,1,0.94
152,153,321,112,5,5.0,5.0,9.06,1,0.86
165,166,322,110,5,4.5,4.0,8.97,0,0.78
171,172,334,117,5,4.0,4.5,9.07,1,0.89
187,188,335,118,5,4.5,3.5,9.44,1,0.93
188,189,331,115,5,4.5,3.5,9.36,1,0.93
189,190,324,112,5,5.0,5.0,9.08,1,0.88
190,191,324,111,5,4.5,4.0,9.16,1,0.90
191,192,323,110,5,4.0,5.0,8.98,1,0.87
192,193,322,114,5,4.5,4.0,8.94,1,0.86
193,194,336,118,5,4.5,5.0,9.53,1,0.94
202,203,340,120,5,4.5,4.5,9.91,1,0.97
203,204,334,120,5,4.0,5.0,9.87,1,0.97
213,214,333,119,5,5.0,4.5,9.78,1,0.96
215,216,330,116,5,5.0,4.5,9.36,1,0.93
234,235,330,113,5,5.0,4.0,9.31,1,0.91
235,236,326,111,5,4.5,4.0,9.23,1,0.88
237,238,329,114,5,4.5,5.0,9.19,1,0.86
260,261,327,108,5,5.0,3.5,9.13,1,0.87
276,277,329,113,5,5.0,4.5,9.45,1,0.89
285,286,331,116,5,4.0,4.0,9.26,1,0.93
286,287,336,118,5,4.5,4.0,9.19,1,0.92
287,288,324,114,5,5.0,4.5,9.08,1,0.89
337,338,332,118,5,5.0,5.0,9.47,1,0.94
338,339,323,108,5,4.0,4.0,8.74,1,0.81
339,340,324,107,5,3.5,4.0,8.66,1,0.81
362,363,338,115,5,4.5,5.0,9.23,1,0.91
385,386,335,117,5,5.0,5.0,9.82,1,0.96

In [9]:
# Select all students who have done Research (value 1).
df[df['Research'] == 1]

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
5,6,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...,...
394,395,329,111,4,4.5,4.0,9.23,1,0.89
395,396,324,110,3,3.5,3.5,9.04,1,0.82
396,397,325,107,3,3.0,3.5,9.11,1,0.84
397,398,330,116,4,5.0,4.5,9.45,1,0.91
399,400,333,117,4,5.0,4.0,9.66,1,0.95

In [10]:
# Display students who have not done Research (value 0).
df[df['Research'] == 0]

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
4,5,314,103,2,2.0,3.0,8.21,0,0.65
7,8,308,101,2,3.0,4.0,7.90,0,0.68
8,9,302,102,1,2.0,1.5,8.00,0,0.50
9,10,323,108,3,3.5,3.0,8.60,0,0.45
15,16,314,105,3,3.5,2.5,8.30,0,0.54
...,...,...,...,...,...,...,...,...,...
388,389,296,97,2,1.5,2.0,7.80,0,0.49
390,391,314,102,2,2.0,2.5,8.24,0,0.64
391,392,318,106,3,2.0,3.0,8.65,0,0.71
393,394,317,104,2,3.0,3.0,8.76,0,0.77
398,399,312,103,3,3.5,4.0,8.78,0,0.67

In [11]:
# Find applicants with CGPA greater than 9.0.
df[df['CGPA'] > 9.0]

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
5,6,330,115,5,4.5,3.0,9.34,1,0.90
12,13,328,112,4,4.0,4.5,9.10,1,0.78
22,23,328,116,5,5.0,5.0,9.50,1,0.94
23,24,334,119,5,5.0,4.5,9.70,1,0.95
...,...,...,...,...,...,...,...,...,...
394,395,329,111,4,4.5,4.0,9.23,1,0.89
395,396,324,110,3,3.5,3.5,9.04,1,0.82
396,397,325,107,3,3.0,3.5,9.11,1,0.84
397,398,330,116,4,5.0,4.5,9.45,1,0.91
399,400,333,117,4,5.0,4.0,9.66,1,0.95

In [12]:
# Retrieve records where both GRE Score &gt; 320 and CGPA &gt; 9.0.
df[(df['GRE Score'] > 320) & (df['CGPA'] > 9.0)]

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
5,6,330,115,5,4.5,3.0,9.34,1,0.90
12,13,328,112,4,4.0,4.5,9.10,1,0.78
22,23,328,116,5,5.0,5.0,9.50,1,0.94
23,24,334,119,5,5.0,4.5,9.70,1,0.95
...,...,...,...,...,...,...,...,...,...
394,395,329,111,4,4.5,4.0,9.23,1,0.89
395,396,324,110,3,3.5,3.5,9.04,1,0.82
396,397,325,107,3,3.0,3.5,9.11,1,0.84
397,398,330,116,4,5.0,4.5,9.45,1,0.91
399,400,333,117,4,5.0,4.0,9.66,1,0.95

In [13]:
# Display records where either SOP or LOR rating is 5.0.
df[(df['SOP'] == 5.0) | (df['LOR '] == 5.0)]

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
22,23,328,116,5,5.0,5.0,9.50,1,0.94
23,24,334,119,5,5.0,4.5,9.70,1,0.95
34,35,331,112,5,4.0,5.0,9.80,1,0.94
35,36,320,110,5,5.0,5.0,9.20,1,0.88
45,46,322,110,5,5.0,4.0,9.10,1,0.88
46,47,329,114,5,4.0,5.0,9.30,1,0.86
48,49,321,110,3,3.5,5.0,8.85,1,0.82
70,71,332,118,5,5.0,5.0,9.64,1,0.94
71,72,336,112,5,5.0,5.0,9.76,1,0.96
72,73,321,111,5,5.0,5.0,9.45,1,0.93
74,75,314,106,3,3.0,5.0,8.90,0,0.74
81,82,340,120,4,5.0,5.0,9.50,1,0.96
82,83,320,110,5,5.0,4.5,9.22,1,0.92
91,92,299,97,3,5.0,3.5,7.66,0,0.38
98,99,332,119,4,5.0,4.5,9.24,1,0.90
108,109,331,116,5,5.0,5.0,9.38,1,0.93
109,110,304,103,5,5.0,4.0,8.64,0,0.68
120,121,335,117,5,5.0,5.0,9.56,1,0.94
129,130,333,118,5,5.0,5.0,9.35,1,0.92
131,132,303,105,5,5.0,4.5,8.65,0,0.77
136,137,312,103,3,5.0,4.0,8.45,0,0.76
151,152,332,116,5,5.0,5.0,9.28,1,0.94
152,153,321,112,5,5.0,5.0,9.06,1,0.86
166,167,302,102,3,3.5,5.0,8.33,0,0.65
172,173,322,110,4,4.0,5.0,9.13,1,0.86
189,190,324,112,5,5.0,5.0,9.08,1,0.88
191,192,323,110,5,4.0,5.0,8.98,1,0.87
193,194,336,118,5,4.5,5.0,9.53,1,0.94
203,204,334,120,5,4.0,5.0,9.87,1,0.97
211,212,328,110,4,5.0,4.0,9.14,1,0.82
212,213,338,120,4,5.0,5.0,9.66,1,0.95
213,214,333,119,5,5.0,4.5,9.78,1,0.96
214,215,331,117,4,4.5,5.0,9.42,1,0.94
215,216,330,116,5,5.0,4.5,9.36,1,0.93
234,235,330,113,5,5.0,4.0,9.31,1,0.91
237,238,329,114,5,4.5,5.0,9.19,1,0.86
254,255,321,114,4,4.0,5.0,9.12,0,0.85
257,258,324,100,3,4.0,5.0,8.64,1,0.78
258,259,326,102,4,5.0,5.0,8.76,1,0.77
259,260,331,119,4,5.0,4.5,9.34,1,0.90
260,261,327,108,5,5.0,3.5,9.13,1,0.87
268,269,327,113,4,4.5,5.0,9.14,0,0.83
269,270,308,108,4,4.5,5.0,8.34,0,0.77
276,277,329,113,5,5.0,4.5,9.45,1,0.89
284,285,340,112,4,5.0,4.5,9.66,1,0.94
287,288,324,114,5,5.0,4.5,9.08,1,0.89
288,289,314,104,4,5.0,5.0,9.02,0,0.82
337,338,332,118,5,5.0,5.0,9.47,1,0.94
360,361,322,110,3,4.0,5.0,8.64,1,0.85
362,363,338,115,5,4.5,5.0,9.23,1,0.91
384,385,340,113,4,5.0,5.0,9.74,1,0.96
385,386,335,117,5,5.0,5.0,9.82,1,0.96
397,398,330,116,4,5.0,4.5,9.45,1,0.91
399,400,333,117,4,5.0,4.0,9.66,1,0.95

In [14]:
# Get rows where Chance of Admit is above 0.8 and University Rating â‰¥ 4.
df[(df['Chance of Admit '] > 0.8) & (df['University Rating'] >= 4)]

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
5,6,330,115,5,4.5,3.0,9.34,1,0.90
11,12,327,111,4,4.0,4.5,9.00,1,0.84
22,23,328,116,5,5.0,5.0,9.50,1,0.94
23,24,334,119,5,5.0,4.5,9.70,1,0.95
...,...,...,...,...,...,...,...,...,...
385,386,335,117,5,5.0,5.0,9.82,1,0.96
392,393,326,112,4,4.0,3.5,9.12,1,0.84
394,395,329,111,4,4.5,4.0,9.23,1,0.89
397,398,330,116,4,5.0,4.5,9.45,1,0.91
399,400,333,117,4,5.0,4.0,9.66,1,0.95

In [15]:
# Find all rows where TOEFL Score is between 100 and 110.
df[(df['TOEFL Score'] >= 100) & (df['TOEFL Score'] <= 110)]

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65
6,7,321,109,3,3.0,4.0,8.20,1,0.75
...,...,...,...,...,...,...,...,...,...
391,392,318,106,3,2.0,3.0,8.65,0,0.71
393,394,317,104,2,3.0,3.0,8.76,0,0.77
395,396,324,110,3,3.5,3.5,9.04,1,0.82
396,397,325,107,3,3.0,3.5,9.11,1,0.84
398,399,312,103,3,3.5,4.0,8.78,0,0.67

In [16]:
# Display data for students whose GRE Score is not equal to 300.
df[df['GRE Score'] != 300]

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...,...
395,396,324,110,3,3.5,3.5,9.04,1,0.82
396,397,325,107,3,3.0,3.5,9.11,1,0.84
397,398,330,116,4,5.0,4.5,9.45,1,0.91
398,399,312,103,3,3.5,4.0,8.78,0,0.67
399,400,333,117,4,5.0,4.0,9.66,1,0.95

In [17]:
# Show all students with CGPA less than 8 and Research = 1.
df[(df['CGPA'] < 8.0) & (df['Research'] == 1)]

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
20,21,312,107,3,3.0,2.0,7.90,1,0.64
27,28,298,98,2,1.5,2.5,7.50,1,0.44
51,52,312,100,2,1.5,3.5,7.90,1,0.56
58,59,300,99,1,3.0,2.0,6.80,1,0.36
78,79,296,95,2,3.0,2.0,7.54,1,0.44
90,91,318,106,2,4.0,4.0,7.92,1,0.64
93,94,301,97,2,3.0,3.0,7.88,1,0.44
168,169,293,97,2,2.0,4.0,7.80,1,0.64
357,358,301,104,2,3.5,3.5,7.89,1,0.68

In [18]:
# Retrieve rows where University Rating &lt; 3 and SOP &gt; 4.
df[(df['University Rating'] < 3) & (df['SOP'] > 4)]

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
103,104,317,104,2,4.5,4.0,8.47,0,0.57
138,139,326,116,2,4.5,3.0,9.08,1,0.80
141,142,332,118,2,4.5,3.5,9.36,1,0.90

In [19]:
df.columns

Index(['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR ', 'CGPA', 'Research', 'Chance of Admit '],
      dtype='object')

In [20]:
# Get records of students having TOEFL Score &gt; 105 but GRE Score &lt; 310.
df[(df['TOEFL Score'] > 105) & (df['GRE Score'] < 310)]

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
13,14,307,109,3,4.0,3.0,8.00,1,0.62
36,37,299,106,2,4.0,4.0,8.40,0,0.64
39,40,307,108,2,4.0,3.5,7.70,0,0.48
40,41,308,110,3,3.5,3.0,8.00,1,0.46
110,111,305,108,5,3.0,3.0,8.48,0,0.61
112,113,301,107,3,3.5,3.5,8.34,1,0.62
123,124,308,108,3,3.5,3.5,8.22,0,0.61
124,125,301,106,4,2.5,3.0,8.47,0,0.57
158,159,306,106,2,2.0,2.5,8.14,0,0.61
178,179,309,108,3,2.5,3.0,8.12,0,0.72
181,182,305,107,2,2.5,2.5,8.42,0,0.71
195,196,307,107,2,3.0,3.5,8.52,1,0.78
208,209,305,106,2,3.0,3.0,8.16,0,0.64
223,224,308,109,2,3.0,4.0,8.45,0,0.71
226,227,306,110,2,3.5,4.0,8.45,0,0.63
255,256,307,110,4,4.0,4.5,8.37,0,0.79
269,270,308,108,4,4.5,5.0,8.34,0,0.77
299,300,305,112,3,3.0,3.5,8.65,0,0.71
300,301,309,106,2,2.5,2.5,8.00,0,0.62
309,310,308,110,4,3.5,3.0,8.60,0,0.70
332,333,308,106,3,3.5,2.5,8.21,1,0.75
342,343,308,106,3,3.0,3.0,8.24,0,0.58

In [21]:
# ï‚· Display records where Chance of Admit &lt; 0.6 or GRE Score &lt; 300.
df[(df['Chance of Admit '] < 0.6) | (df['GRE Score'] < 300)]

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
8,9,302,102,1,2.0,1.5,8.00,0,0.50
9,10,323,108,3,3.5,3.0,8.60,0,0.45
10,11,325,106,3,3.5,4.0,8.40,1,0.52
15,16,314,105,3,3.5,2.5,8.30,0,0.54
27,28,298,98,2,1.5,2.5,7.50,1,0.44
...,...,...,...,...,...,...,...,...,...
377,378,290,100,1,1.5,2.0,7.56,0,0.47
378,379,303,98,1,2.0,2.5,7.65,0,0.56
386,387,302,101,2,2.5,3.5,7.96,0,0.46
387,388,307,105,2,2.0,3.5,8.10,0,0.53
388,389,296,97,2,1.5,2.0,7.80,0,0.49

In [22]:
# Find the top 10 students with the highest GRE Score.
top_performer = df.nlargest(10, 'GRE Score')

In [23]:
top_performer

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
25,26,340,120,5,4.5,4.5,9.60,1,0.94
33,34,340,114,5,4.0,4.0,9.60,1,0.90
81,82,340,120,4,5.0,5.0,9.50,1,0.96
84,85,340,115,5,4.5,4.5,9.45,1,0.94
143,144,340,120,4,4.5,4.0,9.92,1,0.97
202,203,340,120,5,4.5,4.5,9.91,1,0.97
284,285,340,112,4,5.0,4.5,9.66,1,0.94
384,385,340,113,4,5.0,5.0,9.74,1,0.96
47,48,339,119,5,4.5,4.0,9.70,0,0.89
130,131,339,114,5,4.0,4.5,9.76,1,0.96

In [24]:
# ï‚· Display applicants who scored exactly 4.5 in LOR.
applicants = df[df['LOR '] == 4.5]
applicants

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
11,12,327,111,4,4.0,4.5,9.00,1,0.84
12,13,328,112,4,4.0,4.5,9.10,1,0.78
23,24,334,119,5,5.0,4.5,9.70,1,0.95
25,26,340,120,5,4.5,4.5,9.60,1,0.94
32,33,338,118,4,3.0,4.5,9.40,1,0.91
50,51,313,98,3,2.5,4.5,8.30,1,0.76
82,83,320,110,5,5.0,4.5,9.22,1,0.92
83,84,322,115,5,4.0,4.5,9.36,1,0.92
84,85,340,115,5,4.5,4.5,9.45,1,0.94
98,99,332,119,4,5.0,4.5,9.24,1,0.90
105,106,316,110,3,4.0,4.5,8.78,1,0.69
106,107,329,111,4,4.5,4.5,9.18,1,0.87
107,108,338,117,4,3.5,4.5,9.46,1,0.91
115,116,310,106,4,4.5,4.5,9.04,1,0.66
121,122,334,119,5,4.5,4.5,9.48,1,0.94
130,131,339,114,5,4.0,4.5,9.76,1,0.96
131,132,303,105,5,5.0,4.5,8.65,0,0.77
133,134,323,112,5,4.0,4.5,8.78,0,0.79
171,172,334,117,5,4.0,4.5,9.07,1,0.89
173,174,323,113,4,4.0,4.5,9.23,1,0.89
176,177,329,119,4,4.5,4.5,9.16,1,0.90
185,186,327,113,4,4.5,4.5,9.11,1,0.89
198,199,311,104,3,4.5,4.5,8.43,0,0.70
199,200,313,107,3,4.0,4.5,8.69,0,0.72
202,203,340,120,5,4.5,4.5,9.91,1,0.97
213,214,333,119,5,5.0,4.5,9.78,1,0.96
215,216,330,116,5,5.0,4.5,9.36,1,0.93
216,217,322,112,4,4.5,4.5,9.26,1,0.91
230,231,313,104,3,4.0,4.5,8.65,0,0.73
236,237,325,112,4,4.0,4.5,9.17,1,0.85
253,254,335,115,4,4.5,4.5,9.68,1,0.93
255,256,307,110,4,4.0,4.5,8.37,0,0.79
259,260,331,119,4,5.0,4.5,9.34,1,0.90
276,277,329,113,5,5.0,4.5,9.45,1,0.89
281,282,317,110,3,4.0,4.5,9.11,1,0.80
284,285,340,112,4,5.0,4.5,9.66,1,0.94
287,288,324,114,5,5.0,4.5,9.08,1,0.89
297,298,320,120,3,4.0,4.5,9.11,0,0.86
298,299,330,114,3,4.5,4.5,9.24,1,0.90
312,313,311,107,4,4.5,4.5,9.00,1,0.78
335,336,325,111,4,4.0,4.5,9.11,1,0.83
366,367,320,104,3,3.5,4.5,8.34,1,0.74
397,398,330,116,4,5.0,4.5,9.45,1,0.91

In [25]:
# ï‚· Select students whose SOP rating lies between 3 and 4 (inclusive).
df[(df['SOP']  >= 3) & (df['SOP'] <= 4)]

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
6,7,321,109,3,3.0,4.0,8.20,1,0.75
7,8,308,101,2,3.0,4.0,7.90,0,0.68
...,...,...,...,...,...,...,...,...,...
392,393,326,112,4,4.0,3.5,9.12,1,0.84
393,394,317,104,2,3.0,3.0,8.76,0,0.77
395,396,324,110,3,3.5,3.5,9.04,1,0.82
396,397,325,107,3,3.0,3.5,9.11,1,0.84
398,399,312,103,3,3.5,4.0,8.78,0,0.67

In [26]:
# ï‚· Display all students whose University Rating is either 2 or 3.
df[(df['University Rating'] == 2) | (df['University Rating'] == 3)]

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65
6,7,321,109,3,3.0,4.0,8.20,1,0.75
7,8,308,101,2,3.0,4.0,7.90,0,0.68
...,...,...,...,...,...,...,...,...,...
391,392,318,106,3,2.0,3.0,8.65,0,0.71
393,394,317,104,2,3.0,3.0,8.76,0,0.77
395,396,324,110,3,3.5,3.5,9.04,1,0.82
396,397,325,107,3,3.0,3.5,9.11,1,0.84
398,399,312,103,3,3.5,4.0,8.78,0,0.67

In [27]:
# Filter rows where CGPA is an integer value (e.g., 8.0, 9.0).
# df.info()
# int_val = df[df['CGPA'].dtype()]

In [28]:
df.columns

Index(['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR ', 'CGPA', 'Research', 'Chance of Admit '],
      dtype='object')

In [29]:
# ï‚· Retrieve records where Chance of Admit is between 0.5 and 0.7.
df[(df['Chance of Admit '] >= 0.5) & (df['Chance of Admit '] <= 0.7)]

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
4,5,314,103,2,2.0,3.0,8.21,0,0.65
7,8,308,101,2,3.0,4.0,7.90,0,0.68
8,9,302,102,1,2.0,1.5,8.00,0,0.50
10,11,325,106,3,3.5,4.0,8.40,1,0.52
13,14,307,109,3,4.0,3.0,8.00,1,0.62
...,...,...,...,...,...,...,...,...,...
378,379,303,98,1,2.0,2.5,7.65,0,0.56
383,384,300,100,3,3.0,3.5,8.26,0,0.62
387,388,307,105,2,2.0,3.5,8.10,0,0.53
390,391,314,102,2,2.0,2.5,8.24,0,0.64
398,399,312,103,3,3.5,4.0,8.78,0,0.67

In [30]:
# ï‚· Select students who scored below average GRE Score.
avg = df['GRE Score'].mean()  #316.8075
df[df['GRE Score'] <= avg]

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
2,3,316,104,3,3.0,3.5,8.00,1,0.72
4,5,314,103,2,2.0,3.0,8.21,0,0.65
7,8,308,101,2,3.0,4.0,7.90,0,0.68
8,9,302,102,1,2.0,1.5,8.00,0,0.50
13,14,307,109,3,4.0,3.0,8.00,1,0.62
...,...,...,...,...,...,...,...,...,...
386,387,302,101,2,2.5,3.5,7.96,0,0.46
387,388,307,105,2,2.0,3.5,8.10,0,0.53
388,389,296,97,2,1.5,2.0,7.80,0,0.49
390,391,314,102,2,2.0,2.5,8.24,0,0.64
398,399,312,103,3,3.5,4.0,8.78,0,0.67

In [31]:
# ï‚· Show all records where TOEFL Score equals the datasetâ€™s maximum TOEFL Score.
toefl_max = df['TOEFL Score'].max()
toefl_max  #120
df[df['TOEFL Score'] == toefl_max]

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
25,26,340,120,5,4.5,4.5,9.60,1,0.94
81,82,340,120,4,5.0,5.0,9.50,1,0.96
97,98,331,120,3,4.0,4.0,8.96,1,0.86
143,144,340,120,4,4.5,4.0,9.92,1,0.97
202,203,340,120,5,4.5,4.5,9.91,1,0.97
203,204,334,120,5,4.0,5.0,9.87,1,0.97
212,213,338,120,4,5.0,5.0,9.66,1,0.95
297,298,320,120,3,4.0,4.5,9.11,0,0.86

In [32]:
df.columns

Index(['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR ', 'CGPA', 'Research', 'Chance of Admit '],
      dtype='object')

In [33]:
# Filter students who have both LOR and SOP less than 3.
df[(df['LOR '] < 3) & (df['SOP']< 3)]

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
8,9,302,102,1,2.0,1.5,8.00,0,0.50
27,28,298,98,2,1.5,2.5,7.50,1,0.44
28,29,295,93,1,2.0,2.0,7.20,0,0.46
29,30,310,99,2,1.5,2.0,7.30,0,0.54
37,38,300,105,1,1.0,2.0,7.80,0,0.58
...,...,...,...,...,...,...,...,...,...
376,377,297,96,2,2.5,2.0,7.43,0,0.34
377,378,290,100,1,1.5,2.0,7.56,0,0.47
378,379,303,98,1,2.0,2.5,7.65,0,0.56
388,389,296,97,2,1.5,2.0,7.80,0,0.49
390,391,314,102,2,2.0,2.5,8.24,0,0.64

In [34]:
# ï‚· Retrieve students who have GRE Score divisible by 5.
df[df['GRE Score'] % 5 == 0]

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
5,6,330,115,5,4.5,3.0,9.34,1,0.90
10,11,325,106,3,3.5,4.0,8.40,1,0.52
21,22,325,114,4,3.0,2.0,8.40,0,0.70
25,26,340,120,5,4.5,4.5,9.60,1,0.94
28,29,295,93,1,2.0,2.0,7.20,0,0.46
...,...,...,...,...,...,...,...,...,...
384,385,340,113,4,5.0,5.0,9.74,1,0.96
385,386,335,117,5,5.0,5.0,9.82,1,0.96
389,390,320,108,3,3.5,4.0,8.44,1,0.76
396,397,325,107,3,3.0,3.5,9.11,1,0.84
397,398,330,116,4,5.0,4.5,9.45,1,0.91

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Serial No.         400 non-null    int64
 1   GRE Score          400 non-null    int64
 2   TOEFL Score        400 non-null    int64
 3   University Rating  400 non-null    int64
 4   SOP                400 non-null    float64
 5   LOR                400 non-null    float64
 6   CGPA               400 non-null    float64
 7   Research           400 non-null    int64
 8   Chance of Admit    400 non-null    float64
dtypes: float64(4), int64(5)
memory usage: 28.2 KB

In [36]:
# ï‚· Add a new column named GRE_to_TOEFL_Ratio = GRE Score / TOEFL Score.
df['GRE_to_TOEFL_Ration'] = df['GRE Score'] / df['TOEFL Score']
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,GRE_to_TOEFL_Ration
0,1,337,118,4,4.5,4.5,9.65,1,0.92,2.855932
1,2,324,107,4,4.0,4.5,8.87,1,0.76,3.028037
2,3,316,104,3,3.0,3.5,8.00,1,0.72,3.038462
3,4,322,110,3,3.5,2.5,8.67,1,0.80,2.927273
4,5,314,103,2,2.0,3.0,8.21,0,0.65,3.048544

In [37]:
# ï‚· Create a new column Admission_Chance_% = Chance of Admit Ã— 100.
df['Admission_Chance_%'] = df['Chance of Admit '] * 100
df['Admission_Chance_%']

0      92.0
1      76.0
2      72.0
3      80.0
4      65.0
       ...
395    82.0
396    84.0
397    91.0
398    67.0
399    95.0
Name: Admission_Chance_%, Length: 400, dtype: float64

In [38]:
# ï‚· Rename the column Chance of Admit to Admit_Probability.
df.rename(columns = {'Admit_Probability': 'Chance of Admit'} , inplace= True)
df.columns

Index(['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR ', 'CGPA', 'Research', 'Chance of Admit ', 'GRE_to_TOEFL_Ration',
       'Admission_Chance_%'],
      dtype='object')

In [39]:
# ï‚· Change all column names to lowercase.
# df = pd.read_csv('Admission_Predict.csv')
df.columns.str.lower()

Index(['serial no.', 'gre score', 'toefl score', 'university rating', 'sop',
       'lor ', 'cgpa', 'research', 'chance of admit ', 'gre_to_toefl_ration',
       'admission_chance_%'],
      dtype='object')

In [40]:
# Drop the column Serial No..
df.drop(columns = ['Serial No.'] , inplace=True)
df.columns

Index(['GRE Score', 'TOEFL Score', 'University Rating', 'SOP', 'LOR ', 'CGPA',
       'Research', 'Chance of Admit ', 'GRE_to_TOEFL_Ration',
       'Admission_Chance_%'],
      dtype='object')

In [41]:
# Round all values in CGPA to one decimal place.
def rounding(x):
    return x[:2]
df['CGPA'] = df['CGPA'].round(1)
df['CGPA']
# df['CGPA'].dtype

0      9.6
1      8.9
2      8.0
3      8.7
4      8.2
      ...
395    9.0
396    9.1
397    9.4
398    8.8
399    9.7
Name: CGPA, Length: 400, dtype: float64

In [42]:
# df = pd.read_csv('Admission_Predict.csv')
df.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,GRE_to_TOEFL_Ration,Admission_Chance_%
0,337,118,4,4.5,4.5,9.6,1,0.92,2.855932,92.0
1,324,107,4,4.0,4.5,8.9,1,0.76,3.028037,76.0
2,316,104,3,3.0,3.5,8.0,1,0.72,3.038462,72.0
3,322,110,3,3.5,2.5,8.7,1,0.80,2.927273,80.0
4,314,103,2,2.0,3.0,8.2,0,0.65,3.048544,65.0

In [43]:
# ï‚· Replace all University Rating values of 5 with 10.
def f(x):
    if x == 5:
         return 10
    else:
        return x        
df['University Rating'] = df['University Rating'].apply(f)

In [44]:
df['University Rating']

0      4
1      4
2      3
3      3
4      2
      ..
395    3
396    3
397    4
398    3
399    4
Name: University Rating, Length: 400, dtype: int64

In [45]:
df['Research'].unique

<bound method Series.unique of 0      1
1      1
2      1
3      1
4      0
      ..
395    1
396    1
397    1
398    0
399    1
Name: Research, Length: 400, dtype: int64>

In [46]:
# Convert Research column values from 0/1 to â€œNoâ€/â€œYesâ€.
def convert_val(x):
    if x == 0:
        return 'No'
    else:
        return 'Yes'
df['Research'] = df['Research'].apply(convert_val)

In [47]:
df['Research']

0      Yes
1      Yes
2      Yes
3      Yes
4       No
      ...
395    Yes
396    Yes
397    Yes
398     No
399    Yes
Name: Research, Length: 400, dtype: object

In [48]:
# ï‚· Create a new column GRE_Level = â€œHighâ€ if GRE â‰¥ 320 else â€œLowâ€.
def new_gre(x):
    if x >= 320:
        return 'High'
    else:
        return 'Low'
df['GRE_Level'] = df['GRE Score'].apply(new_gre)

In [49]:
df.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,GRE_to_TOEFL_Ration,Admission_Chance_%,GRE_Level
0,337,118,4,4.5,4.5,9.6,Yes,0.92,2.855932,92.0,High
1,324,107,4,4.0,4.5,8.9,Yes,0.76,3.028037,76.0,High
2,316,104,3,3.0,3.5,8.0,Yes,0.72,3.038462,72.0,Low
3,322,110,3,3.5,2.5,8.7,Yes,0.80,2.927273,80.0,High
4,314,103,2,2.0,3.0,8.2,No,0.65,3.048544,65.0,Low

In [50]:
# ï‚· Normalize CGPA column to range 0â€“1 using min-max scaling (without sklearn).
def normalize(x):
    min_gpa = df['CGPA'].min()
    max_gpa = df['CGPA'].max()
    if x == min_gpa:
        return 0
    elif x == max_gpa:
        return 1
    else:
        return (x- min_gpa) / (max_gpa - min_gpa)
df['CGPA'] = df['CGPA'].apply(normalize)
df['CGPA']

0      0.903226
1      0.677419
2      0.387097
3      0.612903
4      0.451613
         ...
395    0.709677
396    0.741935
397    0.838710
398    0.645161
399    0.935484
Name: CGPA, Length: 400, dtype: float64

In [51]:
# Increase all TOEFL Score values by 2 points.
def increse_toefl(x):
    return x + 2
df['TOEFL Score'] = df['TOEFL Score'].apply(increse_toefl)

In [52]:
df['TOEFL Score']

0      120
1      109
2      106
3      112
4      105
      ...
395    112
396    109
397    118
398    105
399    119
Name: TOEFL Score, Length: 400, dtype: int64

In [53]:
# ï‚· Add a column Weighted_Score = GRE Score * 0.3 + TOEFL Score * 0.2 + CGPA * 0.5.
df['Weighted_Score'] = (df['GRE Score'] * 0.3) + ( df['TOEFL Score'] * 0.2) + (df['CGPA'] * 0.5)
df['Weighted_Score']

0      125.551613
1      119.338710
2      116.193548
3      119.306452
4      115.425806
          ...
395    119.954839
396    119.670968
397    123.019355
398    114.922581
399    124.167742
Name: Weighted_Score, Length: 400, dtype: float64

In [54]:
df.shape[0]

400

In [55]:
# ï‚· Drop all duplicate rows if any.
df.drop_duplicates()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,GRE_to_TOEFL_Ration,Admission_Chance_%,GRE_Level,Weighted_Score
0,337,120,4,4.5,4.5,0.903226,Yes,0.92,2.855932,92.0,High,125.551613
1,324,109,4,4.0,4.5,0.677419,Yes,0.76,3.028037,76.0,High,119.338710
2,316,106,3,3.0,3.5,0.387097,Yes,0.72,3.038462,72.0,Low,116.193548
3,322,112,3,3.5,2.5,0.612903,Yes,0.80,2.927273,80.0,High,119.306452
4,314,105,2,2.0,3.0,0.451613,No,0.65,3.048544,65.0,Low,115.425806
...,...,...,...,...,...,...,...,...,...,...,...,...
395,324,112,3,3.5,3.5,0.709677,Yes,0.82,2.945455,82.0,High,119.954839
396,325,109,3,3.0,3.5,0.741935,Yes,0.84,3.037383,84.0,High,119.670968
397,330,118,4,5.0,4.5,0.838710,Yes,0.91,2.844828,91.0,High,123.019355
398,312,105,3,3.5,4.0,0.645161,No,0.67,3.029126,67.0,Low,114.922581
399,333,119,4,5.0,4.0,0.935484,Yes,0.95,2.846154,95.0,High,124.167742

In [56]:
# Replace all SOP values less than 2 with the mean SOP.
def replace_sop(x):
    sop_mean = df['SOP'].mean()
    if x == 2:
        return sop_mean
    else:
        return x
df['SOP'] = df['SOP'].apply(replace_sop)
df['SOP']

0      4.5
1      4.0
2      3.0
3      3.5
4      3.4
      ...
395    3.5
396    3.0
397    5.0
398    3.5
399    5.0
Name: SOP, Length: 400, dtype: float64

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   GRE Score            400 non-null    int64
 1   TOEFL Score          400 non-null    int64
 2   University Rating    400 non-null    int64
 3   SOP                  400 non-null    float64
 4   LOR                  400 non-null    float64
 5   CGPA                 400 non-null    float64
 6   Research             400 non-null    object
 7   Chance of Admit      400 non-null    float64
 8   GRE_to_TOEFL_Ration  400 non-null    float64
 9   Admission_Chance_%   400 non-null    float64
 10  GRE_Level            400 non-null    object
 11  Weighted_Score       400 non-null    float64
dtypes: float64(7), int64(3), object(2)
memory usage: 37.6+ KB

In [58]:
# ï‚· Create a new column combining University Rating and Research (e.g.,&quot;Rating-Research&quot;).
df['University Rating'] = df['University Rating'].astype(str)
df['Combine Rating_Research'] = df['University Rating'] + df['Research']
df['Combine Rating_Research']

0      4Yes
1      4Yes
2      3Yes
3      3Yes
4       2No
       ...
395    3Yes
396    3Yes
397    4Yes
398     3No
399    4Yes
Name: Combine Rating_Research, Length: 400, dtype: object

In [59]:
df.columns

Index(['GRE Score', 'TOEFL Score', 'University Rating', 'SOP', 'LOR ', 'CGPA',
       'Research', 'Chance of Admit ', 'GRE_to_TOEFL_Ration',
       'Admission_Chance_%', 'GRE_Level', 'Weighted_Score',
       'Combine Rating_Research'],
      dtype='object')

In [60]:
# ï‚· Convert Chance of Admit to categorical bins: â€œLowâ€, â€œMediumâ€, â€œHighâ€.
def convert_chance_of_admit(x):
    avg = df['Chance of Admit '].mean()
    low = df['Chance of Admit '].min()
    high = df['Chance of Admit '].max()
    if x <= low:
        return 'Low'
    elif x >= low and x <= avg:
        return 'Medium'
    elif x >= avg and x <= high:
        return "High"
        
df['Chance of Admit '] = df['Chance of Admit '].apply(convert_chance_of_admit)

In [61]:
df['Chance of Admit ']

0        High
1        High
2      Medium
3        High
4      Medium
        ...
395      High
396      High
397      High
398    Medium
399      High
Name: Chance of Admit , Length: 400, dtype: object

In [62]:
# ï‚· Add a constant column Country with value â€œIndiaâ€.
df['Country'] = 'India'
df['Country']

0      India
1      India
2      India
3      India
4      India
       ...
395    India
396    India
397    India
398    India
399    India
Name: Country, Length: 400, dtype: object

In [63]:
df.columns

Index(['GRE Score', 'TOEFL Score', 'University Rating', 'SOP', 'LOR ', 'CGPA',
       'Research', 'Chance of Admit ', 'GRE_to_TOEFL_Ration',
       'Admission_Chance_%', 'GRE_Level', 'Weighted_Score',
       'Combine Rating_Research', 'Country'],
      dtype='object')

In [64]:
# ï‚· Reorder columns so that Chance of Admit comes first.
new_col = ['Chance of Admit ','GRE Score', 'TOEFL Score', 'University Rating', 'SOP', 'LOR ', 'CGPA',
           'Research','GRE_to_TOEFL_Ration','Admission_Chance_%', 'GRE_Level', 'Weighted_Score',
           'Combine Rating_Research', 'Country']
df = df.reindex(columns = new_col)

In [65]:
df.head()

,Chance of Admit,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,GRE_to_TOEFL_Ration,Admission_Chance_%,GRE_Level,Weighted_Score,Combine Rating_Research,Country
0,High,337,120,4,4.5,4.5,0.903226,Yes,2.855932,92.0,High,125.551613,4Yes,India
1,High,324,109,4,4.0,4.5,0.677419,Yes,3.028037,76.0,High,119.338710,4Yes,India
2,Medium,316,106,3,3.0,3.5,0.387097,Yes,3.038462,72.0,Low,116.193548,3Yes,India
3,High,322,112,3,3.5,2.5,0.612903,Yes,2.927273,80.0,High,119.306452,3Yes,India
4,Medium,314,105,2,3.4,3.0,0.451613,No,3.048544,65.0,Low,115.425806,2No,India

In [66]:
# ï‚· Replace values in LOR column where rating is 5 with 4.9.
def replace_lop(x):
    if x == 5:
        return 4.9
    else:
        return x
df['LOR '] = df['LOR '].apply(replace_lop)
df['LOR ']

0      4.5
1      4.5
2      3.5
3      2.5
4      3.0
      ...
395    3.5
396    3.5
397    4.5
398    4.0
399    4.0
Name: LOR , Length: 400, dtype: float64

In [67]:
# ï‚· Convert all float columns to integers (after rounding).
for col in df.columns:
    if df[col].dtype == 'float':
        df[col] = df[col].round().astype('int')

In [68]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Chance of Admit          400 non-null    object
 1   GRE Score                400 non-null    int64
 2   TOEFL Score              400 non-null    int64
 3   University Rating        400 non-null    object
 4   SOP                      400 non-null    int32
 5   LOR                      400 non-null    int32
 6   CGPA                     400 non-null    int32
 7   Research                 400 non-null    object
 8   GRE_to_TOEFL_Ration      400 non-null    int32
 9   Admission_Chance_%       400 non-null    int32
 10  GRE_Level                400 non-null    object
 11  Weighted_Score           400 non-null    int32
 12  Combine Rating_Research  400 non-null    object
 13  Country                  400 non-null    object
dtypes: int32(6), int64(2), object(6)
memory usage: 34.5+ KB

In [69]:
# ï‚· Replace CGPA values above 9.5 with 9.5.
def replace_cgpa(x):
    if x >= 9.5:
        return 9.5
    else:
        return x
df['CGPA'] = df['CGPA'].apply(replace_cgpa)
df['CGPA']

0      1
1      1
2      0
3      1
4      0
      ..
395    1
396    1
397    1
398    1
399    1
Name: CGPA, Length: 400, dtype: int64

In [70]:
df.columns

Index(['Chance of Admit ', 'GRE Score', 'TOEFL Score', 'University Rating',
       'SOP', 'LOR ', 'CGPA', 'Research', 'GRE_to_TOEFL_Ration',
       'Admission_Chance_%', 'GRE_Level', 'Weighted_Score',
       'Combine Rating_Research', 'Country'],
      dtype='object')

In [71]:
# Apply a lambda function to square all SOP values.
df['SOP'] = df['SOP'].round().apply(lambda x:x*x)

In [72]:
# ï‚· Add a column GRE_Category = â€œBelow Avgâ€, â€œAvgâ€, â€œAbove Avgâ€ based on mean GRE.
def avg_gre(x):
    avg = df['GRE Score'].mean()
    if x < avg:
        return "Below Avg"
    elif x == avg:
        return 'Avg'
    elif x > avg:
        return "Above Avg"
df['GRE_Category'] = df['GRE Score'].apply(avg_gre)
df['GRE_Category']

0      Above Avg
1      Above Avg
2      Below Avg
3      Above Avg
4      Below Avg
         ...
395    Above Avg
396    Above Avg
397    Above Avg
398    Below Avg
399    Above Avg
Name: GRE_Category, Length: 400, dtype: object

In [73]:
# ï‚· Standardize column names to snake_case (lowercase, replace spaces with _).

df.columns = [x.lower() for x in df.columns]
df.columns = [x.replace(' ', '_') for x in df.columns]

In [74]:
df.columns

Index(['chance_of_admit_', 'gre_score', 'toefl_score', 'university_rating',
       'sop', 'lor_', 'cgpa', 'research', 'gre_to_toefl_ration',
       'admission_chance_%', 'gre_level', 'weighted_score',
       'combine_rating_research', 'country', 'gre_category'],
      dtype='object')

In [75]:
# ï‚· Create a new column showing difference between TOEFL Score and GRE Score/4.
def difference(x,y):
    if x > y:
        return x - y
    else:
        return y - x
df['diff_toefl_gre'] = df.apply(lambda row : difference(row['toefl_score'], row['gre_score']) , axis=1)

In [76]:
df['diff_toefl_gre']

0      217
1      215
2      210
3      210
4      209
      ...
395    212
396    216
397    212
398    207
399    214
Name: diff_toefl_gre, Length: 400, dtype: int64

In [77]:
# Find the average GRE Score for each University Rating.
pd.crosstab(df['gre_score'], df['university_rating']).mean()

university_rating
1     0.530612
10    1.224490
2     2.183673
3     2.714286
4     1.510204
dtype: float64

In [78]:
df.groupby('university_rating')['gre_score'].mean()

university_rating
1     303.153846
10    328.333333
2     309.177570
3     315.954887
4     324.824324
Name: gre_score, dtype: float64

In [79]:
df['university_rating'].unique()

array(['4', '3', '2', '10', '1'], dtype=object)

In [80]:
# ï‚· Get the mean CGPA for students with and without research.
pd.crosstab(df['cgpa'], df['research']).mean()

research
No      90.5
Yes    109.5
dtype: float64

In [81]:
df.groupby('research')['cgpa'].mean()

research
No     0.441989
Yes    0.812785
Name: cgpa, dtype: float64

In [82]:
# ï‚· Count how many applicants have each University Rating.
df.groupby('university_rating')['university_rating'].count()

university_rating
1      26
10     60
2     107
3     133
4      74
Name: university_rating, dtype: int64

In [83]:
# ï‚· Find the total number of students in each Research category.
df.groupby('research')['research'].count()

research
No     181
Yes    219
Name: research, dtype: int64

In [84]:
# ï‚· Group by University Rating and show average TOEFL Score.
df.groupby('university_rating')['toefl_score'].mean()

university_rating
1     101.076923
10    115.666667
2     105.523364
3     108.887218
4     113.824324
Name: toefl_score, dtype: float64

In [85]:
# ï‚· Get the maximum Chance of Admit for each Research group.
df.groupby('research')['chance_of_admit_'].max()

research
No     Medium
Yes    Medium
Name: chance_of_admit_, dtype: object

In [86]:
# ï‚· Find minimum SOP value per University Rating.
df.groupby('university_rating')['sop'].min()

university_rating
1     1
10    9
2     1
3     4
4     4
Name: sop, dtype: int64

In [87]:
# ï‚· Count number of students with GRE Score â‰¥ 320 for each University
# Rating.
pd.crosstab(df['university_rating'], df['gre_score'] >= 320)

gre_score          False  True
university_rating
1                     26      0
10                     4     56
2                     96     11
3                     84     49
4                     15     59

In [88]:
# ï‚· Calculate median CGPA grouped by Research.
df.groupby('research')['cgpa'].median()

research
No     0.0
Yes    1.0
Name: cgpa, dtype: float64

In [89]:
# ï‚· Get the number of students per combination of University Rating and Research.
pd.crosstab(df['university_rating'], df['research'])

research           No  Yes
university_rating
1                  21    5
10                  8   52
2                  75   32
3                  62   71
4                  15   59

In [90]:
# ï‚· Find the mean GRE Score grouped by both Research and SOP.
df.groupby(['research','sop'])['gre_score'].mean()

research  sop
No        1      302.400000
          4      305.460000
          9      310.081967
          16     313.100000
          25     306.400000
Yes       1      312.000000
          4      314.352941
          9      315.527778
          16     324.233083
          25     330.218750
Name: gre_score, dtype: float64

In [91]:
# ï‚· For each University Rating, find both min and max TOEFL Score.
a = df.groupby('university_rating')['toefl_score'].min()
b = df.groupby('university_rating')['toefl_score'].max()

In [92]:
print(a)
print(b)

university_rating
1      94
10    105
2      97
3      99
4     102
Name: toefl_score, dtype: int64
university_rating
1     111
10    122
2     120
3     122
4     122
Name: toefl_score, dtype: int64

In [93]:
df.groupby('university_rating')['toefl_score'].agg(['min','max'])

                   min  max
university_rating
1                   94  111
10                 105  122
2                   97  120
3                   99  122
4                  102  122

In [94]:
# ï‚· Display number of unique GRE Score values per University Rating.
df.groupby('university_rating')['gre_score'].unique()

university_rating
1     [302, 295, 300, 304, 294, 318, 297, 315, 298, ...
10    [330, 328, 334, 336, 340, 322, 331, 320, 326, ...
2     [314, 308, 298, 310, 300, 299, 307, 316, 313, ...
3     [316, 322, 321, 323, 325, 307, 311, 314, 317, ...
4     [337, 324, 327, 328, 325, 338, 332, 334, 314, ...
Name: gre_score, dtype: object

In [95]:
# ï‚· Find the average of all numeric columns grouped by Research.
df.groupby('research').mean(numeric_only =  True)

,gre_score,toefl_score,sop,lor_,cgpa,gre_to_toefl_ration,admission_chance_%,weighted_score,diff_toefl_gre
research,,,,,,,,,
No,309.491713,106.143646,10.160221,3.071823,0.441989,3.0,63.767956,114.309392,203.348066
Yes,322.853881,112.109589,15.164384,3.757991,0.812785,3.0,79.598174,119.575342,210.744292

In [96]:
# ï‚· Get the count of applicants having CGPA &gt; 9 grouped by Research.
pd.crosstab(df['research'], df['cgpa'] > 9)

cgpa      False
research
No          181
Yes         219

In [97]:
# ï‚· For each SOP rating, find mean Chance of Admit.
# df['chance_of_admit_']= pd.to_numeric(df['chance_of_admit_'], errors='coerce')
# df.groupby('sop')["chance_of_admit_"].mean()

In [98]:
df['sop'] = df['sop'].apply(lambda x:x**0.5)

In [99]:
df['sop'].unique()

array([4., 3., 5., 2., 1.])

In [100]:
df['chance_of_admit_'].dtype

dtype('O')

In [101]:
df = pd.read_csv('Admission_predict.csv')

In [102]:
df['Chance of Admit ']

0      0.92
1      0.76
2      0.72
3      0.80
4      0.65
       ...
395    0.82
396    0.84
397    0.91
398    0.67
399    0.95
Name: Chance of Admit , Length: 400, dtype: float64

In [103]:
df.groupby('SOP')['Chance of Admit '].mean()

SOP
1.0    0.538333
1.5    0.521500
2.0    0.602727
2.5    0.651277
3.0    0.683594
3.5    0.713571
4.0    0.778000
4.5    0.843962
5.0    0.883514
Name: Chance of Admit , dtype: float64

In [104]:
# ï‚· Calculate mean and std deviation of GRE Score per University Rating.
df.groupby('University Rating')['GRE Score'].agg(['mean' , 'std'])

                         mean       std
University Rating
1                  303.153846  7.918042
2                  309.177570  8.503954
3                  315.954887  7.748768
4                  324.824324  9.917962
5                  328.333333  8.524475

In [105]:
# ï‚· Get total number of students whose Chance of Admit &gt; 0.8 per Research.
df[df['Chance of Admit '] > 0.8].groupby('Research').size()

Research
0      8
1    109
dtype: int64

In [106]:
pd.crosstab(df['Research'], df['Chance of Admit '] > 0.8)

Chance of Admit   False  True
Research
0                   173      8
1                   110    109

In [107]:
df.columns

Index(['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR ', 'CGPA', 'Research', 'Chance of Admit '],
      dtype='object')

In [108]:
# ï‚· Find number of records for each distinct combination of University Rating, SOP, and LOR.
df.groupby(['University Rating', 'SOP', 'LOR ']).count()

                            Serial No.  GRE Score  TOEFL Score  CGPA  \
University Rating SOP LOR
1                 1.0 1.0            1          1            1     1
                      1.5            1          1            1     1
                      2.0            1          1            1     1
                      2.5            2          2            2     2
                  1.5 1.5            1          1            1     1
...                                ...        ...          ...   ...
5                 4.5 5.0            3          3            3     3
                  5.0 3.5            1          1            1     1
                      4.0            3          3            3     3
                      4.5            7          7            7     7
                      5.0           13         13           13    13

                            Research  Chance of Admit
University Rating SOP LOR
1                 1.0 1.0          1                 1
                      1.5          1                 1
                      2.0          1                 1
                      2.5          2                 2
                  1.5 1.5          1                 1
...                              ...               ...
5                 4.5 5.0          3                 3
                  5.0 3.5          1                 1
                      4.0          3                 3
                      4.5          7                 7
                      5.0         13                13

[124 rows x 6 columns]

In [109]:
# df = pd.read_csv('Admission_Predict.csv')

In [110]:
# ï‚· Get the highest GRE Score among students with Research = 0.
df[df['Research'] == 0]['GRE Score'].max()

339

In [111]:
df[df['Research'] == 0]

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
4,5,314,103,2,2.0,3.0,8.21,0,0.65
7,8,308,101,2,3.0,4.0,7.90,0,0.68
8,9,302,102,1,2.0,1.5,8.00,0,0.50
9,10,323,108,3,3.5,3.0,8.60,0,0.45
15,16,314,105,3,3.5,2.5,8.30,0,0.54
...,...,...,...,...,...,...,...,...,...
388,389,296,97,2,1.5,2.0,7.80,0,0.49
390,391,314,102,2,2.0,2.5,8.24,0,0.64
391,392,318,106,3,2.0,3.0,8.65,0,0.71
393,394,317,104,2,3.0,3.0,8.76,0,0.77
398,399,312,103,3,3.5,4.0,8.78,0,0.67

In [112]:
# ï‚· Find how many students in each Research category have CGPA &gt; 9.
pd.crosstab(df['Research'],df['CGPA']> 9)

CGPA      False  True
Research
0           172      9
1           115    104

In [113]:
# ï‚· Calculate total GRE Score for each University Rating.
df.groupby('University Rating')['GRE Score'].sum()

University Rating
1     7882
2    33082
3    42022
4    24037
5    19700
Name: GRE Score, dtype: int64

In [114]:
# ï‚· Find mean Chance of Admit for each unique LOR score.
# df['LOR '].unique()
df.groupby('LOR ')['Chance of Admit '].mean()

LOR
1.0    0.420000
1.5    0.567143
2.0    0.563158
2.5    0.632564
3.0    0.674235
3.5    0.721096
4.0    0.776364
4.5    0.858444
5.0    0.883429
Name: Chance of Admit , dtype: float64

In [115]:
# ï‚· Get number of students with same TOEFL Score grouped by that score.
df.groupby('TOEFL Score')['TOEFL Score'].count()

TOEFL Score
92      1
93      2
94      1
95      2
96      4
97      6
98      9
99     18
100    19
101    11
102    17
103    16
104    25
105    28
106    24
107    26
108    17
109    17
110    37
111    17
112    21
113    14
114    15
115     9
116    11
117     7
118     9
119     9
120     8
Name: TOEFL Score, dtype: int64

In [116]:
df.columns

Index(['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR ', 'CGPA', 'Research', 'Chance of Admit '],
      dtype='object')

In [117]:
# ï‚· Find the group with the maximum average Chance of Admit.
df.groupby('University Rating')['Chance of Admit '].mean().max()

0.8881666666666667

In [118]:
# ï‚· Sort dataset by GRE Score in descending order.
df.sort_values('GRE Score' , ascending = False)

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
202,203,340,120,5,4.5,4.5,9.91,1,0.97
33,34,340,114,5,4.0,4.0,9.60,1,0.90
84,85,340,115,5,4.5,4.5,9.45,1,0.94
143,144,340,120,4,4.5,4.0,9.92,1,0.97
81,82,340,120,4,5.0,5.0,9.50,1,0.96
...,...,...,...,...,...,...,...,...,...
79,80,294,93,1,1.5,2.0,7.36,0,0.46
272,273,294,95,1,1.5,1.5,7.64,0,0.49
168,169,293,97,2,2.0,4.0,7.80,1,0.64
377,378,290,100,1,1.5,2.0,7.56,0,0.47
117,118,290,104,4,2.0,2.5,7.46,0,0.45

In [119]:
# ï‚· Sort by University Rating, then CGPA.
df.sort_values(['University Rating','CGPA'])

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
58,59,300,99,1,3.0,2.0,6.80,1,0.36
28,29,295,93,1,2.0,2.0,7.20,0,0.46
348,349,302,99,1,2.0,2.0,7.25,0,0.57
347,348,299,94,1,1.0,1.0,7.34,0,0.42
79,80,294,93,1,1.5,2.0,7.36,0,0.46
...,...,...,...,...,...,...,...,...,...
24,25,336,119,5,4.0,3.5,9.80,1,0.97
34,35,331,112,5,4.0,5.0,9.80,1,0.94
385,386,335,117,5,5.0,5.0,9.82,1,0.96
203,204,334,120,5,4.0,5.0,9.87,1,0.97
202,203,340,120,5,4.5,4.5,9.91,1,0.97

In [120]:
# ï‚· Display top 5 rows with highest Chance of Admit.
# df.nlargest(5,'Chance of Admit ')
topfive = df.sort_values('Chance of Admit ', ascending = False)
topfive.head(5)

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
143,144,340,120,4,4.5,4.0,9.92,1,0.97
24,25,336,119,5,4.0,3.5,9.80,1,0.97
202,203,340,120,5,4.5,4.5,9.91,1,0.97
203,204,334,120,5,4.0,5.0,9.87,1,0.97
71,72,336,112,5,5.0,5.0,9.76,1,0.96

In [121]:
# Sort values by TOEFL Score ascending.
toefl_score = df.sort_values('TOEFL Score')
toefl_score

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
368,369,298,92,1,2.0,2.0,7.88,0,0.51
79,80,294,93,1,1.5,2.0,7.36,0,0.46
28,29,295,93,1,2.0,2.0,7.20,0,0.46
347,348,299,94,1,1.0,1.0,7.34,0,0.42
272,273,294,95,1,1.5,1.5,7.64,0,0.49
...,...,...,...,...,...,...,...,...,...
203,204,334,120,5,4.0,5.0,9.87,1,0.97
202,203,340,120,5,4.5,4.5,9.91,1,0.97
143,144,340,120,4,4.5,4.0,9.92,1,0.97
81,82,340,120,4,5.0,5.0,9.50,1,0.96
297,298,320,120,3,4.0,4.5,9.11,0,0.86

In [122]:
# ï‚· Set Serial No. as index.
df.rename(columns = {'Serial No.' : 'Index'} , inplace = True)

In [123]:
# ï‚· Reset index to default.
df.reset_index(drop = True,inplace = True)
df

,Index,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...,...
395,396,324,110,3,3.5,3.5,9.04,1,0.82
396,397,325,107,3,3.0,3.5,9.11,1,0.84
397,398,330,116,4,5.0,4.5,9.45,1,0.91
398,399,312,103,3,3.5,4.0,8.78,0,0.67
399,400,333,117,4,5.0,4.0,9.66,1,0.95

In [124]:
# ï‚· Sort dataset by multiple columns: Research and Chance of Admit.
df.sort_values(['Research' , 'Chance of Admit '], inplace=True)

In [125]:
df.columns

Index(['Index', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP', 'LOR ',
       'CGPA', 'Research', 'Chance of Admit '],
      dtype='object')

In [126]:
# Sort all applicants by CGPA then GRE Score descending.
df.sort_values(['CGPA','GRE Score'] , ascending = [False,False] , inplace = True)

In [127]:
df

,Index,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
143,144,340,120,4,4.5,4.0,9.92,1,0.97
202,203,340,120,5,4.5,4.5,9.91,1,0.97
203,204,334,120,5,4.0,5.0,9.87,1,0.97
385,386,335,117,5,5.0,5.0,9.82,1,0.96
148,149,339,116,4,4.0,3.5,9.80,1,0.96
...,...,...,...,...,...,...,...,...,...
29,30,310,99,2,1.5,2.0,7.30,0,0.54
118,119,296,99,2,3.0,3.5,7.28,0,0.47
348,349,302,99,1,2.0,2.0,7.25,0,0.57
28,29,295,93,1,2.0,2.0,7.20,0,0.46
58,59,300,99,1,3.0,2.0,6.80,1,0.36

In [128]:
# ï‚· Retrieve bottom 10 rows after sorting by GRE Score.
df.sort_values('GRE Score', inplace = True)
df['GRE Score'].tail(10)

130    339
47     339
81     340
25     340
84     340
33     340
202    340
284    340
384    340
143    340
Name: GRE Score, dtype: int64

In [129]:
# ï‚· Use .nlargest() to get top 5 CGPA values.
df.nlargest(5,'CGPA')

,Index,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
143,144,340,120,4,4.5,4.0,9.92,1,0.97
202,203,340,120,5,4.5,4.5,9.91,1,0.97
203,204,334,120,5,4.0,5.0,9.87,1,0.97
385,386,335,117,5,5.0,5.0,9.82,1,0.96
34,35,331,112,5,4.0,5.0,9.80,1,0.94

In [130]:
# ï‚· Use .nsmallest() to get lowest 5 TOEFL Score values.
df.nsmallest(5,'TOEFL Score')

,Index,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
368,369,298,92,1,2.0,2.0,7.88,0,0.51
79,80,294,93,1,1.5,2.0,7.36,0,0.46
28,29,295,93,1,2.0,2.0,7.20,0,0.46
347,348,299,94,1,1.0,1.0,7.34,0,0.42
272,273,294,95,1,1.5,1.5,7.64,0,0.49

In [131]:
# ï‚· Add a new DataFrame containing only students with Research = 1 and
# merge it with main dataset.
df = pd.read_csv("Admission_Predict.csv")

In [132]:
new_dataframe = df[df['Research'] == 1]

In [133]:
df_merge = pd.concat([df,new_dataframe] , ignore_index = True)

In [134]:
df_merge

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...,...
614,395,329,111,4,4.5,4.0,9.23,1,0.89
615,396,324,110,3,3.5,3.5,9.04,1,0.82
616,397,325,107,3,3.0,3.5,9.11,1,0.84
617,398,330,116,4,5.0,4.5,9.45,1,0.91
618,400,333,117,4,5.0,4.0,9.66,1,0.95

In [135]:
# ï‚· Create two DataFrames â€” one for Research = 0, another for Research = 1 â€” and concatenate them.
research_0 = df[df['Research'] == 0]
research_1 = df[df['Research'] == 1]
concat_df = pd.concat([research_0, research_1])

In [136]:
concat_df

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
4,5,314,103,2,2.0,3.0,8.21,0,0.65
7,8,308,101,2,3.0,4.0,7.90,0,0.68
8,9,302,102,1,2.0,1.5,8.00,0,0.50
9,10,323,108,3,3.5,3.0,8.60,0,0.45
15,16,314,105,3,3.5,2.5,8.30,0,0.54
...,...,...,...,...,...,...,...,...,...
394,395,329,111,4,4.5,4.0,9.23,1,0.89
395,396,324,110,3,3.5,3.5,9.04,1,0.82
396,397,325,107,3,3.0,3.5,9.11,1,0.84
397,398,330,116,4,5.0,4.5,9.45,1,0.91
399,400,333,117,4,5.0,4.0,9.66,1,0.95

In [137]:
# Join two DataFrames with same index using .join().
df1 = df[['GRE Score','TOEFL Score']] 
df2 = df[['CGPA', 'Research']]
df1.join(df2)

     GRE Score  TOEFL Score  CGPA  Research
0          337          118  9.65         1
1          324          107  8.87         1
2          316          104  8.00         1
3          322          110  8.67         1
4          314          103  8.21         0
..         ...          ...   ...       ...
395        324          110  9.04         1
396        325          107  9.11         1
397        330          116  9.45         1
398        312          103  8.78         0
399        333          117  9.66         1

[400 rows x 4 columns]

In [138]:
# ï‚· Use .loc[] to select students with index from 10 to 20.
df.loc[10:20]

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
10,11,325,106,3,3.5,4.0,8.4,1,0.52
11,12,327,111,4,4.0,4.5,9.0,1,0.84
12,13,328,112,4,4.0,4.5,9.1,1,0.78
13,14,307,109,3,4.0,3.0,8.0,1,0.62
14,15,311,104,3,3.5,2.0,8.2,1,0.61
15,16,314,105,3,3.5,2.5,8.3,0,0.54
16,17,317,107,3,4.0,3.0,8.7,0,0.66
17,18,319,106,3,4.0,3.0,8.0,1,0.65
18,19,318,110,3,4.0,3.0,8.8,0,0.63
19,20,303,102,3,3.5,3.0,8.5,0,0.62
20,21,312,107,3,3.0,2.0,7.9,1,0.64

In [139]:
# ï‚· Use .iloc[] to select the first 5 rows and first 3 columns.
df.iloc[:5, :3]

   Serial No.  GRE Score  TOEFL Score
0           1        337          118
1           2        324          107
2           3        316          104
3           4        322          110
4           5        314          103

In [140]:
# ï‚· Display all columns except Serial No..
df.loc[:, df.columns != 'Serial No.']

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337,118,4,4.5,4.5,9.65,1,0.92
1,324,107,4,4.0,4.5,8.87,1,0.76
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...
395,324,110,3,3.5,3.5,9.04,1,0.82
396,325,107,3,3.0,3.5,9.11,1,0.84
397,330,116,4,5.0,4.5,9.45,1,0.91
398,312,103,3,3.5,4.0,8.78,0,0.67
399,333,117,4,5.0,4.0,9.66,1,0.95

In [141]:
# ï‚· Select only GRE Score, TOEFL Score, and CGPA columns.
df[['GRE Score', 'TOEFL Score', 'CGPA']]

     GRE Score  TOEFL Score  CGPA
0          337          118  9.65
1          324          107  8.87
2          316          104  8.00
3          322          110  8.67
4          314          103  8.21
..         ...          ...   ...
395        324          110  9.04
396        325          107  9.11
397        330          116  9.45
398        312          103  8.78
399        333          117  9.66

[400 rows x 3 columns]

In [ ]:
df.sort_values(a)

In [216]:
# ï‚· Sort all rows in reverse alphabetical order of index.
# as our index has no alphabets so we can not sort it by alphabetically 
# the try below example for just practice purpose
df[df['GRE Score'] > 325][['TOEFL Score', 'University Rating', 'SOP','LOR ','CGPA']].head().set_index(pd.Index(['A','C','B','E','D'])).sort_index()

   TOEFL Score  University Rating  SOP  LOR   CGPA
A          118                  4  4.5   4.5  9.65
B          111                  4  4.0   4.5  9.00
C          115                  5  4.5   3.0  9.34
D          116                  5  5.0   5.0  9.50
E          112                  4  4.0   4.5  9.10

In [187]:
# ï‚· Extract rows with even index numbers only.
df.iloc[2::2]

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
2,3,316,104,3,3.0,3.5,8.00,1,0.72
4,5,314,103,2,2.0,3.0,8.21,0,0.65
6,7,321,109,3,3.0,4.0,8.20,1,0.75
8,9,302,102,1,2.0,1.5,8.00,0,0.50
10,11,325,106,3,3.5,4.0,8.40,1,0.52
...,...,...,...,...,...,...,...,...,...
390,391,314,102,2,2.0,2.5,8.24,0,0.64
392,393,326,112,4,4.0,3.5,9.12,1,0.84
394,395,329,111,4,4.5,4.0,9.23,1,0.89
396,397,325,107,3,3.0,3.5,9.11,1,0.84
398,399,312,103,3,3.5,4.0,8.78,0,0.67

In [235]:
# ï‚· Display first and last 3 rows of dataset together.
pd.concat([df.head(3), df.tail(3)])

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
397,398,330,116,4,5.0,4.5,9.45,1,0.91
398,399,312,103,3,3.5,4.0,8.78,0,0.67
399,400,333,117,4,5.0,4.0,9.66,1,0.95

In [271]:
# ï‚· Combine two DataFrames vertically using pd.concat().
df11 = df[df['Research'] == 0][['GRE Score','TOEFL Score','University Rating','Research']]
df22 = df[df['Research'] == 1][['GRE Score','TOEFL Score','University Rating','Research']]
pd.concat([df11,df22])

     GRE Score  TOEFL Score  University Rating  Research
4          314          103                  2         0
7          308          101                  2         0
8          302          102                  1         0
9          323          108                  3         0
15         314          105                  3         0
..         ...          ...                ...       ...
394        329          111                  4         1
395        324          110                  3         1
396        325          107                  3         1
397        330          116                  4         1
399        333          117                  4         1

[400 rows x 4 columns]

In [320]:
# ï‚· Sort dataset based on the rounded value of Chance of Admit.
df.sort_values(['Chance of Admit ']).round(1)

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,Chance of admit
376,377,297,96,2,2.5,2.0,7.4,0,0.3,0.3
92,93,298,98,2,4.0,3.0,8.0,0,0.3,0.3
58,59,300,99,1,3.0,2.0,6.8,1,0.4,0.4
94,95,303,99,3,2.0,2.5,7.7,0,0.4,0.4
91,92,299,97,3,5.0,3.5,7.7,0,0.4,0.4
...,...,...,...,...,...,...,...,...,...,...
130,131,339,114,5,4.0,4.5,9.8,1,1.0,1.0
143,144,340,120,4,4.5,4.0,9.9,1,1.0,1.0
202,203,340,120,5,4.5,4.5,9.9,1,1.0,1.0
203,204,334,120,5,4.0,5.0,9.9,1,1.0,1.0
24,25,336,119,5,4.0,3.5,9.8,1,1.0,1.0

In [346]:
# Rearrange columns alphabetically.
df = pd.read_csv('Admission_Predict.csv')

In [352]:
df.columns.sort_values()

Index(['CGPA', 'Chance of Admit ', 'GRE Score', 'LOR ', 'Research', 'SOP',
       'Serial No.', 'TOEFL Score', 'University Rating'],
      dtype='object')

In [378]:
df = df.sort_index(axis=1)

In [380]:
df

,CGPA,Chance of Admit,GRE Score,LOR,Research,SOP,Serial No.,TOEFL Score,University Rating
0,9.65,0.92,337,4.5,1,4.5,1,118,4
1,8.87,0.76,324,4.5,1,4.0,2,107,4
2,8.00,0.72,316,3.5,1,3.0,3,104,3
3,8.67,0.80,322,2.5,1,3.5,4,110,3
4,8.21,0.65,314,3.0,0,2.0,5,103,2
...,...,...,...,...,...,...,...,...,...
395,9.04,0.82,324,3.5,1,3.5,396,110,3
396,9.11,0.84,325,3.5,1,3.0,397,107,3
397,9.45,0.91,330,4.5,1,5.0,398,116,4
398,8.78,0.67,312,4.0,0,3.5,399,103,3
399,9.66,0.95,333,4.0,1,5.0,400,117,4