# Pandas

In [2]:
import pandas as pd

### dictionry to dataframe

In [11]:
data = {
    'date': [ '1/1/2025', '1/2/2025', "1/3/2025", "1/4/2025", "1/5/2025"],
    'city': ['pune', "bangelore", 'nashik', 'mumbai', 'delhi'],
    'temp':[ 23,24,25,30,25],
    'windspeed': [ 10,11,12,13,14]
}

In [13]:
data

{'date': ['1/1/2025', '1/2/2025', '1/3/2025', '1/4/2025', '1/5/2025'],
 'city': ['pune', 'bangelore', 'nashik', 'mumbai', 'delhi'],
 'temp': [23, 24, 25, 30, 25],
 'windspeed': [10, 11, 12, 13, 14]}

In [15]:
df = pd.DataFrame(data)

In [17]:
df

       date       city  temp  windspeed
0  1/1/2025       pune    23         10
1  1/2/2025  bangelore    24         11
2  1/3/2025     nashik    25         12
3  1/4/2025     mumbai    30         13
4  1/5/2025      delhi    25         14

### list to dataframe

In [19]:
data1 = [
    {"date":'1/1/2025',"city":'pune','temp':30,'windspeed':10},
    {"date":'1/2/2025',"city":'mumbai','temp':40,'windspeed':11},
    {"date":'1/3/2025',"city":'banglore','temp':25,'windspeed':12},
    {"date":'1/1/2025',"city":'pune','temp':30,'windspeed':10},
    {"date":'1/1/2025',"city":'pune','temp':30,'windspeed':10},
]

In [21]:
data1

[{'date': '1/1/2025', 'city': 'pune', 'temp': 30, 'windspeed': 10},
 {'date': '1/2/2025', 'city': 'mumbai', 'temp': 40, 'windspeed': 11},
 {'date': '1/3/2025', 'city': 'banglore', 'temp': 25, 'windspeed': 12},
 {'date': '1/1/2025', 'city': 'pune', 'temp': 30, 'windspeed': 10},
 {'date': '1/1/2025', 'city': 'pune', 'temp': 30, 'windspeed': 10}]

In [23]:
df1 = pd.DataFrame(data1)

In [25]:
df1

       date      city  temp  windspeed
0  1/1/2025      pune    30         10
1  1/2/2025    mumbai    40         11
2  1/3/2025  banglore    25         12
3  1/1/2025      pune    30         10
4  1/1/2025      pune    30         10

### list of list

In [39]:
data3 = [
    ['1/1/2025', 'pune', 30, 11],
    ['1/2/2025', 'mumbai', 40 ,13],
    ['1/3/2025', 'banglore', 35, 10],
    ['1/4/2025', 'nashik', 33, 11],
    ['1/5/2025', 'delhi', 31, 12]
]

In [43]:
df3 = pd.DataFrame(data3 , columns=['Date','city','temperature','windspeed'])

In [45]:
df3

       Date      city  temperature  windspeed
0  1/1/2025      pune           30         11
1  1/2/2025    mumbai           40         13
2  1/3/2025  banglore           35         10
3  1/4/2025    nashik           33         11
4  1/5/2025     delhi           31         12

In [70]:
df4 = pd.read_csv(r'iris.csv')

In [72]:
df4

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [76]:
df4.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [78]:
df4.tail()

     sepal_length  sepal_width  petal_length  petal_width    species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [86]:
df4.head(2) # first  2 rows

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa

In [88]:
df4.tail(3)

     sepal_length  sepal_width  petal_length  petal_width    species
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [94]:
### random data riws from the dataset

In [97]:
df4.sample(5)

     sepal_length  sepal_width  petal_length  petal_width     species
97            6.2          2.9           4.3          1.3  versicolor
127           6.1          3.0           4.9          1.8   virginica
143           6.8          3.2           5.9          2.3   virginica
101           5.8          2.7           5.1          1.9   virginica
79            5.7          2.6           3.5          1.0  versicolor

In [92]:
df4.sample(4)

     sepal_length  sepal_width  petal_length  petal_width     species
131           7.9          3.8           6.4          2.0   virginica
105           7.6          3.0           6.6          2.1   virginica
65            6.7          3.1           4.4          1.4  versicolor
62            6.0          2.2           4.0          1.0  versicolor

In [99]:
df4.ndim

2

In [101]:
df4.shape

(150, 5)

In [103]:
df4.shape[0]

150

In [105]:
df4.shape[1]

5

In [107]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [109]:
df4.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [113]:
df['date']

0    1/1/2025
1    1/2/2025
2    1/3/2025
3    1/4/2025
4    1/5/2025
Name: date, dtype: object

In [115]:
df.date

0    1/1/2025
1    1/2/2025
2    1/3/2025
3    1/4/2025
4    1/5/2025
Name: date, dtype: object

In [117]:
df[["date", "city"]]

       date       city
0  1/1/2025       pune
1  1/2/2025  bangelore
2  1/3/2025     nashik
3  1/4/2025     mumbai
4  1/5/2025      delhi

In [123]:
df[['date','city','temp']]

       date       city  temp
0  1/1/2025       pune    23
1  1/2/2025  bangelore    24
2  1/3/2025     nashik    25
3  1/4/2025     mumbai    30
4  1/5/2025      delhi    25

In [127]:
df['temp'].max()

30

In [131]:
df['temp'].min()

23

In [133]:
#get tht row where temp is max

In [135]:
df

       date       city  temp  windspeed
0  1/1/2025       pune    23         10
1  1/2/2025  bangelore    24         11
2  1/3/2025     nashik    25         12
3  1/4/2025     mumbai    30         13
4  1/5/2025      delhi    25         14

In [141]:
df[df['temp'] == df['temp'].max()]

       date    city  temp  windspeed
3  1/4/2025  mumbai    30         13

In [143]:
df[df['temp'] == df['temp'].min()]

       date  city  temp  windspeed
0  1/1/2025  pune    23         10

In [151]:
df['city'][df['temp'] == df['temp'].max()]

3    mumbai
Name: city, dtype: object

In [158]:
df['temp'] > 28

0    False
1    False
2    False
3     True
4    False
Name: temp, dtype: bool

In [160]:
df[df['temp'] > 28]

       date    city  temp  windspeed
3  1/4/2025  mumbai    30         13

In [172]:
df[(df['temp'] > 28) & (df['windspeed'] > 10)]

       date    city  temp  windspeed
3  1/4/2025  mumbai    30         13

In [174]:
df4

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [178]:
df4['species'].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [182]:
df4['species'].value_counts()

species
setosa        50
versicolor    50
virginica     50
Name: count, dtype: int64

In [184]:
dir(pd)

['ArrowDtype',
 'BooleanDtype',
 'Categorical',
 'CategoricalDtype',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'DatetimeTZDtype',
 'ExcelFile',
 'ExcelWriter',
 'Flags',
 'Float32Dtype',
 'Float64Dtype',
 'Grouper',
 'HDFStore',
 'Index',
 'IndexSlice',
 'Int16Dtype',
 'Int32Dtype',
 'Int64Dtype',
 'Int8Dtype',
 'Interval',
 'IntervalDtype',
 'IntervalIndex',
 'MultiIndex',
 'NA',
 'NaT',
 'NamedAgg',
 'Period',
 'PeriodDtype',
 'PeriodIndex',
 'RangeIndex',
 'Series',
 'SparseDtype',
 'StringDtype',
 'Timedelta',
 'TimedeltaIndex',
 'Timestamp',
 'UInt16Dtype',
 'UInt32Dtype',
 'UInt64Dtype',
 'UInt8Dtype',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__docformat__',
 '__file__',
 '__git_version__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_built_with_meson',
 '_config',
 '_is_numpy_dev',
 '_libs',
 '_pandas_datetime_CAPI',
 '_pandas_parser_CAPI',
 '_testing',
 '_typing',
 '_version_meson',
 'annotations',
 'api',
 'array',
 'arrays',
 'bdate_range',
 'compat',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'describe_option',
 'errors',
 'eval',
 'factorize',
 'from_dummies',
 'get_dummies',
 'get_option',
 'infer_freq',
 'interval_range',
 'io',
 'isna',
 'isnull',
 'json_normalize',
 'lreshape',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'notna',
 'notnull',
 'offsets',
 'option_context',
 'options',
 'pandas',
 'period_range',
 'pivot',
 'pivot_table',
 'plotting',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_orc',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_spss',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'read_xml',
 'reset_option',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'test',
 'testing',
 'timedelta_range',
 'to_datetime',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tseries',
 'unique',
 'util',
 'value_counts',
 'wide_to_long']

In [186]:
df

       date       city  temp  windspeed
0  1/1/2025       pune    23         10
1  1/2/2025  bangelore    24         11
2  1/3/2025     nashik    25         12
3  1/4/2025     mumbai    30         13
4  1/5/2025      delhi    25         14

In [188]:
df['city'].value_counts()

city
pune         1
bangelore    1
nashik       1
mumbai       1
delhi        1
Name: count, dtype: int64

In [190]:
df['city'].count()

5

In [192]:
df['city'].unique()

array(['pune', 'bangelore', 'nashik', 'mumbai', 'delhi'], dtype=object)

In [194]:
setosa = df4[df4['species'] == 'setosa']

In [196]:
setosa

    sepal_length  sepal_width  petal_length  petal_width species
0            5.1          3.5           1.4          0.2  setosa
1            4.9          3.0           1.4          0.2  setosa
2            4.7          3.2           1.3          0.2  setosa
3            4.6          3.1           1.5          0.2  setosa
4            5.0          3.6           1.4          0.2  setosa
5            5.4          3.9           1.7          0.4  setosa
6            4.6          3.4           1.4          0.3  setosa
7            5.0          3.4           1.5          0.2  setosa
8            4.4          2.9           1.4          0.2  setosa
9            4.9          3.1           1.5          0.1  setosa
10           5.4          3.7           1.5          0.2  setosa
11           4.8          3.4           1.6          0.2  setosa
12           4.8          3.0           1.4          0.1  setosa
13           4.3          3.0           1.1          0.1  setosa
14           5.8          4.0           1.2          0.2  setosa
15           5.7          4.4           1.5          0.4  setosa
16           5.4          3.9           1.3          0.4  setosa
17           5.1          3.5           1.4          0.3  setosa
18           5.7          3.8           1.7          0.3  setosa
19           5.1          3.8           1.5          0.3  setosa
20           5.4          3.4           1.7          0.2  setosa
21           5.1          3.7           1.5          0.4  setosa
22           4.6          3.6           1.0          0.2  setosa
23           5.1          3.3           1.7          0.5  setosa
24           4.8          3.4           1.9          0.2  setosa
25           5.0          3.0           1.6          0.2  setosa
26           5.0          3.4           1.6          0.4  setosa
27           5.2          3.5           1.5          0.2  setosa
28           5.2          3.4           1.4          0.2  setosa
29           4.7          3.2           1.6          0.2  setosa
30           4.8          3.1           1.6          0.2  setosa
31           5.4          3.4           1.5          0.4  setosa
32           5.2          4.1           1.5          0.1  setosa
33           5.5          4.2           1.4          0.2  setosa
34           4.9          3.1           1.5          0.1  setosa
35           5.0          3.2           1.2          0.2  setosa
36           5.5          3.5           1.3          0.2  setosa
37           4.9          3.1           1.5          0.1  setosa
38           4.4          3.0           1.3          0.2  setosa
39           5.1          3.4           1.5          0.2  setosa
40           5.0          3.5           1.3          0.3  setosa
41           4.5          2.3           1.3          0.3  setosa
42           4.4          3.2           1.3          0.2  setosa
43           5.0          3.5           1.6          0.6  setosa
44           5.1          3.8           1.9          0.4  setosa
45           4.8          3.0           1.4          0.3  setosa
46           5.1          3.8           1.6          0.2  setosa
47           4.6          3.2           1.4          0.2  setosa
48           5.3          3.7           1.5          0.2  setosa
49           5.0          3.3           1.4          0.2  setosa

In [198]:
versicolor = df4[df4['species'] == 'versicolor']

In [200]:
versicolor

    sepal_length  sepal_width  petal_length  petal_width     species
50           7.0          3.2           4.7          1.4  versicolor
51           6.4          3.2           4.5          1.5  versicolor
52           6.9          3.1           4.9          1.5  versicolor
53           5.5          2.3           4.0          1.3  versicolor
54           6.5          2.8           4.6          1.5  versicolor
55           5.7          2.8           4.5          1.3  versicolor
56           6.3          3.3           4.7          1.6  versicolor
57           4.9          2.4           3.3          1.0  versicolor
58           6.6          2.9           4.6          1.3  versicolor
59           5.2          2.7           3.9          1.4  versicolor
60           5.0          2.0           3.5          1.0  versicolor
61           5.9          3.0           4.2          1.5  versicolor
62           6.0          2.2           4.0          1.0  versicolor
63           6.1          2.9           4.7          1.4  versicolor
64           5.6          2.9           3.6          1.3  versicolor
65           6.7          3.1           4.4          1.4  versicolor
66           5.6          3.0           4.5          1.5  versicolor
67           5.8          2.7           4.1          1.0  versicolor
68           6.2          2.2           4.5          1.5  versicolor
69           5.6          2.5           3.9          1.1  versicolor
70           5.9          3.2           4.8          1.8  versicolor
71           6.1          2.8           4.0          1.3  versicolor
72           6.3          2.5           4.9          1.5  versicolor
73           6.1          2.8           4.7          1.2  versicolor
74           6.4          2.9           4.3          1.3  versicolor
75           6.6          3.0           4.4          1.4  versicolor
76           6.8          2.8           4.8          1.4  versicolor
77           6.7          3.0           5.0          1.7  versicolor
78           6.0          2.9           4.5          1.5  versicolor
79           5.7          2.6           3.5          1.0  versicolor
80           5.5          2.4           3.8          1.1  versicolor
81           5.5          2.4           3.7          1.0  versicolor
82           5.8          2.7           3.9          1.2  versicolor
83           6.0          2.7           5.1          1.6  versicolor
84           5.4          3.0           4.5          1.5  versicolor
85           6.0          3.4           4.5          1.6  versicolor
86           6.7          3.1           4.7          1.5  versicolor
87           6.3          2.3           4.4          1.3  versicolor
88           5.6          3.0           4.1          1.3  versicolor
89           5.5          2.5           4.0          1.3  versicolor
90           5.5          2.6           4.4          1.2  versicolor
91           6.1          3.0           4.6          1.4  versicolor
92           5.8          2.6           4.0          1.2  versicolor
93           5.0          2.3           3.3          1.0  versicolor
94           5.6          2.7           4.2          1.3  versicolor
95           5.7          3.0           4.2          1.2  versicolor
96           5.7          2.9           4.2          1.3  versicolor
97           6.2          2.9           4.3          1.3  versicolor
98           5.1          2.5           3.0          1.1  versicolor
99           5.7          2.8           4.1          1.3  versicolor

In [202]:
virginica = df4[df4['species'] == 'virginica']

In [204]:
virginica

     sepal_length  sepal_width  petal_length  petal_width    species
100           6.3          3.3           6.0          2.5  virginica
101           5.8          2.7           5.1          1.9  virginica
102           7.1          3.0           5.9          2.1  virginica
103           6.3          2.9           5.6          1.8  virginica
104           6.5          3.0           5.8          2.2  virginica
105           7.6          3.0           6.6          2.1  virginica
106           4.9          2.5           4.5          1.7  virginica
107           7.3          2.9           6.3          1.8  virginica
108           6.7          2.5           5.8          1.8  virginica
109           7.2          3.6           6.1          2.5  virginica
110           6.5          3.2           5.1          2.0  virginica
111           6.4          2.7           5.3          1.9  virginica
112           6.8          3.0           5.5          2.1  virginica
113           5.7          2.5           5.0          2.0  virginica
114           5.8          2.8           5.1          2.4  virginica
115           6.4          3.2           5.3          2.3  virginica
116           6.5          3.0           5.5          1.8  virginica
117           7.7          3.8           6.7          2.2  virginica
118           7.7          2.6           6.9          2.3  virginica
119           6.0          2.2           5.0          1.5  virginica
120           6.9          3.2           5.7          2.3  virginica
121           5.6          2.8           4.9          2.0  virginica
122           7.7          2.8           6.7          2.0  virginica
123           6.3          2.7           4.9          1.8  virginica
124           6.7          3.3           5.7          2.1  virginica
125           7.2          3.2           6.0          1.8  virginica
126           6.2          2.8           4.8          1.8  virginica
127           6.1          3.0           4.9          1.8  virginica
128           6.4          2.8           5.6          2.1  virginica
129           7.2          3.0           5.8          1.6  virginica
130           7.4          2.8           6.1          1.9  virginica
131           7.9          3.8           6.4          2.0  virginica
132           6.4          2.8           5.6          2.2  virginica
133           6.3          2.8           5.1          1.5  virginica
134           6.1          2.6           5.6          1.4  virginica
135           7.7          3.0           6.1          2.3  virginica
136           6.3          3.4           5.6          2.4  virginica
137           6.4          3.1           5.5          1.8  virginica
138           6.0          3.0           4.8          1.8  virginica
139           6.9          3.1           5.4          2.1  virginica
140           6.7          3.1           5.6          2.4  virginica
141           6.9          3.1           5.1          2.3  virginica
142           5.8          2.7           5.1          1.9  virginica
143           6.8          3.2           5.9          2.3  virginica
144           6.7          3.3           5.7          2.5  virginica
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica