In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('matches.csv')
df1 = pd.read_csv('deliveries.csv')

In [7]:
res1 = df[['id','season']]
res2 = df1[['match_id','batting_team','batsman_runs']]

In [9]:
result = pd.merge(res1,res2,left_on='id',right_on='match_id',how='inner')

In [11]:
result

             id   season  match_id           batting_team  batsman_runs
0        335982  2007/08    335982  Kolkata Knight Riders             0
1        335982  2007/08    335982  Kolkata Knight Riders             0
2        335982  2007/08    335982  Kolkata Knight Riders             0
3        335982  2007/08    335982  Kolkata Knight Riders             0
4        335982  2007/08    335982  Kolkata Knight Riders             0
...         ...      ...       ...                    ...           ...
260915  1426312     2024   1426312  Kolkata Knight Riders             1
260916  1426312     2024   1426312  Kolkata Knight Riders             1
260917  1426312     2024   1426312  Kolkata Knight Riders             1
260918  1426312     2024   1426312  Kolkata Knight Riders             1
260919  1426312     2024   1426312  Kolkata Knight Riders             1

[260920 rows x 5 columns]

In [21]:
com_six = result[result['batsman_runs']==6]

In [23]:
com_six

             id   season  match_id           batting_team  batsman_runs
10       335982  2007/08    335982  Kolkata Knight Riders             6
20       335982  2007/08    335982  Kolkata Knight Riders             6
25       335982  2007/08    335982  Kolkata Knight Riders             6
60       335982  2007/08    335982  Kolkata Knight Riders             6
65       335982  2007/08    335982  Kolkata Knight Riders             6
...         ...      ...       ...                    ...           ...
260868  1426312     2024   1426312  Kolkata Knight Riders             6
260869  1426312     2024   1426312  Kolkata Knight Riders             6
260889  1426312     2024   1426312  Kolkata Knight Riders             6
260895  1426312     2024   1426312  Kolkata Knight Riders             6
260908  1426312     2024   1426312  Kolkata Knight Riders             6

[13051 rows x 5 columns]

In [25]:
ans = com_six.groupby(['season','batting_team'])['batsman_runs'].count().reset_index()

In [27]:
ans

      season                 batting_team  batsman_runs
0    2007/08          Chennai Super Kings            86
1    2007/08              Deccan Chargers            92
2    2007/08             Delhi Daredevils            54
3    2007/08              Kings XI Punjab            95
4    2007/08        Kolkata Knight Riders            76
..       ...                          ...           ...
141     2024               Mumbai Indians           133
142     2024                 Punjab Kings           120
143     2024             Rajasthan Royals           112
144     2024  Royal Challengers Bengaluru           165
145     2024          Sunrisers Hyderabad           178

[146 rows x 3 columns]

In [29]:
df.columns

Index(['id', 'season', 'city', 'date', 'match_type', 'player_of_match',
       'venue', 'team1', 'team2', 'toss_winner', 'toss_decision', 'winner',
       'result', 'result_margin', 'target_runs', 'target_overs', 'super_over',
       'method', 'umpire1', 'umpire2'],
      dtype='object')

In [31]:
df1.columns

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batter', 'bowler', 'non_striker', 'batsman_runs', 'extra_runs',
       'total_runs', 'extras_type', 'is_wicket', 'player_dismissed',
       'dismissal_kind', 'fielder'],
      dtype='object')

In [43]:
res = df[['city','winner','team1','team2']]

In [137]:
winner = pd.crosstab(df['winner'],df['city'])

In [139]:
winner

city,Abu Dhabi,Ahmedabad,Bangalore,Bengaluru,Bloemfontein,Cape Town,Centurion,Chandigarh,Chennai,Cuttack,...,Mumbai,Nagpur,Navi Mumbai,Port Elizabeth,Pune,Raipur,Rajkot,Ranchi,Sharjah,Visakhapatnam
winner,,,,,,,,,,,,,,,,,,,,,
Chennai Super Kings,4,1,4,2,0,0,2,3,50,0,...,18,0,2,2,7,0,0,3,2,2
Deccan Chargers,0,0,1,0,0,2,2,0,2,3,...,3,2,0,0,1,0,0,0,0,0
Delhi Capitals,3,4,0,1,0,0,0,0,2,0,...,8,0,2,0,0,0,0,0,1,2
Delhi Daredevils,0,1,3,0,1,1,2,1,2,0,...,3,0,0,1,3,4,1,0,0,1
Gujarat Lions,0,0,1,0,0,0,0,2,0,0,...,1,0,0,0,1,0,3,0,0,0
Gujarat Titans,0,9,0,1,0,0,0,1,0,0,...,6,0,1,0,3,0,0,0,0,0
Kings XI Punjab,2,1,5,0,1,1,0,30,2,1,...,5,0,0,1,1,0,2,0,0,1
Kochi Tuskers Kerala,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
Kolkata Knight Riders,8,3,6,4,0,0,1,4,5,3,...,7,0,1,0,8,0,1,1,4,1
Lucknow Super Giants,0,0,0,2,0,0,0,1,1,0,...,7,0,1,0,2,0,0,0,0,0
Mumbai Indians,8,1,8,1,0,1,1,5,8,0,...,64,0,1,2,4,0,1,0,1,2
Pune Warriors,0,0,0,0,0,0,0,1,1,0,...,3,0,0,0,4,0,0,1,0,0
Punjab Kings,0,2,0,0,0,0,0,1,3,0,...,7,0,1,0,1,0,0,0,1,0
Rajasthan Royals,7,10,3,1,0,1,2,3,2,0,...,17,1,0,1,4,0,0,0,0,1
Rising Pune Supergiant,0,0,1,0,0,0,0,0,0,0,...,2,0,0,0,5,0,0,0,0,0
Rising Pune Supergiants,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,2
Royal Challengers Bangalore,2,2,29,11,0,1,2,5,5,0,...,12,0,0,0,6,1,1,1,1,0
Royal Challengers Bengaluru,0,1,0,4,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Sunrisers Hyderabad,3,1,2,1,0,0,0,4,2,0,...,8,0,0,0,1,1,1,1,0,3

In [145]:
# strik rate of a batsman

In [151]:
strike_rate = df1[['over', 'ball','batter','batsman_runs']]

In [169]:
ans3 = strike_rate.groupby('over')['batsman_runs']

In [181]:
t1 = df1[['over', 'ball','batter','batsman_runs']]

In [183]:
t1

        over  ball       batter  batsman_runs
0          0     1   SC Ganguly             0
1          0     2  BB McCullum             0
2          0     3  BB McCullum             0
3          0     4  BB McCullum             0
4          0     5  BB McCullum             0
...      ...   ...          ...           ...
260915     9     5      SS Iyer             1
260916     9     6      VR Iyer             1
260917    10     1      VR Iyer             1
260918    10     2      SS Iyer             1
260919    10     3      VR Iyer             1

[260920 rows x 4 columns]

In [207]:
ans3 = t1.groupby('batter')['batsman_runs'].sum()

In [209]:
ans3

batter
A Ashish Reddy     280
A Badoni           634
A Chandila           4
A Chopra            53
A Choudhary         25
                  ...
Yashpal Singh       47
Younis Khan          3
Yudhvir Singh       22
Yuvraj Singh      2754
Z Khan             117
Name: batsman_runs, Length: 673, dtype: int64

In [211]:
ans4 = t1.groupby('batter')['ball'].sum()

In [213]:
ans4

batter
A Ashish Reddy     720
A Badoni          1882
A Chandila          23
A Chopra           273
A Choudhary         71
                  ...
Yashpal Singh      250
Younis Khan         25
Yudhvir Singh       67
Yuvraj Singh      8162
Z Khan             525
Name: ball, Length: 673, dtype: int64

In [215]:
result1 = pd.merge(ans3,ans4,left_on='batter',right_on='batter',how='inner')

result1

In [221]:
result1['strike_rate'] = result1['battsman_runs'] / result1['ball']*100

KeyError: 'battsman_runs'

In [257]:
powerplay = df1[df1['over'] <= 5]

In [259]:
ss = df1.powerplay

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
2,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN
3,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
4,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,5,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260888,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,5,2,VR Iyer,T Natarajan,Rahmanullah Gurbaz,4,0,4,NaN,0,NaN,NaN,NaN
260889,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,5,3,VR Iyer,T Natarajan,Rahmanullah Gurbaz,6,0,6,NaN,0,NaN,NaN,NaN
260890,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,5,4,VR Iyer,T Natarajan,Rahmanullah Gurbaz,4,0,4,NaN,0,NaN,NaN,NaN
260891,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,5,5,VR Iyer,T Natarajan,Rahmanullah Gurbaz,1,0,1,NaN,0,NaN,NaN,NaN
260892,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,5,6,Rahmanullah Gurbaz,T Natarajan,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN

In [261]:
# which season had the highest number of scored

In [263]:
df.columns

Index(['id', 'season', 'city', 'date', 'match_type', 'player_of_match',
       'venue', 'team1', 'team2', 'toss_winner', 'toss_decision', 'winner',
       'result', 'result_margin', 'target_runs', 'target_overs', 'super_over',
       'method', 'umpire1', 'umpire2'],
      dtype='object')

In [267]:
df1.columns

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batter', 'bowler', 'non_striker', 'batsman_runs', 'extra_runs',
       'total_runs', 'extras_type', 'is_wicket', 'player_dismissed',
       'dismissal_kind', 'fielder'],
      dtype='object')

In [269]:
a1 = df[['id','season']]
a2 = df1[['match_id','total_runs']]

In [271]:
ress = pd.merge(a1,a2,left_on='id',right_on='match_id',how='inner')

In [279]:
final = ress.groupby('season')['total_runs'].sum()

In [283]:
final.sort_values(ascending=False)

season
2024       25971
2023       25688
2022       24395
2013       22602
2012       22453
2011       21154
2018       19901
2019       19434
2020/21    19416
2014       18931
2009/10    18883
2016       18862
2017       18786
2021       18637
2015       18353
2007/08    17937
2009       16353
Name: total_runs, dtype: int64

In [306]:
b1 = df[['id','winner']]
b2 = df1[['match_id','total_runs']]

In [308]:
res_merge = pd.merge(b1,b2,left_on='id',right_on='match_id',how='inner')

In [334]:
res_merge.drop(columns = 'match_id', inplace=True)

AttributeError: 'NoneType' object has no attribute 'drop'

In [342]:
ress  = pd.merge(df,df1,left_on='id',right_on='match_id',how='inner')

In [358]:
ress.groupby('match_id')['total_runs'].sum()

match_id
335982     304
335983     447
335984     261
335985     331
335986     222
          ...
1426307    429
1426309    323
1426310    346
1426311    314
1426312    227
Name: total_runs, Length: 1095, dtype: int64

In [352]:
abc = ress.sort_values(by='total_runs', ascending=False)

In [356]:
abc

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,...,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
142451,1082615,2017,Pune,2017-04-22,League,MS Dhoni,Maharashtra Cricket Association Stadium,Rising Pune Supergiant,Sunrisers Hyderabad,Rising Pune Supergiant,...,Imran Tahir,MC Henriques,6,1,7,noballs,0,NaN,NaN,NaN
206718,1254088,2021,Abu Dhabi,2021-10-08,League,Ishan Kishan,"Zayed Cricket Stadium, Abu Dhabi",Mumbai Indians,Sunrisers Hyderabad,Mumbai Indians,...,KH Pandya,Mohammad Nabi,6,1,7,noballs,0,NaN,NaN,NaN
172778,1178409,2019,Delhi,2019-04-18,League,HH Pandya,Arun Jaitley Stadium,Mumbai Indians,Delhi Capitals,Mumbai Indians,...,KMA Paul,Q de Kock,6,1,7,noballs,0,NaN,NaN,NaN
91264,598060,2013,Mumbai,2013-05-13,League,KA Pollard,Wankhede Stadium,Mumbai Indians,Sunrisers Hyderabad,Sunrisers Hyderabad,...,A Mishra,RG Sharma,6,1,7,noballs,0,NaN,NaN,NaN
8850,336021,2007/08,Mumbai,2008-05-16,League,SM Pollock,Wankhede Stadium,Mumbai Indians,Kolkata Knight Riders,Mumbai Indians,...,I Sharma,DJ Thornely,6,1,7,noballs,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57469,501267,2011,Kolkata,2011-05-22,League,JEC Franklin,Eden Gardens,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,...,JEC Franklin,JH Kallis,0,0,0,NaN,1,YK Pathan,caught,AN Ahmed
100026,733977,2014,Bangalore,2014-05-04,League,AB de Villiers,M Chinnaswamy Stadium,Royal Challengers Bangalore,Sunrisers Hyderabad,Royal Challengers Bangalore,...,VR Aaron,S Dhawan,0,0,0,NaN,0,NaN,NaN,NaN
194187,1254060,2021,Chennai,2021-04-11,League,N Rana,"MA Chidambaram Stadium, Chepauk, Chennai",Kolkata Knight Riders,Sunrisers Hyderabad,Sunrisers Hyderabad,...,Sandeep Sharma,RA Tripathi,0,0,0,NaN,0,NaN,NaN,NaN
144399,1082624,2017,Pune,2017-04-29,League,LH Ferguson,Maharashtra Cricket Association Stadium,Rising Pune Supergiant,Royal Challengers Bangalore,Royal Challengers Bangalore,...,JD Unadkat,AF Milne,0,0,0,NaN,0,NaN,NaN,NaN
60239,548313,2012,Pune,2012-04-08,League,MN Samuels,Subrata Roy Sahara Stadium,Pune Warriors,Kings XI Punjab,Pune Warriors,...,P Kumar,MN Samuels,0,0,0,NaN,0,NaN,NaN,NaN

In [362]:
# 43. Identify the match where the most fell.
df.columns

Index(['id', 'season', 'city', 'date', 'match_type', 'player_of_match',
       'venue', 'team1', 'team2', 'toss_winner', 'toss_decision', 'winner',
       'result', 'result_margin', 'target_runs', 'target_overs', 'super_over',
       'method', 'umpire1', 'umpire2'],
      dtype='object')

In [364]:
df1.columns

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batter', 'bowler', 'non_striker', 'batsman_runs', 'extra_runs',
       'total_runs', 'extras_type', 'is_wicket', 'player_dismissed',
       'dismissal_kind', 'fielder'],
      dtype='object')

In [366]:
merge = pd.merge(df,df1,left_on='id',right_on='match_id',how='inner')

In [370]:
merge

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,...,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,...,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,...,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
2,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,...,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN
3,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,...,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
4,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,...,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260915,1426312,2024,Chennai,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,...,AK Markram,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260916,1426312,2024,Chennai,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,...,AK Markram,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260917,1426312,2024,Chennai,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,...,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260918,1426312,2024,Chennai,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,...,Shahbaz Ahmed,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260919,1426312,2024,Chennai,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,...,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN