In [5]:
import pandas as pd

In [7]:
df =pd.read_csv("matches.csv")

In [9]:
df2 = pd.read_csv("deliveries.csv")

In [11]:
merge = pd.merge(df,df2,left_on='id',right_on='match_id',how='inner')

In [13]:
merge

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,...,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,...,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,...,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
2,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,...,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN
3,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,...,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
4,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,...,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260915,1426312,2024,Chennai,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,...,AK Markram,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260916,1426312,2024,Chennai,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,...,AK Markram,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260917,1426312,2024,Chennai,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,...,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260918,1426312,2024,Chennai,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,...,Shahbaz Ahmed,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260919,1426312,2024,Chennai,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,...,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN

In [15]:
df.columns

Index(['id', 'season', 'city', 'date', 'match_type', 'player_of_match',
       'venue', 'team1', 'team2', 'toss_winner', 'toss_decision', 'winner',
       'result', 'result_margin', 'target_runs', 'target_overs', 'super_over',
       'method', 'umpire1', 'umpire2'],
      dtype='object')

In [17]:
df2.columns

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batter', 'bowler', 'non_striker', 'batsman_runs', 'extra_runs',
       'total_runs', 'extras_type', 'is_wicket', 'player_dismissed',
       'dismissal_kind', 'fielder'],
      dtype='object')

In [19]:
df['match_label'] = df['season']+df['city']

In [21]:
df['match_label']

0        2007/08Bangalore
1       2007/08Chandigarh
2            2007/08Delhi
3           2007/08Mumbai
4          2007/08Kolkata
              ...
1090        2024Hyderabad
1091        2024Ahmedabad
1092        2024Ahmedabad
1093          2024Chennai
1094          2024Chennai
Name: match_label, Length: 1095, dtype: object

In [39]:
res1 = df[['id','season']]

In [41]:
res2 = df2[['match_id','batting_team','total_runs']]

In [43]:
result = pd.merge(res1,res2,left_on='id',right_on='match_id',how='inner')

In [45]:
result

             id   season  match_id           batting_team  total_runs
0        335982  2007/08    335982  Kolkata Knight Riders           1
1        335982  2007/08    335982  Kolkata Knight Riders           0
2        335982  2007/08    335982  Kolkata Knight Riders           1
3        335982  2007/08    335982  Kolkata Knight Riders           0
4        335982  2007/08    335982  Kolkata Knight Riders           0
...         ...      ...       ...                    ...         ...
260915  1426312     2024   1426312  Kolkata Knight Riders           1
260916  1426312     2024   1426312  Kolkata Knight Riders           1
260917  1426312     2024   1426312  Kolkata Knight Riders           1
260918  1426312     2024   1426312  Kolkata Knight Riders           1
260919  1426312     2024   1426312  Kolkata Knight Riders           1

[260920 rows x 5 columns]

In [55]:
result.groupby(['season','batting_team']).sum()

                                             id    match_id  total_runs
season  batting_team
2007/08 Chennai Super Kings           629688204   629688204        2520
        Deccan Chargers               560465187   560465187        2229
        Delhi Daredevils              519808638   519808638        2118
        Kings XI Punjab               584322551   584322551        2464
        Kolkata Knight Riders         523164783   523164783        1942
...                                         ...         ...         ...
2024    Mumbai Indians               2402628225  2402628225        2568
        Punjab Kings                 2412652589  2412652589        2487
        Rajasthan Royals             2611007904  2611007904        2647
        Royal Challengers Bengaluru  2590402601  2590402601        2930
        Sunrisers Hyderabad          2735031331  2735031331        3052

[146 rows x 3 columns]

In [97]:
res = merge[['id', 'season','match_id','bowler','player_dismissed']]

In [103]:
res.dropna()

             id   season  match_id         bowler    player_dismissed
33       335982  2007/08    335982         Z Khan          SC Ganguly
74       335982  2007/08    335982      JH Kallis          RT Ponting
106      335982  2007/08    335982      AA Noffke           DJ Hussey
131      335982  2007/08    335982       I Sharma            R Dravid
138      335982  2007/08    335982       AB Dinda             V Kohli
...         ...      ...       ...            ...                 ...
260826  1426312     2024   1426312   Harshit Rana           H Klaasen
260848  1426312     2024   1426312      SP Narine          JD Unadkat
260852  1426312     2024   1426312     AD Russell          PJ Cummins
260861  1426312     2024   1426312     PJ Cummins           SP Narine
260909  1426312     2024   1426312  Shahbaz Ahmed  Rahmanullah Gurbaz

[12950 rows x 5 columns]

In [107]:
res.groupby(['season','bowler','player_dismissed']).count()

                                        id  match_id
season  bowler        player_dismissed
2007/08 A Kumble      DJ Hussey          1         1
                      HH Gibbs           1         1
                      KD Karthik         1         1
                      PA Patel           1         1
                      S Badrinath        1         1
...                                     ..       ...
2024    Yash Thakur   Rashid Khan        1         1
                      SS Iyer            1         1
                      Shubman Gill       1         1
                      V Shankar          1         1
        Yudhvir Singh A Raghuvanshi      1         1

[12396 rows x 2 columns]

In [95]:
merge[merge['player_dismissed']

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,...,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,...,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,...,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
2,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,...,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN
3,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,...,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
4,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,...,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260915,1426312,2024,Chennai,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,...,AK Markram,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260916,1426312,2024,Chennai,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,...,AK Markram,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260917,1426312,2024,Chennai,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,...,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260918,1426312,2024,Chennai,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,...,Shahbaz Ahmed,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260919,1426312,2024,Chennai,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,...,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN

In [119]:
merge.columns

Index(['id', 'season', 'city', 'date', 'match_type', 'player_of_match',
       'venue', 'team1', 'team2', 'toss_winner', 'toss_decision', 'winner',
       'result', 'result_margin', 'target_runs', 'target_overs', 'super_over',
       'method', 'umpire1', 'umpire2', 'match_id', 'inning', 'batting_team',
       'bowling_team', 'over', 'ball', 'batter', 'bowler', 'non_striker',
       'batsman_runs', 'extra_runs', 'total_runs', 'extras_type', 'is_wicket',
       'player_dismissed', 'dismissal_kind', 'fielder'],
      dtype='object')

In [129]:
a1 = df[['id','season']]
a2 = df2[['match_id','over','batting_team','total_runs']]

In [131]:
res = pd.merge(a1,a2, left_on='id',right_on='match_id',how='inner')

In [145]:
season = res[res['season'] == '2017']

In [137]:
df['season'].unique()

array(['2007/08', '2009', '2009/10', '2011', '2012', '2013', '2014',
       '2015', '2016', '2017', '2018', '2019', '2020/21', '2021', '2022',
       '2023', '2024'], dtype=object)

In [167]:
final = season.groupby(['over','batting_team'])['total_runs'].mean()

In [169]:
final

over  batting_team
0     Delhi Daredevils               0.873563
      Gujarat Lions                  1.202128
      Kings XI Punjab                1.142857
      Kolkata Knight Riders          1.280000
      Mumbai Indians                 1.043478
                                       ...
19    Kolkata Knight Riders          1.307692
      Mumbai Indians                 1.938272
      Rising Pune Supergiant         1.962500
      Royal Challengers Bangalore    1.696970
      Sunrisers Hyderabad            1.823529
Name: total_runs, Length: 160, dtype: float64

In [165]:
pd.crosstab(merge['over'],merge['total_runs']).mean()

total_runs
0    4521.90
1    5422.00
2     866.15
3      46.10
4    1511.05
5      26.20
6     648.20
7       4.40
dtype: float64

In [171]:
match_type = merge[merge['match_type'] == 'Final']

In [183]:
players = merge[['batter','batsman_runs']]

In [187]:
final = merge[['match_type','batter','batsman_runs']]

In [199]:
score = final[final['match_type'] == 'Final']

In [225]:
result = score.groupby('batter')['batsman_runs'].sum().reset_index()

In [237]:
finals = result.sort_values(by =['batsman_runs'] ,ascending = False)

In [239]:
finals.head()

         batter  batsman_runs
116    SK Raina           249
125   SR Watson           236
102   RG Sharma           183
63      M Vijay           181
50   KA Pollard           180

In [241]:
df.columns

Index(['id', 'season', 'city', 'date', 'match_type', 'player_of_match',
       'venue', 'team1', 'team2', 'toss_winner', 'toss_decision', 'winner',
       'result', 'result_margin', 'target_runs', 'target_overs', 'super_over',
       'method', 'umpire1', 'umpire2', 'match_label'],
      dtype='object')

In [243]:
df2.columns

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batter', 'bowler', 'non_striker', 'batsman_runs', 'extra_runs',
       'total_runs', 'extras_type', 'is_wicket', 'player_dismissed',
       'dismissal_kind', 'fielder'],
      dtype='object')

In [264]:
a1 = df[['id', 'season']]
a2 = df2[['match_id','bowler','over','ball','total_runs']]

In [266]:
merge1 = pd.merge(a1,a2,left_on='id',right_on='match_id',how='inner')

In [268]:
merge1

             id   season  match_id         bowler  over  ball  total_runs
0        335982  2007/08    335982        P Kumar     0     1           1
1        335982  2007/08    335982        P Kumar     0     2           0
2        335982  2007/08    335982        P Kumar     0     3           1
3        335982  2007/08    335982        P Kumar     0     4           0
4        335982  2007/08    335982        P Kumar     0     5           0
...         ...      ...       ...            ...   ...   ...         ...
260915  1426312     2024   1426312     AK Markram     9     5           1
260916  1426312     2024   1426312     AK Markram     9     6           1
260917  1426312     2024   1426312  Shahbaz Ahmed    10     1           1
260918  1426312     2024   1426312  Shahbaz Ahmed    10     2           1
260919  1426312     2024   1426312  Shahbaz Ahmed    10     3           1

[260920 rows x 7 columns]

In [292]:
f = merge1.groupby(['bowler','over','ball'])['total_runs'].sum().reset_index()

In [298]:
ans = f.groupby()

               bowler  over  ball  total_runs
0      A Ashish Reddy     5     1           0
1      A Ashish Reddy     5     2           6
2      A Ashish Reddy     5     3           6
3      A Ashish Reddy     5     4           4
4      A Ashish Reddy     5     5           0
...               ...   ...   ...         ...
42926          Z Khan    19     2          20
42927          Z Khan    19     3          27
42928          Z Khan    19     4          20
42929          Z Khan    19     5          13
42930          Z Khan    19     6           8

[42931 rows x 4 columns]

In [310]:
# Economy Rate = Runs Conceded ÷ Overs Bowled
f['total_runs'] / f['over']

0        0.000000
1        1.200000
2        1.200000
3        0.800000
4        0.000000
           ...
42926    1.052632
42927    1.421053
42928    1.052632
42929    0.684211
42930    0.421053
Length: 42931, dtype: float64

In [308]:
bowler.sort_values().head()

0        0.0
6253     0.0
26783    0.0
26797    0.0
26806    0.0
dtype: float64